﻿@using Sitecore.Mvc

<!-- Theme Start -->
<div id="theme-wrap">
    <!-- Header Start -->
    <header class="row head-foot-no-right-margin">
        @Html.Sitecore().Placeholder("header")
    </header>
    <!-- Header End -->
    <div class="container">
        <!-- Sublayout Start -->
        <div id="sublayout" class="row">
            @Html.Sitecore().Placeholder("sublayout")
        </div>
        <!-- Sublayout End -->
    </div>
    <!-- Footer Start -->
    <footer class="row head-foot-no-right-margin">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- Footer End -->
</div>
<!-- Theme End -->
