﻿@using Sitecore.Mvc


<!-- Two Column Right Layout Start -->

<!-- Left Column Start -->
<div id="left-column" class="col-md-3">
    @Html.Sitecore().Placeholder("leftsidebar")
</div>
<!-- Left Column End -->

<!-- Main Right Column Start -->
<div id="right-column" class="col-md-9">
    @Html.Sitecore().Placeholder("content")
</div>
<!-- Main Right Column End -->

<!-- Two Column Right Layout End -->
