﻿@using Sitecore.Mvc

<!-- Two Column Left Layout Start -->

<!-- Main Left Column Start -->
<div id="left-column" class="col-md-7">
    @Html.Sitecore().Placeholder("content")
</div>
<!-- Main Left Column End -->

<!-- Right Column Start -->
<div id="right-column" class="col-md-5">
    @Html.Sitecore().Placeholder("rightsidebar")
</div>
<!-- Right Column End -->

<!-- Two Column Left Layout End -->
<div id="bottom-content" class="col-md-12">
    @Html.Sitecore().Placeholder("contentfullwidth")
</div>