﻿@using Sitecore.Mvc;
@using BPP93Helix.Feature.PageContent.Models;
@model FAQComponent

@{ 
    int count = 1;
}

<style>
    .au-faq-question, .au-faq-answer {
        margin: 20px 0;
    }

    .au-faq-question {
        color: #006ac3;
        text-transform: uppercase;
        font-size: 18px;
    }

    .au-faq-answer {
        color: gray;
        font-size: 16px;
    }
</style>

<div>
    @foreach(FAQ faq in Model._Items)
    {
        <div class="au-faq-question">
           @count. @faq.Question
        </div>
        <div class="au-faq-answer answer">
            @Html.Raw(faq.Answer)
        </div>

        count++;
    }

</div>

