﻿@using Sitecore.Mvc
@using BPP93Helix.Feature.PageContent.Models
@model FAQComponent

<style type="text/css">

</style>

<div class="faqs">
    <h3>@Model.ComponentTitle</h3>
        <div class="@(Model.FullPage != "1" ? "faqs-scrollbar" : "")" id="@(Model.FullPage != "1" ? "style-2" : "")">
                <div class="">
                @if (Model != null && Model._Items != null & Model._Items.Count > 0)
                {
                    foreach (var m in Model._Items)
                    {
                        <div class="faq">
                            <div>
                                <span class="faq-letter col-xs-1">Q:</span>
                                <div class="faq-question col-xs-11"> @m.Question</div>
                            </div>
                            
                            <div class="prov-landing-botom">
                                <span class="faq-letter col-xs-1">A:</span>
                                <div class="faq-answer col-xs-11"> @Html.Raw(m.Answer)</div>
                            </div>
                        </div>
                    }
                }
                </div>
        </div>
</div>