﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication

@{ var ActivationKey = Html.ValueFor(x => x._Member.ActivationKey); }
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "practicenames" }))
{
    @Html.HiddenFor(x => x._Member.ActivationKey, new { ID = "ActivationKey" })
    @Html.Sitecore().FormHandler("PracticeName", "SubmitPracticeNames")
    <div class="new-applicant bpp-app-form">
        <h2 class="h2color">Practice Information</h2>

        <div class="practices-multi dynamic-section">
            <div class="practice-multi">
                <div class="row">
                    <div class="col-md-4">
                        <label class="placeholder">Practice Name</label>
                        <input id="practiceName-0" name="practiceName-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Practice Name/Doing Business As" onchange="validatePracticeName(this)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="PracticeNameExists-0" style="display:none;color:red">This Practice already exist for this TIN. If you're looking to add providers for this particular practice, please return to the Returning Member page and select the "Add Providers" option. If you continue, this Practice will not be saved.</div>
                    </div>
                </div>
                <div class="row savespace">
                    <div class="col-md-6">
                        <div class="remove-section" onclick="removeSection('practice-multi', $(this))" style="display:none;">
                            <span class="fa fa-minus"></span> Remove Practice
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="add-section" onclick="addSection('practiceMulti', $(this),@Html.Raw(Json.Encode(Model._PracticeNames)))">
                            <span class="fa fa-plus"></span> Add Practice
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row savespace">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <input id="btnSavePracticeName" type="submit" class="bpp-save-btn pm-button-active-style" value="Save & Continue" onclick="CheckForm_PracticeNames()" />
                @*<input type="button" id="btnSavePracticeName" class="bpp-save-btn pm-button-active-style" onclick=" CheckForm_PracticeNames()" value="Save & Continue" />*@
            </div>
        </div>
    </div>

}
<script type="text/javascript" src="~/Scripts/bppPracticeName.js"></script>

