﻿@using Sitecore.Mvc
@model BPP93Helix.Feature.PageContent.Models.ContactUs

<script>
  $(document).ready(function () {
    $("form").submit(function (e) {
      var v = grecaptcha.getResponse();
      if (v.length == 0) {
        e.preventDefault(); 
        return false;
      }
      return true;
    });
  });
</script>
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "contactus" }))
{
    @Html.Sitecore().FormHandler("ContactUs", "SubmitContact")
   
    <link rel="stylesheet" href="~/Content/contactus.css">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <p>Please contact us via the form below.</p>
        @Html.ValidationSummary("", new { @class = "label-color", style = "background-color: #f2dede;" })
        <label class="label-color">*</label>@Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { Class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.FirstName)
        <br />
        <label class="label-color">*</label>@Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, new { Class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.LastName)
        <br />
        <label class="label-color">*</label>@Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { Class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.Email)
        <br />
        <label class="label-color">*</label>@Html.LabelFor(x => x.Phone)
        @Html.TextBoxFor(x => x.Phone, new { Class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.Phone)
        <br />
        <label class="label-color">*</label>@Html.LabelFor(x => x.Role, new { id = "Role_label" })
        @Html.DropDownListFor(x => x.Role, @Model.RoleDD, "", new { Class = "form-control", id = "Role", @required = "required" })
        @Html.ValidationMessageFor(x => x.Role)
        <br />
        @Html.LabelFor(x => x.Message, new { id = "Message_label" })
        @Html.TextAreaFor(x => x.Message, new { Class = "form-control", @rows = 10, @required = "required" })
        @Html.ValidationMessageFor(x => x.Message)
        <br />
        <p>Before you submit the form, please complete the captcha below.</p>
        <div class="g-recaptcha" data-sitekey="6LcLez8bAAAAAAE030hRAVCO8I3YEzZ6yOlagxL6"></div>
        <br/>
        <input type="submit" value="SUBMIT" id="btnSubmit" class="btn" />
    </div>
}
