﻿<div style="min-height:550px">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <p>Thank you for your interest in Baptist Physician Partners. We will contact you within 2 business days.</p>
    </div>
</div>