﻿@using Sitecore.Mvc;
@model BHSearch.Models.DocumentResultView

@if (Model != null)
{
    if (Model.Documents != null && Model.Documents.Count > 0)
    {
        var count = Model.Start + 1;

        foreach (var item in Model.Documents)
        {
            @*<hr />
                <div>@count</div>
                <div>@item.Thumbnail</div>
                <div>@(!String.IsNullOrEmpty(item.Title) ? item.Title : item.BackupTitle)</div>
                <div>@item.Created</div>
                <div>@item.Updated</div>
                <div>@item.Description</div>
                count++;*@
            <li class="dcenter-result">

                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <div class="dcenter-result-image">
                            <img alt='No Image' src='@string.Format("/Images/{0}", @item.Extension)' />
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <div class="dcenter-name">
                            <a href="@Url.Action("Download", "DocumentCenter", new { FilePath = item.Path })"
                               type="submit"
                               id="runReport"
                               target="_blank"
                               class="dcenter-url">
                                @(!String.IsNullOrEmpty(item.Title) ? item.Title : item.BackupTitle)
                            </a>

                            @*<a class="dcenter-url" href='#'>
                                    @(!String.IsNullOrEmpty(item.Title) ? item.Title : item.BackupTitle)
                                </a>*@

                            @if ((DateTime.Now - @item.Created).TotalDays < 10)
                            {
                                <br class="visible-xs hidden-md hidden-lg" /><span class="dcenter-title-span2">new</span>
                            }

                        </div>
                        <p>@item.Description</p>
                        <ul class="dcenter-doc-detail">
                            <li>Date Created: <span id="dcenter-dateCreated">@item.Created</span></li>
                            <li>Date Updated: @item.Updated</li>
                            @*<li>Category:</li>
                                <span>Legal</span>*@
                        </ul>

                    </div>

                    <div class="col-xs-4 col-xs-push-4   col-sm-1 col-sm-push-0 col-md-2 col-md-push-0">
                        <a href="@Url.Action("Download", "DocumentCenter", new { FilePath = item.Path })"
                           type="submit"
                           id="runReport"
                           target="_blank"
                           class="dcenter-url">
                            <button class="dcenter-download dcenter-download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                        </a>


                    </div>
                </div>
                <hr class="dcenter-result-hr">
            </li>
        }
    }
    else
    {
        <div class="col-xs-3 hidden-xs"></div>
        <div class="col-xs-2 hidden-lg"></div>
        <div class="col-xs-9 dcenter-nodoc">No documents found</div>
    }


}
<script type="text/javascript">
    function Download() {

    }
</script>