﻿@using Sitecore.Mvc

<div class="container">
    @*<h1 class="dcenter-header">@Html.Sitecore().Field("Title")</h1><br>*@
    <form id="docCenterSearchForm">
        <div class="row">
            <div class="col-md-10 col-xs-11">
                <input id="query" type="text" name="query" placeholder="Enter Search Term" class="form-control" autofocus />
            </div>
            <div class="col-md-2 col-md-push-0 col-sm-2 col-xs-3">
                <button type="submit" class="dcenter-search-btn"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form><br>
    <div class="row">
        <div class="col-md-3">
            <div class="dcenter-sort-wrap">
                <label class="dcenter-sort-label hidden-xs">
                    Show
                    <select id="option-sort" class="form-control dcenter-sort">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>entries
                </label>
            </div>


        </div>
        <div class="col-md-6 dcenter-topsort-margin">

            <ul class="">
                <li>
                    <label>Sort By :</label>
                </li>
                <li>
                    <a href="" id="dcenter-datemodified">Date Modified</a>
                </li>
                <li>
                    <a href="" id="dcenter-datecreated">Date Created</a>
                </li>

                <li>
                    <select id="dcenter-az">
                        <option value="A-Z">A-Z</option>
                        <option value="Z-A">Z-A</option>
                    </select>
                </li>

            </ul>


        </div>
        <div class="dcenter-topsort-margin col-md-3">
            <label>Current Categories:</label>
            <span id="current-cat"></span>
        </div>
    </div>
    <div class="row visible-xs visible-sm">
        <div class="col-md-12">
            <div class="dcenter-result-filter">
                <p>
                    <a id="dcenter-filter-toggle">
                        Refine by Category
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-md-12 dcenter-refine-show hidden-xs hidden-sm" id="dcenter-showing-top">Showing 0 - 0 of 0 entries</div>

        <div class="col-md-3">
            <div class="dcenter-filters-container">
                <div class="dcenter-filters-header hidden-xs hidden-sm">Refine by Category</div>
                <div id="type" class="dcenter-filters">


                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="dcenter-results-container">
                <ul id="results" class="dcenter-results"></ul>
            </div>
            <div class="dcenter-controls-container row">

                <div class="col-md-6 dcenter-bottom-showing" id="dcenter-showing-bottom">Showing 0 - 0 of 0 entries</div>
                <div id="pagination" class="col-md-6"></div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/DocumentCenter.js"></script>
