﻿@using Sitecore.Mvc

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    @*<link rel="stylesheet" href="~/Content/bpp.css">*@
    <link rel="stylesheet" href="~/Content/changes.css">

    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/fap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/bppSurvey.js"></script>

    <link href="~/Content/bppAppForm.css" rel="stylesheet" />
    <link href="~/Content/input.css" rel="stylesheet" />
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <link href="~/Content/bpp.css" rel="stylesheet" />


    @*
        <link rel="stylesheet" href="~/Content/changes.css">




        <script src="~/Scripts/bppSurvey.js"></script>*@
    @*@Html.Sitecore().VisitorIdentification()*@
</head>
<body>
    <div class="layout col-sm-12 col-md-12 col-lg-12" id="layout">
        @Html.Sitecore().Placeholder("main")
    </div>
    <script src="~/Scripts/header_footer.js"></script>
    <script src="~/Scripts/wffm.js"></script>
</body>
</html>
