﻿@using Sitecore.Mvc
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,300,600,700,800" rel="stylesheet" type="text/css" />*@
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/bpp.css">
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/fap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/sortable.js"></script>
    <link href="~/Content/bppAppForm.css" rel="stylesheet" />
    <link href="~/Content/input.css" rel="stylesheet" />
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <link href="~/Content/bpp.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/input.js"></script>
    <script type="text/javascript" src="~/Scripts/FormCheckValidation.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

    @*@Html.Sitecore().VisitorIdentification()*@
</head>
<body>
    <!-- universal BPP modal -->
    <div id="universalModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title blue"></h4>
                </div>
                <div class="modal-body black">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnCloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="MainPanel">
        @Html.Sitecore().Placeholder("main")
    </div>
    <script type="text/javascript">
        function showModal(modalTitle, modalBody, close) {
            $('#universalModal .modal-title').html(modalTitle);
            $('#universalModal .modal-body').html(modalBody);
            if (close == false) {
                $('#universalModal').modal({ backdrop: 'static', keyboard: false, show: true });
            } else {
                $('#universalModal').modal('show');
            }
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89455287-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="~/Scripts/header_footer.js"></script>
    <script src="~/Scripts/wffm.js"></script>

    @*<script>
        //Set Time interval to be equal to 60 minutes.
        setInterval("Page_Timeout();", 3600000);

        function Page_Timeout() {
            alert("Refreshing page");
            window.location = location.href;
        }
    </script>*@
    @*<script src="~/Scripts/PhysicianSearch.js"></script>*@
</body>
</html>
