﻿@using Sitecore.Mvc

@model BPP93Helix.Feature.PageContent.Models.BPPApplication

@{ var ActivationKey = Html.ValueFor(x => x._Member.ActivationKey);
}

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "providers", name = "form" }))
{
    @Html.HiddenFor(x => x._Member.ActivationKey, new { ID = "ActivationKey" })
    @Html.Sitecore().FormHandler("Provider", "SubmitProviders")
    <div class="new-applicant bpp-app-form">
        <h2 class="h2color">Provider Information</h2>
        <div class="providers-multi dynamic-section">
            <div class="provider-multi">
                <h4 class="provider-num">Provider 1</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label class="placeholder">First Name</label>
                        <input name="ProviderfirstNameMulti-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Providers First Name" />
                    </div>
                    <div class="col-md-1">
                        <label class="placeholder">MI</label>
                        <input name="ProvidermiddleInitial-0" type="text" placeholder="" class="form-control input adaptive" title="Providers Middle Initial" />
                    </div>
                    <div class="col-md-3">
                        <label class="placeholder">Last Name</label>
                        <input name="ProviderlastNameMulti-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Providers Last Name" />
                    </div>
                    <div class="col-md-1">
                        <label class="placeholder">Suffix</label>
                        <input name="ProviderSuffix-0" type="text" placeholder="" class="form-control input adaptive" title="Suffix" />
                    </div>
                    <div class="col-md-2">
                        <label class="placeholder">Also Known As</label>
                        <input name="ProviderAlsoKnownAs-0" type="text" placeholder="" class="form-control input adaptive" title="Provider is Also Known As" />
                    </div>
                    <div class="col-md-2">
                        @if (Model._Degrees != null && Model._Degrees.Count > 0)
                        {
                            <select name="ProviderDegree-0" class="form-control input adaptive" required="required" title="Degree">
                                <option value="">Degree</option>
                                @for (int d = 0; d < Model._Degrees.Count; d++)
                                {
                                    <option value='@Model._Degrees[d].DegreeID' @(Model._Degrees[d].Degree)>@(Model._Degrees[d].Degree)</option>
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="placeholder">NPI</label>
                        <input name="ProvidernpiNumber-0" id="npimulti" type="text" placeholder="" class="form-control input adaptive" maxlength="10" minLength="10" pattern="[0-9]{10}" required="required" title="NPI Must be exactly 10 digits long (numbers only)" onblur="validateNpi(this)" />
                        <div id="npiValid-0">
                            <p style="color:green !important">NPI is valid</p>
                        </div>
                        <div id="npiInValid-0">
                            <p style="color:red !important">NPI is not valid</p>
                        </div>
                    </div>
                    @*<div class="col-md-3">
                            <label class="placeholder">Email</label>
                            <input name="ProviderPersonalEmail-0" type="text" placeholder="" class="form-control input adaptive" title="Personal Email (xxx@xxx.xxx)" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@('@')[a-zA-Z0-9-]+\.([a-zA-Z0-9-]+)*" required="required" />
                        </div>*@

                    @if (ViewBag.SetDefaultEmail == "enabled")
                    {
                        <div class="col-md-3">
                            <label class="placeholder">Email</label>
                            <input name="ProviderPersonalEmail-0" type="text" placeholder="" class="form-control input adaptive" title="Personal Email (xxx) before alias" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]*" required="required" />
                        </div>
                        <div class="col-md-2">
                            <input name="emailAlias" type="text" placeholder="" title="Email Alias" class="form-control input adaptive" value="@('@')bmcjax.com" readonly="readonly" />
                            <input type="hidden" id="SetDefaultEmail" value="enabled" name="SetDefaultEmail-0" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <label class="placeholder">Email</label>
                            <input name="ProviderPersonalEmail-0" type="text" placeholder="" class="form-control input adaptive" title="Personal Email (xxx@xxx.xxx)" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@('@')[a-zA-Z0-9-]+\.([a-zA-Z0-9-]+)*" required="required" />
                            <input type="hidden" id="SetDefaultEmail" value="disabled" name="SetDefaultEmail-0" />
                        </div>
                    }

                    <div class="col-md-2">
                        <label class="placeholder">Phone</label>
                        <input name="ProviderPersonalPhone-0" type="text" placeholder="" class="form-control input adaptive phone" required="required" title="Personal Phone # (numbers only)" maxlength=14 />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @if (Model._Specialties != null && Model._Specialties.Count > 0)
                        {
                            <select name="ProviderprimarySpecialtyMulti-0" class="form-control input adaptive" required="required" title="Primary Specialties">
                                <option value="">Primary Specialty</option>
                                @for (int s = 0; s < Model._Specialties.Count; s++)
                                {
                                    <option value='@Model._Specialties[s].ID' @(Model._Specialties[s].Specialty) title="">@(Model._Specialties[s].Specialty)</option>
                                }
                            </select>
                        }
                    </div>
                    <div class="col-md-6">
                        @if (Model._Specialties != null && Model._Specialties.Count > 0)
                        {
                            <select name="ProvidersecondarySpecialtyMulti-0" class="form-control input adaptive" title="Seconday Specialties (If Applicable)">
                                <option value="">Secondary Specialty (If Applicable)</option>
                                @for (int s = 0; s < Model._Specialties.Count; s++)
                                {
                                    <option value='@Model._Specialties[s].ID' @(Model._Specialties[s].Specialty) title="">@(Model._Specialties[s].Specialty)</option>
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="PracticeNames-0" name="PracticeNames-0" class="provider-location form-control input adaptive" title="Practice Names" required="required" onchange="SelectPractice(this)">
                                <option value="" disabled selected>Practice Names</option>
                                @for (int p = 0; p < Model._Practices.Count; p++)
                                {
                                    <option value='@Model._Practices[p].PracticeGUID'>@Model._Practices[p].PracticeName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group PrimaryLocations-0">
                            <label class="question-label">Primary Location</label>
                            @Html.HiddenFor(model => model._Providers[0].PrimaryPracticeLocation, new { ID = "hdnPrimaryPracticeLocation-0" })
                            <select id="ProviderPrimaryLocationMulti-0" name="ProviderPrimaryLocationMulti-0" class="provider-location form-control" title="Primary Location" required="required">
                                <option value="" disabled selected>Select Primary Location</option>
                            </select>
                            @*}*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group OtherLocations-0">
                            <label class="question-label">Other Locations</label>
                            <select id="ProviderOtherLocationMulti-0" name="ProviderOtherLocationMulti-0" class="provider-other-location form-control chosen-select otherLocations" multiple title="Other Location(s)">
                                <option value="">Select Other Location</option>
                            </select>
                            @*}*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="question-label">Medical Staff Privileges at a Baptist Health Facility?</label>
                        <div class="app-form-radios">
                            <label class="radio-inline checked">
                                <input type="radio" value="Yes" name="ProviderprivilegesMulti-0" checked="checked" />Yes
                            </label>
                            <label class="radio-inline checked">
                                <input type="radio" value="No" name="ProviderprivilegesMulti-0" />No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="remove-section" onclick="removeSection('provider-multi', $(this))" style="display:none;">
                            <span class="fa fa-minus"></span> Remove This Provider
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="add-section" onclick='addSection("providerMulti", $(this),@Html.Raw(Json.Encode(Model)))'>
                            <span class="fa fa-plus"></span> Add Another Provider
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row savespace">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <input id="btnSaveProviders" type="submit" class="bpp-save-btn pm-button-active-style" value="Save & Continue" onclick="CheckForm_Providers()" />
                @*<input type="button" id="btnSaveProviders" class="bpp-save-btn pm-button-active-style" onclick="CheckForm_Providers()" value="Save & Continue" />*@
            </div>
        </div>

    </div>
}
<script type="text/javascript" src="~/Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/prism.js"></script>
<script type="text/javascript" src="~/Scripts/bppProviders.js"></script>



