﻿@using Sitecore.Configuration
@model BPP93Helix.Feature.PageContent.Models.BPPApplication
@{
    var api = Settings.GetSetting("spAPIBaseAddress");

}
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "returningMember" }))
{
    @*@Html.Sitecore().FormHandler("ReturningMember", "RequestApplication")*@
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <div class="new-applicant bpp-app-form">
        <div class="row">
            <div class="col-lg-4">
                @Html.LabelFor(x => x._ReturningMember.TaxID, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._ReturningMember.TaxID, new { Class = "form-control input adaptive tin", placeholder = "", id = "TaxID", onblur = "isTINValid()", minlength = 10, maxlength = 10, title = "(TIN should be 2 digits, followed by a '-' followed by 7 digits (e.g. 11-1111111))" })
                @*@Html.ValidationMessageFor(x => x._ReturningMember.TaxID)*@
                @*<div class="InvalidTaxID" style="display:none;color:red">Invalid/Inactive TIN</div>*@
                <div class="InvalidTaxID" style="display:none;color:red">TIN is either Invalid or Inactive. (TIN should be 2 digits, followed by a '-' followed by 7 digits (e.g. 11-1111111)</div>
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(x => x._ReturningMember.POCEmail, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._ReturningMember.POCEmail, new { Class = "form-control input adaptive", placeholder = "", id = "POCEmail", title = "Point of Contact Email (xxx@xxx.com)", pattern = "[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+\\.([a-zA-Z0-9-]+)*" })
                @Html.ValidationMessageFor(x => x._ReturningMember.POCEmail)
                <div class="InvalidEmail" style="display:none;color:red">Invalid Email</div>
            </div>
            <div class="col-3">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label class="question-label">What would you like to do?</label>
                <div class="app-form-radios">
                    <label class="radio-inline checked">
                        <input type="radio" value="Add Practice" id="addPractice" name="SelectionOption-0" checked="checked" />Add Practice
                    </label>
                    <br />
                    <label class="radio-inline checked">
                        <input type="radio" value="Add Location" id="addLocation" name="SelectionOption-0" />Add Location
                    </label>
                    <br />
                    <label class="radio-inline checked">
                        <input type="radio" value="Add Provider" id="addProvider" name="SelectionOption-0" />Add Provider
                    </label>
                </div>
            </div>
        </div>
        <div class="row pull-right">
          <div class="col-md-12">
            <p>Before you submit the form, please complete the captcha below.</p>
            <div class="g-recaptcha" data-sitekey="6LcLez8bAAAAAAE030hRAVCO8I3YEzZ6yOlagxL6"></div>
          </div>
          <div class="col-md-12">
            <input type="button" id="btnSaveReturningMember" class="bpp-submit-btn" value="Submit"/>
          </div>
        </div>
    </div>
    <input type="hidden" name="api" id="api" value="@api" />
}
<script type="text/javascript" src="~/Scripts/returningapplication.js"></script>

