﻿@using Sitecore.Mvc

<div>
    <h1>
        @Html.Sitecore().Field("heading")
    </h1>
    @Html.Sitecore().Field("main image")
    <h4>
        @Html.Sitecore().Field("subheading")
    </h4>
    @*<div>
        @Html.Sitecore().Field("body")
    </div>*@
</div>
