﻿<link href="~/Content/bppAppList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="member-table" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Degree</th>
                        <th>Primary Specialty</th>
                        <th>Secondary Specialty</th>
                        <th>Practice</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Member Status</th>
                        <th>MSSP Details</th>
                        <th>
                            <input name="select_all" value="1" id="member-select-all" type="checkbox" />
                        </th>
                        <th>Practice ID</th>
                        <th>Tax ID</th>
                        <th>Provider ID</th>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @*<div class="text-center">
        <div class="col-xs-12 col-sm-6 ">
            <div class="bottom-sec right">
                <select id="ddlAppActions">
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <button id="btnUpdateProviders" type="button" class="submit-btn" onclick="">Submit</button>
            </div>
        </div>
    </div>*@
</div>
<script type="text/javascript">
    var formResponse = '@TempData["updAppResponse"]';
</script>
<script type="text/javascript" src="~/Scripts/bppTable.js"></script>
<script type="text/javascript" src="~/Scripts/bppMemberList.js"></script>