﻿@using Sitecore.Mvc
@using BPP93Helix.Feature.PageContent.Models
@model Members
<div  style="background-color:#F1F1F1;margin:15px 0">
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <style>
        select {
            padding: 10px 15px;
        }

        .hide {
            display: none;
        }

        .panel ul
        {
            padding:0px;
            margin:0px;
            list-style:none;
        }

        .news-item
        {
            padding:4px 4px;
            margin:0px; 
        }
        .demo1.my-info-1 {height:500px!important; overflow-x:hidden;}
        .demo1 li td p{margin-bottom:0px;}
        .demo1 li td img{margin-right:10px;}
        .slider-text{padding-top:10px; background:#f1f1f1;     padding: 10px;}
        .slider-text p{margin-bottom:0px;     color: #726d7b;}

    </style>
    <div class="panel panel-default news-feed">

        <div class="panel-heading text-center">Newest Members</div>

        <div class="slider-text text-center">
            <p>We proudly welcome these providers to our comprehensive BPP network.</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @if (Model != null && Model._Items != null & Model._Items.Count > 0)
                    {
                        <ul class="demo1 my-info-1">
                           @foreach (var m in Model._Items)
                           {
                                <li class="news-item">
                                    <table cellpadding="4">
                                        <tr>
                                            @*<td><img src="@m.Image" width="60" onerror="this.src = '/-/media/BPP/Images/nophoto.jpg'" /></td>*@
                                            <td>
                                                <a href="@m.ItemPath"><b>@m.FirstName @m.LastName</b></a><p>@m.PrimarySpecialty</p>
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td  colspan="2">
                                                <p>@m.Bio</p>
                                            </td>
                                            <td></td>
                                        </tr>*@
                                    </table>
                                </li>                        
                           }
                        </ul>
                    } else
                    {
                        <p>There are currently no new members to display.</p>
                    }
                </div>
            </div>
         </div>            
        @*<script src="~/Scripts/newsfeed.js"></script>
            <script type="text/javascript">
                $(function () {
                    $(".demol").bootstrapNews({
                        newsPerPage: 6,
                        autoplay: false,
                        pauseOnHover: true,
                        direction: 'up',
                        newsTickerlnterval: 500,
                        onToDo: function () {
                            // console.log(this);
                        }
                    });
                });
            </script>*@
        </div>
</div>
