﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication


<script type="text/javascript">
    var practiceNames ='@foreach (var p in Model._Practices){<option value="@p.PracticeGUID">@p.PracticeName</option>}'
</script>

@{
    var ActivationKey = Html.ValueFor(x => x._Member.ActivationKey);
}

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "locations" }))
{
    @Html.HiddenFor(x => x._Member.ActivationKey, new { ID = "ActivationKey" })
    @Html.Sitecore().FormHandler("Location", "SubmitLocations")
    <div class="new-applicant bpp-app-form">
        <h2 class="h2color">Location Information</h2>
        <div class="locations-multi dynamic-section">
            <div class="location-multi">
                <h4 class="location-num">Location 1</h4>
                <div class="row">
                    <div class="col-md-4">
                        <label class="placeholder">Practice Name</label>
                        <select name="practicesMulti-0" id="practicesMulti-0" class="form-control input adaptive" required="required" title="Practice Names">
                            <option value="">Practice Name</option>
                            @foreach (var p in Model._Practices)
                            {
                                <option value='@p.PracticeGUID'>@p.PracticeName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="placeholder">Location Name</label>
                        <input name="locationName-0" id="locationName-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Location Name" disabled onchange="validateLocation(this)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                        <label class="placeholder">Address</label>
                        <input name="Address1-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Location Address 1" />
                    </div>
                    <div class="col-md-3">
                        <label class="placeholder">Address 2</label>
                        <input name="Address2-0" type="text" placeholder="" class="form-control input adaptive" title="Location Address 2 (Apt #,Suite #, etc.)" />
                    </div>
                    <div class="col-md-3">
                        <label class="placeholder">City</label>
                        <input name="City-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="City of Location" />
                    </div>
                    <div class="col-md-1">
                        <select name="State-0" class="form-control state-multi input adaptive" required="required" title="State of Location">
                            <option value="" disabled>State</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL" selected>FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="placeholder">Zip</label>
                        <input name="Zip-0" type="text" placeholder="" class="form-control input adaptive zipcode" required="required" title="Zip Code (xxxxx-xxxx)" maxlength="10" pattern="[0-9]{5}-?([0-9]{4})?" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="placeholder">Phone</label>
                        <input name="Phone-0" type="text" placeholder="" class="form-control input adaptive phone" required="required" title="Location Phone # (numbers only)" maxlength=14 />
                    </div>
                    <div class="col-md-2">
                        <label class="placeholder">Ext.</label>
                        <input name="Extension-0" type="text" placeholder="" class="form-control input adaptive extension" title="Extension" maxlength="6" />
                    </div>
                    <div class="col-md-2">
                        <label class="placeholder">Fax</label>
                        <input name="Fax-0" type="text" placeholder="" class="form-control input adaptive phone" title="Location Fax #" maxlength=14 />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="placeholder">Office Manager Name</label>
                        <input name="OfficeManagerName-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Name of Office Manager" />
                    </div>
                    <div class="col-md-2">
                        <label class="placeholder">Phone</label>
                        <input name="OfficeManagerPhoneNumber-0" type="text" placeholder="" class="form-control input adaptive phone" required="required" title="Phone # of Office Manager (numbers only)" maxlength=14 />
                    </div>
                    <div class="col-md-2">
                        <label class="placeholder">Ext.</label>
                        <input name="OfficeManagerExtension-0" type="text" placeholder="" class="form-control input adaptive extension" title="Extension of Office Manager" maxlength="6" />
                    </div>
                    <div class="col-md-3">
                        <label class="placeholder">Email</label>
                        <input name="OfficeManagerEmail-0" type="text" placeholder="" class="form-control input adaptive" required="required" title="Email of Office Manager (xxx@xxx.com)" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@('@')[a-zA-Z0-9-]+\.([a-zA-Z0-9-]+)*" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="placeholder">EMR Vendor</label>
                        <input name="EMRVendor-0" type="text" placeholder="" class="form-control input adaptive" title="EMR Vendor" maxlength="40" />
                    </div>
                    <div class="col-md-4">
                        <label class="placeholder">EMR Version</label>
                        <input name="EMRVersion-0" type="text" placeholder="" class="form-control input adaptive" title="EMR Version" maxlength="10" />
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="remove-section" onclick="removeSection('location-multi', $(this))" style="display:none;">
                            <span class="fa fa-minus"></span> Remove This Location
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="add-section" onclick="addSection('locationMulti', $(this),@Html.Raw(Json.Encode(Model._Practices[0].PracticeLocations)))">
                            <span class="fa fa-plus"></span> Add Another Location
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row savespace">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <input id="btnSaveLocationsStep3" onclick="CheckForm_Location()" type="submit" class="bpp-save-btn pm-button-active-style" value="Save & Continue" />
                @*<input type="button" id="btnSaveLocationsStep3" class="bpp-save-btn pm-button-active-style" onclick=" CheckForm_Location()" value="Save & Continue" />*@
            </div>
        </div>

    </div>
}
<script type="text/javascript" src="~/Scripts/bppLocation.js"></script>