﻿<link href="~/Content/bppSurveyList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<div id="successmodal"class="modal" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">APPROVED SELECTED CHANGES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Submitted provider changes have been approved</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSuccess()">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="errormodal" class="modal" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ERROR OCCURRED</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>An Error Occurred, Please check your values and try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="rejectmodal" class="modal" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">REJECTED SELECTED CHANGES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Submitted provider changes have been rejected.</p>
                <p>Please contact the group POC to notify and advise further.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSuccess()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="survey-table" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Practice</th>
                        <th>Submitted Date</th>
                        @*<th>Group (LBN)</th>*@
                        <th>Practice(DBA)</th>
                        <th>Provider</th>
                        <th>NPI</th>
                        <th>Change Reason</th>
                        <th>Effective Date</th>
                        <th>Name Change</th>
                        <th>Submitter TIN</th>
                        <th>
                            <input name="select_all" value="1" id="survey-select-all" type="checkbox" />
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bottom-sec right">
                <button id="btnApproveChanges" type="button" class="submit-btn" onclick="">Approve</button>
                <button id="btnRejectChanges" type="button" class="reject-btn" onclick="">Reject</button>
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    var formResponse = '@TempData["updAppResponse"]';
</script>
<script type="text/javascript" src="~/Scripts/bppApprovalList.js"></script>
