﻿@using Sitecore.Configuration
@using Sitecore.Mvc

@model BPP93Helix.Feature.PageContent.Models.Changes
@{
    var api = Settings.GetSetting("spAPIBaseAddress");

}
<div class="center col-sm-12 col-md-10 col-lg-8">
    <div class="imageheader col-lg-12">
        @Html.Sitecore().Field("Main Image")
    </div>
    <div class="heading col-lg-12">
        @Html.Sitecore().Field("Heading")
    </div>

    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "changes" }))
    {

        @Html.Sitecore().FormHandler("Changes", "SubmitChanges")
        <div class="submitter">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="h2color">Submitter Information</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 text-center">
                    @Html.LabelFor(x => x.SubmitterName, new { Class = "placeholder" })
                    @Html.TextBoxFor(x => x.SubmitterName, new { Class = "form-control input adaptive", placeholder = "", @required = "required" })
                    @Html.ValidationMessageFor(x => x.SubmitterName)
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 text-center">
                    @Html.LabelFor(x => x.SubmitterTIN, new { Class = "placeholder" })
                    @Html.TextBoxFor(x => x.SubmitterTIN, new { Class = "form-control input adaptive tin", placeholder = "", ID = "tin", minlength = 10, maxlength = 10, required = "required", onblur = "isTINValid()" }) @*this," + HttpUtility.JavaScriptStringEncode(@api, true) + "*@
                    @Html.ValidationMessageFor(x => x.SubmitterTIN)
                    <div class="InvalidTIN" style="display:none;color:red">Invalid TIN</div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 text-center">
                    @Html.LabelFor(x => x.SubmitterEmailAddress, new { Class = "placeholder" })
                    @Html.TextBoxFor(x => x.SubmitterEmailAddress, new { Class = "form-control input adaptive", placeholder = "", @required = "required" })
                    @Html.ValidationMessageFor(x => x.SubmitterEmailAddress)
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 text-center">
                    @Html.LabelFor(x => x.SubmitterPhoneNumber, new { Class = "placeholder" })
                    @Html.TextBoxFor(x => x.SubmitterPhoneNumber, new { Class = "form-control input adaptive phone", placeholder = "", @required = "required", maxlength = 14 })
                    @Html.ValidationMessageFor(x => x.SubmitterPhoneNumber)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 text-left">
                    @Html.LabelFor(x => x.SubmitterPhysicianGroup, new { Class = "placeholder" })
                    @Html.TextBoxFor(x => x.SubmitterPhysicianGroup, new { Class = "form-control input adaptive", placeholder = "", @required = "required" })
                    @Html.ValidationMessageFor(x => x.SubmitterPhysicianGroup)
                </div>
            </div>
            <br />
        </div>
        <hr class="sectionhr">
        <hr class="sectionhr">
        <div class="submitter">
            <h2 class="h2color">Provider Information</h2>
            <div class="providers-multi dynamic-section">
                <div class="provider-single">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3 class="provider-num" id="providernum">Provider 1</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                            <label class="placeholder">NPI:</label>
                            <input name="ProviderNPI-0" type="text" class="form-control input adaptive" placeholder="" maxlength="10" minLength="10" pattern="[0-9]{10}" required="required" onblur="isNPIValid()" />
                            <div class="InvalidProviderNPI-0" style="display:none;color:red">Invalid NPI for TIN</div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                            <label class="placeholder">Name:</label>
                            <input name="ProviderName-0" type="text" class="form-control input adaptive" placeholder="" required="required" />
                        </div>                      
                        <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                            <p>
                                <select name="Practice-0" data-placeholder="Select Practice" id="Practice-0" class="form-control input adaptive" required="required">
                                    <option value="0" disabled selected>Select Practice</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            @*<h4><u><b>Status/Change Information</b></u></h4>*@
                            <h4 class="h2color">Status Change Information</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                            <label class="placeholder">Effective Date:</label>
                            <input name="effectiveDate-0" type="text" class="form-control effectivedate input adaptive" placeholder="" required="required" />
                        </div>
                        <div class="col-md-3 text-center">
                            @if (Model.Change != null && Model.Change.Count > 0)
                            {
                                <p>
                                    <select name="statusChange-0" data-placeholder="Select Change" id="statusChange-0" class="form-control input adaptive" onchange="setVisibility(this.name,this.value, this)" required="required">
                                        <option value="0">Select Change</option>
                                        @for (int j = 0; j < Model.Change.Count; j++)
                                        {
                                            <option value='@Model.Change[j].ID' @(Model.Change[j].StatusChange1)>@Model.Change[j].StatusChange1</option>
                                        }
                                    </select>
                                </p>
                            }
                            <div class="requiredChange-0" style="display:none;color:red">Status Change is Required</div>
                        </div>

                        <div class="col-md-3 lastNameChange-0 hidden" id="lastname-0">
                            @*<div class="col-md-4 lastNameChange-0" id="lastname-0">*@
                            <label class="placeholder">Last Name:</label>
                            <input name="LastNameChange-0" type="text" class="form-control input adaptive" placeholder="" />
                        </div>
                        <div class="col-md-3 text-center statusChangeReasonDiv-0" hidden>
                            @*<div class="col-md-4 text-center statusChangeReasonDiv-0">*@
                            @if (Model.Reason != null && Model.Reason.Count > 0)
                            {
                                <p>
                                    <select name="statusChangeReason-0" data-placeholder="Select Change Reason" id="statusChangeReason-0" class="form-control input adaptive">
                                        <!--onchange="setOtherRequired()"-->
                                        <option value="0">Select Reason</option>
                                        @for (int k = 0; k < Model.Reason.Count; k++)
                                        {
                                            <option value='@Model.Reason[k].ID' @(Model.Reason[k].StatusChangeReason1)>@Model.Reason[k].StatusChangeReason1</option>
                                        }
                                    </select>
                                </p>
                            }
                            <div class="requiredChangeReason-0" style="display:none;color:red">Change Reason is Required</div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 text-center hidden">
                        <div class="col-md-12 text-center">
                            <p>
                                <label class="placeholder">Additional Notes:</label>
                                <textarea name="Other-0" id="Other-0" class="form-control textarea adaptive" placeholder="" rows="5"></textarea>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <div class="remove-section" onclick="removeSection('provider-multi', $(this))" style="display:none;">
                                <span class="fa fa-minus"></span> Remove This Provider
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="add-section" onclick='addSection("providerMulti", $(this),@Html.Raw(Json.Encode(Model)))'>
                                <span class="fa fa-plus"></span> Add Another Provider
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row savespace">
            <div class="col-lg-4"></div>
            <div class="col-lg-5"></div>
            <div class="col-lg-3 text-right">
                <input type="submit" id="btnDone" class="bpp-submit-btn" value="SUBMIT" />
            </div>
        </div>
        <input type="hidden" name="api" id="api" value="@api" />

    }
</div>
<script type="text/javascript" src="~/Scripts/input.js"></script>
<script type="text/javascript" src="~/Scripts/bppSurvey.js"></script>
<script type="text/javascript">
    var formResponse = '';
    formResponse = '@TempData["updChangeRequest"]';
</script>
