﻿
@{
    ViewBag.Title = "Submitted";
}

@*<h2>Submitted</h2>*@

@{var tempval = TempData["updChangeRequest"]; }

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Images/bpm logo.png" />
            <p>@tempval</p>
        </div>
    </div>
</div>

@*<span>@tempval</span>*@

