﻿@using Sitecore.Mvc
@using System
@model BPP93Helix.Feature.PageContent.Models.ChangeDetails
<div id="successmodal" class="modal" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">APPROVED SELECTED CHANGES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Submitted provider changes have been approved</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModal" class="btn btn-secondary" data-dismiss="modal" onclick="closeSuccess()">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="errormodal" class="modal" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ERROR OCCURRED</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>An Error Occurred, Please check your values and try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="rejectmodal" class="modal" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">REJECTED SELECTED CHANGES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Submitted provider changes have been rejected.</p>
                <p>Please contact the group POC to notify and advise further.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSuccess()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="center col-sm-12 col-md-10 col-lg-8">
    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "surveyDetails" }))
    {

        @Html.Sitecore().FormHandler("Changes", "SaveChanges")
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <h2 class="h2color">Requested Provider Status Updated</h2>
                   <h3 class="h2color">Detailed Information</h3>
               </div>
           </div>
       </div>
       <div class="container providor-profile-page">
           <div class="row">
               <div class="col-md-12">                   
                   <h4 class="h2color"><u>Submitter Information</u></h4>
               </div>
           </div>
           <div class="row BasicInfo label-row1">
               <div class="col-md-4">
                   @Html.LabelFor(x => x.SubmitterName, new { @class = "bpp-application-placeholder-label" })
                   @Html.TextBoxFor(x => x.SubmitterName, new { disabled = "disabled", @class = "form-control input" })
                   @Html.HiddenFor(x => x.Id, new { disabled = "disabled", @class = "form-control input" })
               </div>
               <div class="col-md-4">
                   @Html.LabelFor(x => x.SubmitterGroup, new { @class = "bpp-application-placeholder-label" })
                   @Html.TextBoxFor(x => x.SubmitterGroup, new { disabled = "disabled", @class = "form-control input" })
               </div>
               <div class="col-md-4">
                   @Html.LabelFor(x => x.SubmitterTIN, new { @class = "bpp-application-placeholder-label" })
                   @Html.TextBoxFor(x => x.SubmitterTIN, new { disabled = "disabled", @class = "form-control input" })
               </div>             
           </div>
           <br />
           <div class="row BasicInfo label-row1">
               <div class="col-md-4">
                   @Html.LabelFor(x => x.SubmitterEmail, new { @class = "bpp-application-placeholder-label" })
                   @Html.TextBoxFor(x => x.SubmitterEmail, new { disabled = "disabled", @class = "form-control input" })
               </div>
               <div class="col-md-4">
                   @Html.LabelFor(x => x.SubmitterPhone, new { @class = "bpp-application-placeholder-label" })
                   @Html.TextBoxFor(x => x.SubmitterPhone, new { disabled = "disabled", @class = "form-control input" })
               </div>
               <div class="col-md-4">
                   @Html.LabelFor(x => x.SubmittedDate, new { @class = "bpp-application-placeholder-label" })
                   @Html.TextBoxFor(x => x.SubmittedDate, new { disabled = "disabled", @class = "form-control input" })
               </div>
           </div>
        <hr />
       </div>
        <div class="container providor-profile-page">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="h2color"><u>Provider Information</u></h4>
                </div>
            </div>
            <div class="row BasicInfo label-row1">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.ProviderName, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.ProviderName, new { disabled = "disabled", @class = "form-control input" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.ProviderNPI, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.ProviderNPI, new { disabled = "disabled", @class = "form-control input" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.PracticeName, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.PracticeName, new { disabled = "disabled", @class = "form-control input" })
                    @Html.HiddenFor(x => x.Practice, new { disabled = "disabled", @class = "form-control input" })
                </div>               
            </div>
            <br />
            <div class="row BasicInfo label-row1">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.ChangeReason, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.ChangeReason, new { disabled = "disabled", @class = "form-control input" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.NameChange, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.NameChange, new { disabled = "disabled", @class = "form-control input" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.StatusChangeReason, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.StatusChangeReason, new { disabled = "disabled", @class = "form-control input" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.EffectiveDate, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextBoxFor(x => x.EffectiveDate, new { disabled = "disabled", @class = "form-control input" })
                </div>
            </div>
            <br />
            <div class="row BasicInfo label-row1">
                <div class="col-md-12">
                    @Html.LabelFor(x => x.Other, new { @class = "bpp-application-placeholder-label" })
                    @Html.TextAreaFor(x => x.Other, new { disabled = "disabled", rows = "5", @class = "form-control" })
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                @if (Model.ProcessedResults == 1 || Model.ProcessedResults == 2)
                {
                    <div class="col-md-4">
                        <button type="button" id="btnClose" class="bpp-cancel-btn">Close View</button>
                    </div>
                }
                else
                {
                    <div class="col-md-4 text-center">
                        <button type="button" id="btnApproveChanges" class="bpp-submit-btn">Approve Change</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" id="btnRejectChanges" class="bpp-rejectsurvey-btn">Reject Change</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" id="btnClose" class="bpp-cancel-btn">Close View</button>
                    </div>
                }


                @*<div class="col-md-12">
            <div>
                @if (Model.ProcessedResults == 1 || Model.ProcessedResults == 2)
                {
                    <button type="button" id="btnClose" class="bpp-cancel-btn">Close</button>
                }
                else
                {
                    <button type="button" id="btnApproveChanges" class="bpp-submit-btn">Approve</button>
                    <button type="button" id="btnRejectChanges" class="bpp-rejectsurvey-btn">Reject</button>
                    <button type="button" id="btnClose" class="bpp-cancel-btn">Close</button>
                }
            </div>
        </div>*@
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="~/Scripts/surveyDetails.js"></script>
<script type="text/javascript">
    var formResponse = '';
    formResponse = '@TempData["updChangeRequest"]';
</script>
