﻿<link href="~/Content/bppSurveyList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="survey-table" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Practice</th>
                        <th>Submitted Date</th>
                        <th>Practice(DBA)</th>
                        <th>Provider</th>
                        <th>NPI</th>
                        <th>Change Reason</th>
                        <th>Effective Date</th>
                        <th>Name Change</th>
                        <th>Submitter TIN</th>
                        <th>Process Results</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @*<div class="text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bottom-sec right">
                <button id="btnApproveChanges" type="button" class="submit-btn" onclick="">Approve</button>
                <button id="btnRejectChanges" type="button" class="reject-btn" onclick="">Reject</button>
            </div> 
        </div>
    </div>*@
</div>
@*<script type="text/javascript">
    var formResponse = '@TempData["updAppResponse"]';
</script>*@
<script type="text/javascript" src="~/Scripts/bppSurveyArchiveList.js"></script>
