﻿@using Sitecore.Mvc
@model BPP93Helix.Feature.PageContent.Models.BPPMemberRequest
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "apprequest", name = "form"}))
{
   @* @Html.Sitecore().FormHandler("ApplicationProcess", "RequestApplication")*@
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <div class="new-applicant bpp-app-form">
        <div class="row">
            <div class="col-md-5">
                @Html.LabelFor(x => x.Name, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x.Name, new { Class = "form-control input adaptive", placeholder = "", id = "Name", title = "Name" })
                @Html.ValidationMessageFor(x => x.Name, "", new { id = "name-error" })
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                @Html.LabelFor(x => x.Email, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x.Email, new { Class = "form-control input adaptive", placeholder = "", id = "Email", title = "Email (xxx@xxx.com)", pattern = "[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+\\.([a-zA-Z0-9-]+)*" })
                @Html.ValidationMessageFor(x => x.Email)
                <div class="InvalidEmail" style="display:none;color:red">Invalid Email</div>
            </div>
        </div>
      <br />
      <div class="row">
        <div class="col-md-6"><p>Before you submit the form, please complete the captcha below.</p>
          <div class="g-recaptcha" data-sitekey="6LcLez8bAAAAAAE030hRAVCO8I3YEzZ6yOlagxL6"></div>
        </div>
        <br/>
      </div>
        <div class="row">
          <div class="col-md-4">
                <input type="button" id="btnNewMemberRequest" value="Submit" class="bpp-submit-btn" />
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/newapplication.js"></script>