﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication

@{ var ActivationKey = Html.ValueFor(x => x._Member.ActivationKey); }

<script type="text/javascript">
    $(document).ready(function () {
        $("ul.progressbar li:nth-child(2)").addClass("active");
        $("ul.progressbar li:nth-child(3)").addClass("active");
    });
</script>


<div class="new-applicant bpp-app-form">
    <div class="row">
        <div class="col-md-12">
            @for (int i = 0; i < Model._Downloads.DownloadLinks.Count; i++)
            {
                <p><button class="downloadbtn" onclick="downloadFile('@Model._Downloads.DownloadLinks[i].link')" id="@Model._Downloads.DownloadLinks[i].Title"><i class="fa fa-download"></i> Download</button> @Model._Downloads.DownloadLinks[i].Title</p>
            }
        </div>
    </div>

    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { name = "form", ActivationKey = ActivationKey }))
    {

        @Html.HiddenFor(x => x._Member.ActivationKey)
        @Html.Sitecore().FormHandler("ApplicationProcess", "JoinderAgreementDownload")

        <div class="row pull-right">
            <div class="col-md-12">
                <input id="btnSavePracAppStep2" onclick="this.disabled=true;this.form.submit()" type="submit" class="bpp-save-btn pm-button-active-style" value="Complete Application" disabled="disabled" title="This button will remain disabled until the form has been selected." />
            </div>
        </div>
    }
</div>

<script src="~/Scripts/bppJoinderAgreementDownload.js"></script>