﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication


@{ var ActivationKey = Html.ValueFor(x => x._Member.ActivationKey); }
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { name = "form", ActivationKey = ActivationKey, id = "legalname" }))
{

    @Html.Sitecore().FormHandler("ApplicationProcess", "AddEntity")
    @Html.HiddenFor(x => x._Member.ActivationKey, new { ID = "ActivationKey" })
    <div class="new-applicant bpp-app-form">
        <h2 class="h2color">Group/Legal Entity Information</h2>
        <div class="row">
            <div class="col-lg-4">
                @Html.LabelFor(x => x._Entity.LE_Name, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.LE_Name, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Group or Legal Business Name" })
                @Html.ValidationMessageFor(x => x._Entity.LE_Name)
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(x => x._Entity.TaxID, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.TaxID, new { Class = "form-control input adaptive tin", placeholder = "", @required = "required", minlength = 10, maxlength = 10, title = "TaxID should be 2 digits, followed by a '-' followed by 7 digits (e.g. 11-1111111))", pattern = "^[0-9]{2}(?:-[0-9]{7})?$" })
                @Html.ValidationMessageFor(x => x._Entity.TaxID)
            </div>
            <div class="col-3">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(x => x._Entity.LE_Address1, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.LE_Address1, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Address of Group/Legal Entity" })
                @Html.ValidationMessageFor(x => x._Entity.LE_Address1)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(x => x._Entity.LE_Address2, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.LE_Address2, new { Class = "form-control input adaptive", placeholder = "", title = "Address 2 (Apt #,Suite #, etc.)" })
                @Html.ValidationMessageFor(x => x._Entity.LE_Address2)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(x => x._Entity.LE_City, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.LE_City, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "City of Legal Entity" })
                @Html.ValidationMessageFor(x => x._Entity.LE_City)
            </div>
            <div class="col-md-2">
                <select name="_Entity.LE_State" id="_Entity.LE_State" class="form-control input adaptive state-multi" required title="State of Legal Entity">
                    <option value="" disabled>State</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL" selected>FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                </select>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(x => x._Entity.LE_Zip, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.LE_Zip, new { Class = "form-control input adaptive zipcode", placeholder = "", @required = "required", minlength = 5, maxlength = 10, pattern = "[0-9]{5}-?([0-9]{4})?", title = "Zip code (xxxxx-xxxx)" })
                @Html.ValidationMessageFor(x => x._Entity.LE_Zip)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="instructions">Please identify a <b>Point of Contact ("POC")</b> for your group to receive BPP-related correspondence.</p>
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(x => x._Entity.POCName, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.POCName, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Point of Contact Name" })
                @Html.ValidationMessageFor(x => x._Entity.POCName)
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(x => x._Entity.POCPhoneNumber, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.POCPhoneNumber, new { Class = "form-control input adaptive phone", placeholder = "", @required = "required", title = "Point of Contact Phone Number (numbers only)", maxlength = 14 })
                @Html.ValidationMessageFor(x => x._Entity.POCPhoneNumber)
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(x => x._Entity.POCExtension, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.POCExtension, new { Class = "form-control input adaptive extension", placeholder = "", title = "Point of Contact Extension (if Applicable)", maxlength = 6 })
                @Html.ValidationMessageFor(x => x._Entity.POCExtension)
            </div>
            @*<div class="col-lg-3">
                @Html.LabelFor(x => x._Entity.POCEmail, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.POCEmail, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Email Address for Point of Contact (xxx@xxx.com)", pattern = "^[a-zA-Z0-9_\\.-]+@([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$" })
                @Html.ValidationMessageFor(x => x._Entity.POCEmail)
            </div>*@
            @*<div class="col-lg-3">
            @Html.LabelFor(x => x._Entity.POCFax, new { Class = "placeholder" })
            @Html.TextBoxFor(x => x._Entity.POCFax, new { Class = "form-control input adaptive phone", placeholder = "", title = "Fax Number for Point of Contact", maxlength = 14, minlength = 14 })
            @Html.ValidationMessageFor(x => x._Entity.POCFax)
        </div>*@
        </div>
        <div class="row">
            <div class="col-lg-4">
                @Html.LabelFor(x => x._Entity.POCEmail, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.POCEmail, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Email Address for Point of Contact (xxx@xxx.com)", pattern = "^[a-zA-Z0-9_\\.-]+@([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$" })
                @Html.ValidationMessageFor(x => x._Entity.POCEmail)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="instructions">
                    Group shall identify a <b>Contract Approval Person ("CAP")</b> as outlined in section 5c of the Participation
                    Agreement. This is the individual within the Group with signatory authority to bind the Group and the Providers
                    to an agreement.
                </p>
            </div>
            <div class="col-lg-4">
                @Html.LabelFor(x => x._Entity.CAPName, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.CAPName, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Name for Contact Approval Person" })
                @Html.ValidationMessageFor(x => x._Entity.CAPName)
            </div>
            <div class="col-lg-8">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.LabelFor(x => x._Entity.CAPAddress1, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.CAPAddress1, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "Mailing Address of Contact Approval Person" })
                @Html.ValidationMessageFor(x => x._Entity.CAPAddress1)
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(x => x._Entity.CAPAddress2, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.CAPAddress2, new { Class = "form-control input adaptive", placeholder = "", title = "Address 2 for Contact Approval Person (Apt #,Suite #, etc.)" })
                @Html.ValidationMessageFor(x => x._Entity.CAPAddress2)
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(x => x._Entity.CAPCity, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.CAPCity, new { Class = "form-control input adaptive", placeholder = "", @required = "required", title = "City of Contact Approval Person" })
                @Html.ValidationMessageFor(x => x._Entity.CAPCity)
            </div>
            <div class="col-md-2">
                <select name="_Entity.CAPState" id="_Entity.CAPState" class="form-control input adaptive state-multi" required title="State of Contact Approval Person">
                    <option value="" disabled>State</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL" selected>FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                </select>
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(x => x._Entity.CAPZip, new { Class = "placeholder" })
                @Html.TextBoxFor(x => x._Entity.CAPZip, new { Class = "form-control input adaptive zipcode", placeholder = "", @required = "required", minlength = 5, maxlength = 10, pattern = "[0-9]{5}-?([0-9]{4})?", title = "Zip Code for Contact Approval Person" })
                @Html.ValidationMessageFor(x => x._Entity.CAPZip)
            </div>
        </div>
        <div class="row pull-right">
            <div class="col-md-12">
                <input id="btnSavePracAppStep1" onclick="CheckForm_LegalEntity()" type="submit" class="bpp-save-btn pm-button-active-style" value="Save & Continue" />
                @*<input type="button" id="btnSavePracAppStep1" class="bpp-save-btn pm-button-active-style" onclick=" CheckForm_LegalEntity()" value="Save & Continue"/>*@
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="~/Scripts/bppLegalEntity.js"></script>