﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication

@{ var ActivationKey = Html.ValueFor(x => x._Member.ActivationKey); }
<div class="new-applicant bpp-app-form">
    <div class="row">
        <div class="col-lg-12">
            <p class="instructions">
                Prior to submitting your application, please download the Participation Agreement and the Business Associate
                Agreement. Please print agreements, fill in the required information and return the agreements to
                <a href="mailto:bpp@bmcjax.com">bpp@bmcjax.com</a> or Fax (904) 391-5321.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @for (int i = 0; i < Model._Downloads.DownloadLinks.Count; i++)
            {
                <p><button class="downloadbtn" onclick="downloadFile('@Model._Downloads.DownloadLinks[i].link')" id="@Model._Downloads.DownloadLinks[i].Title"><i class="fa fa-download"></i> Download</button> @Model._Downloads.DownloadLinks[i].Title</p>
            }
        </div>
    </div>

    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { name = "form", ActivationKey = ActivationKey }))
    {

        @Html.HiddenFor(x => x._Member.ActivationKey)
        @Html.Sitecore().FormHandler("ApplicationProcess", "LegalDownloadAddEntity")

        <div class="row pull-right">
            <div class="col-md-12">
                <input id="btnSavePracAppStep2" onclick="this.disabled=true;this.form.submit()" type="submit" class="bpp-save-btn pm-button-active-style" value="Save & Continue" disabled="disabled" title="This button will remain disabled until the form has been selected."  />
            </div>
        </div>
    }
</div>

<script type="text/javascript" src="~/Scripts/bppLegalEntityDownload.js"></script>

