﻿

<div class="container confirmation">
    <div class="new-applicant bpp-app-form">
        <div class="row">
            <div>
                <h4 class="instructions">
                    Thank you for submitting an application to Baptist Physician Partners for membership consideration.
                </h4>
                <h4 class="instructions">
                    The Membership & Quality Committee processes and reviews the application materials once they are <b>completed and submitted in its entirety</b>.
                </h4>
                <h4 class="instructions">
                    If you should have questions during the application process, please contact us at <a href='mailto:bpp@bmcjax.com'>bpp@bmcjax.com</a> or 904.202.4770.
                </h4>
            </div>
        </div>
    </div>
</div>