﻿<link rel="stylesheet" type="text/css" href="~/Content/progress.css"> 
<div class="container">
    <div id="content-heading" class="heading">
        <h1>Membership Application</h1>
    </div>
    <div class="col-md-12 new-applicant bpp-app-form bar">       
        <ul class="progressbar">
            <li class="active">Group/Legal Entity</li>
            <li>Practice</li>
            <li>Providers</li>
        </ul>
    </div>
</div>
