﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication
<link href="~/Content/bppAppForm.css" rel="stylesheet" />
<link href="~/Content/input.css" rel="stylesheet" />
<link href="~/Content/chosen.min.css" rel="stylesheet" />
@*<script type="text/javascript">
        // This was an example and not needed for the first page
        $(document).ready(function () {
            $("ul.progressbar li:nth-child(2)").addClass("active");
        });
    </script>*@
{
@Html.Sitecore().FormHandler("ReturningMember", "RequestApplication")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="new-applicant bpp-app-form">
    <h2 style="color: #014f8f">Returning Member</h2>
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(x => x._Practices.FirstOrDefault().TaxID, new { Class = "placeholder" })
            @Html.TextBoxFor(x => x._Practices.FirstOrDefault().TaxID, new { Class = "form-control input adaptive", placeholder = "", @required = "required" })
            @Html.ValidationMessageFor(x => x._Practices.FirstOrDefault().TaxID)
        </div>
        <div class="col-lg-5">
            @Html.LabelFor(x => x._Practices.FirstOrDefault().POCEmail, new { Class = "placeholder" })
            @Html.TextBoxFor(x => x._Practices.FirstOrDefault().POCEmail, new { Class = "form-control input adaptive", placeholder = "", @required = "required" })
            @Html.ValidationMessageFor(x => x._Practices.FirstOrDefault().POCEmail)
        </div>
        <div class="col-3">

        </div>
    </div>
    <div class="row pull-right">
        <div class="col-md-12">
            <input id="btnSavePracAppStep1" onclick="this.disabled=true;" type="submit" class="bpp-save-btn pm-button-active-style" value="Save & Continue" />
        </div>
    </div>
</div>
}
<script type="text/javascript" src="~/Scripts/input.js"></script>
