﻿
/*Common css*/
a {
    text-decoration: none !important;
}

body {
    /*line-height: 1;*/
}
/*spinner*/
.submit-progress-bg {
  background-color: lightgray;
}

.fap-img {
  image-orientation: none;
}

.submit-progress {
  position: fixed;
  display: block;
  top: 50%;
  left: 60%;
  height: 6em;
  padding-top: 2.3em;
  width: 20em;
  margin-left: -10em;
  padding-left: 2.1em;
  background-color: black;
  color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
  -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
  -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}

  .submit-progress i {
    margin-right: 0.5em;
  }
  /**end spinner*/
 .field-validation-error {
        color:Red;
}
.text-color {
    color: white;
}
@media print {
  a[href]:after {
    /*content: none !important;*/
    visibility:hidden;
  }
}
.text-italic {
    font-style: italic;
}

.list-style-none {
    list-style: none;
    padding-left: 1.25%;
}

.bpp-application-subtitle {
    font-weight: normal;
    color: #004f8e;
    font-size: 20px;
    margin-bottom: 10px;
}

.bpp-application-subtitle span {
    cursor: pointer;
}

.bpp-logoutbtn {
    color: white;
    font-size: 16px;
    background-color: #60bc02;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #333;
    padding: 8px 15px 8px 15px !important;
}

.bpp-logoutbtn-mbl {
    color: white;
    font-size: 16px;
    background-color: #60bc02;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #333;
    padding: 5px 10px 5px 10px !important;
    margin-top: 15px !important;
}

.bpp-application-greyinputs {
    background: #c6c6c6 !important;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 4px;
}

.bpp-application-forminputs {
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 4px;
}

.bpp-application-buttons {
    padding: 3px 60px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    color: #808080;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.bpp-save-btn {
    padding: 3px 60px;
    background: #337ab7;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.bpp-save-disable-btn {
    padding: 3px 60px;
    background: #337ab7;
    border: 1px solid #ccc;
    color: gray;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.bpp-submit-btn {
    padding: 3px 60px;
    background: #63b910;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.bpp-clone-btn {
    padding: 3px 60px;
    background: #b7b700;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.bpp-submit-disable-btn {
    padding: 3px 60px;
    background: #63b910;
    border: 1px solid #ccc;
    color: gray;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.bpp-accept-btn {
    background: #337ab7 !important;
}

.bpp-reject-btn {
    background: #d9534f !important;
}
.bpp-rejectsurvey-btn {
    background: #d9534f !important;
    padding: 3px 60px;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.bpp-edit-btn {
    padding: 3px 35px;
    background: #63b910;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
}

.bpp-appplication-select {
    height: 38px;
    border: 1px solid #AAA;
    border-radius: 4px;
    color: #ABABAB !important;
    padding: 5px 10px;
    width: 100%;
    background-color: #c6c6c6;
}

.btns-margin-top {
    margin-top: 20px;
}

.btns-margin-bottom {
    margin-top: 20px;
}

.bpp-attachment {
    color: #99d7ee;
    font-weight: 700 !important;
}

/*----------------------------------------------Header and footer start--------------------------------------------------------*/


.to-header {
    margin: 9px 10px 2px 20px !important;
    /*margin-top: 9px;*/
}

.header-nav-wrap .navbar {
    margin-bottom: unset !important;
}

.top-icons {
    list-style: none;
    float: right;
    margin-bottom: 2px;
}

.to-header .logo {
    margin-top: 10px;
}

.top-icons li {
    float: left;
    margin-left: 35px;
    margin-top: 9px;
}

.top-icons a {
    margin-left: 0px;
    text-align: center;
}
.login-button {
  margin-left: 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #337ab7;
  text-decoration: none !important;
}
.login-button-img {
  /*object-fit: contain;*/
  margin-bottom: 4px;
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
}
.top-icons li a img {
    /*object-fit: contain;*/
    margin-bottom: 4px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
}



.header-nav-wrap .navbar-inverse {
    background-color: #004f8e !important;
    border-color: #004f8e !important;
    border-radius: 0px !important;
    border-top: 6px solid #57be17 !important;
    height: 60px;
}

.header-nav-wrap nav.affix {
    top: 0;
    width: 102%;
    z-index: 25 !important;
}

.top-nav li a {
    color: white !important;
}

    .top-nav li a i {
        font-size: 9px;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 12px;
    }




.drop-active.dropdown .dropbtn {
    text-decoration: none;
    background-color: #57be17;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.bpp-navbar {
    line-height: 1;
}

    .bpp-navbar .dropdown {
        position: relative;
        display: inline-block;
    }

    .bpp-navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
    }

        .bpp-navbar .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .bpp-navbar .dropdown:hover .dropdown-content {
        display: block;
    }

    .bpp-navbar .dropdown:hover .dropbtn {
        text-decoration: none;
        background-color: #57be17;
    }

        .bpp-navbar .dropdown:hover .dropbtn:after {
            position: absolute;
            content: attr(data-title);
            left: 0px;
            bottom: 48px;
            padding: 10px 20px 0px;
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            background-color: #57be17;
            color: white;
        }

    .bpp-navbar .drop-active.dropdown .dropbtn:after {
        position: absolute !important;
        content: attr(data-title) !important;
        left: 0px !important;
        bottom: 50px !important;
        padding: 10px 20px 0px !important;
        width: 100% !important;
        font-size: 18px !important;
        font-weight: bold !important;
        font-style: italic !important;
        background-color: #57be17 !important;
        color: white !important;
    }

.active1 {
    background: #57be17;
}

ul.modal-icons {
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.modal-icons li a {
    color: #ffffff;
}

    .modal-icons li a img {
        height: 30px;
        width: 30px;
    }

.modal-icons-parent {
    margin-top: 10%;
}

.nav-modal {
    background: #004f8e !important;
}

.pan {
    margin-bottom: 0px !important;
}

label.modal-navHeader {
    background-color: #004f8e;
    color: white;
    padding: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-top: 2px solid;
}

.modal-navHeader a {
    color: white;
}

.modal-navLinks ul {
    list-style: none;
}

    .modal-navLinks ul li {
        margin-left: -25px;
        padding-bottom: 5px;
    }

        .modal-navLinks ul li a {
            color: white;
        }


.modal-footer-text p {
    color: white;
    margin-left: 9px;
    margin-top: 13px;
    font-size: 10px;
    width: 60%;
    /*font-family: 'alright_sansregular';*/
    line-height: 14px;
    color: #73a3d0;
}

.nav-modal-head {
    border-bottom: none !important;
}

.footer {
    background: #2e5e8c;
    border-top: 6px solid #60bc02;
    margin: 20px 0 0 0;
    padding: 0 0px 0 20px;
}

    .footer .not-member button {
        background: #60bc02;
        color: white;
        border: 1px solid #60bc02;
        padding: 14px;
        font-size: 23px;
        font-weight: bold;
        border-radius: 5px;
        width: 70%;
    }

.footer-bold-text {
    font-weight: bold !important;
}

.padd-t {
    padding: 30px 15px 10px 15px;
}

.head-foot-no-right-margin {
    margin-right: 0 !important;
}

.join h4 {
    color: white;
    font-weight: bold !important;
    padding: 15px 0 10px 0 !important;
}

.join ul, .middle-sec-foot ul {
    list-style: none;
    padding: 0px;
    margin-right: 10% !important;
    font-weight: bold !important;
}

    .join ul li {
        margin: 10px 0 5px 0 !important;
    }

        .join ul li a {
            color: #83b0ca;
        }

.middle-sec-foot p {
    color: #83b0ca;
    font-size: 17px;
    margin-top: 0px;
    font-weight: bold !important;
}

    .middle-sec-foot p span {
        color: white;
        font-weight: bold !important;
    }

.middle-sec-foot ul li {
    /*border-bottom: 3px solid #83b0ca;
    margin-bottom: 10px;*/
}

.middle-sec-foot-bot-border {
    border-bottom: 3px solid #83b0ca;
    margin-bottom: 10px;
}

.right-foot-sec {
    background: #25517b;
    color: #6ba4cc;
}

    .right-foot-sec p {
        font-size: 17px;
        margin-top: 50px;
        border-top: 2px solid;
        padding-top: 20px;
        border-bottom: 2px solid;
        padding-bottom: 20px;
        margin-bottom: 35px;
    }

    .right-foot-sec h6 {
        font-size: 17px;
        margin-bottom: 44px;
    }

button.close {
    opacity: 1;
    color: white;
    position: absolute;
    font-size: 32px;
    right: 5px;
    top: 0px;
}

.imgicon {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 10%;
}

    .imgicon img {
        margin-top: 15%;
    }
/*----------------------------------------------Header and footer start--------------------------------------------------------*/


/*------------content---------------------------------------------------*/

#content-left-column, #right-column {
    margin-top: 20px;
}

#content-heading {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 26px;
    /*font-weight: bold;*/
    line-height: 28px;
    color: #004b8f;
}

#content-subheading-content {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 15px 0 0 0;
}

#content-subheading {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #004b8f;
}

.space-between-headings {
    margin-top: 20px;
}

.space-after-content {
    margin-bottom: 20px !important;
}

.list-column-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    display: inline-block;
    margin-bottom: 20px !important;
}

    .list-column-2 li:nth-child(5) {
        padding-top: 14px !important;
    }

/*------------Home Page---------------------------------------------------*/

.homefont {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.home-sub-head h1 {
    color: #006ac3;
}

.home-sub-content p {
    color: #7c7f7e;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 30px;
}

.doc-content h3 {
    color: #0a5185;
    margin-top: 0px;
    padding-top: 20px;
}

.doc-content {
    background: #f1f1f1;
    padding: 0px 15px 30px 15px;
}

    /*.doc-content ul {
        max-height: 306px;
        overflow-y: auto;
    }*/

    .doc-content ul li:before {
        font-family: FontAwesome;
        content: "\f105";
        float: left;
        width: 1.4em;
        margin-left: -35px;
        background: #0a5185;
        margin-right: 14px;
        text-align: center;
        color: white;
        font-weight: bold;
        margin-top: 5px;
    }

    .doc-content ul {
        list-style: none;
    }

        .doc-content ul li {
            margin-bottom: 20px;
        }

.doc-content1 h3 {
    color: #726d7b;
}

.doc-img img {
    height: 196px !important;
    max-width: 100%;
}

.mad-img {
    height: 156px !important;
    max-width: 100%;
}

.mad-teaser-heading {
    text-align: center;
    color: #7C7F7E;
    font-size: 16px;
}

.doc-img img:hover {
    transform: scale(1.1);
}

.doc-img img {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.not-mem button {
    background: #60bc02;
    border: 1px solid #60bc02;
    color: white;
    width: 100%;
    height: 58px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 26px;
    border-radius: 3px;
}

.navbar {
    margin-bottom: 0 !important;
}

/****** BPP Landing Page (rehab) ******/

.bpp-breadcrumbs {
    float: left;
    margin-top: 25px;
    /* ?? (clean up) */
    font-family: arial;
    font-size: 14px;
}

    .bpp-breadcrumbs ol {
        list-style: none;
        padding: 0;
    }

        .bpp-breadcrumbs ol li {
            display: inline;
        }

            .bpp-breadcrumbs ol li + li:before {
                padding: 2px;
                content: "/\00a0";
            }

            .bpp-breadcrumbs ol li a:active {
                color: #2a5ca8;
                text-decoration: none;
            }

            .bpp-breadcrumbs ol li a.current-link {
                color: #5f6062;
                font-family: OpenSans, Arial;
            }

            .bpp-breadcrumbs ol li a {
                color: #2a5ca8;
                font-family: OpenSans-Semibold, Arial;
            }
/*--------------------------Find A Doc box---------------------------*/

.find-doc {
    background: #2a4e7c;
    padding: 20px;
    color: white;
    margin-top: 20px;
    border-radius: 3px;
}

    .find-doc input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #f1f1f1;
        color: grey;
    }

    .find-doc label {
        margin-top: 10px;
    }

select.find-doc-select {
    border: 1px solid #AAA;
    border-radius: 4px;
    color: #555;
    padding: 6px 0px;
    width: 100%;
}

.find-doc-form-head h4 {
    font-weight: bold;
}

.find-doc-form-search-btn button {
    background: #4eaacf;
    color: white;
    width: 100%;
    font-size: 15px;
    border: 1px solid #4eaacf;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0px;
    border-radius: 3px;
}

/*--------------------------User Login box---------------------------*/

.login-box-btn button, .login-box-btn input {
    background: #4eaacf;
    color: white;
    width: 100%;
    font-size: 15px;
    border: 1px solid #4eaacf;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0px;
    border-radius: 3px;
}

.leadership ul {
    list-style: none;
}

    .leadership ul li {
        margin-bottom: 60px !important;
    }

.leaders-flex-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.leaders-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bioContent p {
    font-size: 16px;
    line-height: 18px;
    color: #313131;
}

.leadershipPic h3 {
    font-size: 14.5px !important;
    font-weight: 500;
    line-height: 18px;
    color: #004b8f;
    margin: 15px 0 2px 0;
}

.leadershipPic h6 {
    font-size: 12px;
    line-height: 14px;
    color: #5d5d5d;
    display: block;
    margin: 5px 0 0 0;
}

.leadership .bioContent {
    padding-left: 0 !important;
}

#bottom-content {
    margin: 20px 0 0 0;
}

/*------------Detail Page---------------------------------------------------*/

.content-wrap img {
    border: 5px solid #b8b8b8 !important;
}

.content-wrap {
    margin-top: 30px;
    margin-bottom: 200px;
}

    .content-wrap h1 {
        /*font-family: 'alright_sansmedium' !important;*/
        line-height: 28px !important;
        color: #004b8f !important;
    }

    .content-wrap h3 {
        /*font-family: 'alright_sansmedium' !important;*/
        font-size: 20px !important;
        line-height: 22px !important;
        color: #004b8f !important;
        margin-top: 40px !important;
    }

    .content-wrap h2 {
        /*font-family: 'alright_sansmedium' !important;*/
        font-size: 26px !important;
        line-height: 28px !important;
        color: #004b8f !important;
    }

    .content-wrap p {
        /*font-family: 'alright_sansregular';*/
        font-size: 16px;
        line-height: 28px;
        color: #313131;
        margin: 15px 0 0 0;
    }

    .content-wrap ul li {
        /*font-family: 'alright_sansregular';*/
        font-size: 18px;
        line-height: 28px;
        color: #313131;
        margin: 5px 0 0 35px;
        list-style-type: disc;
    }


/*------------------------------------------------*document center------------------------------------------------*/
.dcenter-sort-wrap {
}

.dcenter-topsort-margin {
    margin: 18px 0;
}

    .dcenter-topsort-margin ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

        .dcenter-topsort-margin ul li {
            flex-direction: row;
            padding-right: 20px;
            text-decoration: underline;
            /*	white-space: nowrap;*/
        }

.dcenter-doc-detail {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    .dcenter-doc-detail li {
        flex-direction: row;
        padding-right: 20px;
    }


.dcenter-topsort-margin label {
    color: grey;
}

.dcenter-topsort-margin span {
    font-weight: bold;
}


.dcenter-sort {
    text-align: right;
    /*float: right;*/
    display: inline-block;
    max-width: 90px;
}

.dcenter-sort-label {
    color: grey;
    padding-right: 10px;
}

.dcenter-header {
    color: #004b8f;
}

.dcenter-name a {
    text-decoration: underline;
}

.dcenter-filters-container {
    max-width: 200px;
    color: white;
    margin-bottom: 10px;
}

    .dcenter-filters-container select, .dcenter-filters-container input {
        color: black;
        margin-bottom: 10px;
    }

    .dcenter-filters-container label {
        font-weight: normal;
    }

.dcenter-filters-header, .dcenter-filters {
    background-color: #004b8f;
}

.dcenter-filters-header {
    padding: 10px 20px;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.dcenter-filters {
    padding: 10px;
}

.dcenter-refine-show {
    padding-bottom: 15px;
    color: grey;
    font-size: 12px;
}


.dcenter-results {
    list-style: none;
    padding-left: 0;
}

    .dcenter-results ul {
        list-style: none;
    }

        .dcenter-results ul li {
            font-size: 10px;
        }

.dcenter-result {
    display: inline-block;
    width: 100%;
}

.dcenter-result-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    width: 84%;
    float: right;
}

.dcenter-download-btn {
    background-color: #60bc02;
    color: white;
    border-radius: 4px;
    border: 1px solid #60bc02;
    width: 100%;
    min-height: 30px;
    font-weight: bold;
}

.dcenter-search-btn {
    background-color: #60bc02;
    color: white;
    border-radius: 4px;
    border: 1px solid #60bc02;
    width: 50%;
    min-height: 35px;
    font-weight: bold;
    margin-left: 25px;
}


.dcenter-name {
    font-size: 16px;
}

.doccenter-desc {
    font-size: 12px;
}

.dcenter-title-span2 {
    text-transform: uppercase;
    color: #fff;
    background-color: #004b8f;
    margin-left: 15px;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 12px;
}


.dcenter-controls-container {
    text-align: center;
    margin-left: 30px;
}

.dcenter-bottom-showing {
    margin-top: 8px;
}

#pagination ul {
    margin: unset !important;
}


.pagination-container {
    display: inline-block;
    color: #aaa;
    /*margin: 15px 0;*/
    margin: 5px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}

.dcenter-page-link {
    margin: 0 9px;
    color: #337ab7;
    cursor: pointer;
}



.dcenter-result-image {
    display: table;
}

    .dcenter-result-image span {
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
    }

    .dcenter-result-image img {
        display: table-cell;
        max-width: 60px;
        max-height: 70px;
        max-width: 100%;
        height: auto;
    }

.dcenter-result-filter {
    text-align: center;
}

.dcenter-sort-wrap select {
    border: 1px solid #AAA;
    border-radius: 4px;
    color: #555;
    padding: 6px 0px;
    width: 100%;
}

.dcenter-nodoc {
    font-size: 20px;
    font-weight: 700;
}

/*------------------------------Practice Profile-------------------------------------------------------------------------------*/

#btnAcceptPractice {
    padding: 3px 53px !important;
}

.bpp-application-placeholder-label {
    color: #006ac3;
    font-size: 12px;
    font-weight: normal;
}

.practice-prof-textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    color: #727272 !important;
    font-size: 13px;
    transition: all 0.4s;
    font-style: italic;
    border-radius: 3px;
    max-width: 100%;
}

.practice-prof-loc li {
    margin-bottom: 20px;
}

.practice-prof-loc_num {
    margin-bottom: 5px;
    color: #337ab7;
}

.practice-prof-select {
    height: 34px;
    margin-left: 0;
    margin-top: 0;
}

.practice-prof-loc {
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.bpp-cancel-btn {
    padding: 2px 55px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #4eaace;
    font-size: 17px;
    color: white;
    background-color: #4eaace;
}
.bpp-remove-btn {
    padding: 2px 55px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #4eaace;
    font-size: 17px;
    color: white;
    background-color: red;
}
    
/*------------------------------Providor Profile-------------------------------------------------------------------------------*/
.provider-profile-padding ul {
    list-style: none;
    padding: 0px;
    text-align: left;
    padding-left: 0px !important;
}

.provider-profile-padding .provider-profile-list li {
    padding: 6px 0px;
    color: gray;
    font-size: 16px;
}

.provider-profile-image {
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 20px;
}

.provider-profile-nopadd {
    padding-right: 0px !important;
}

.provider-profile-modal p {
    padding: 0px 40px;
}

.provider-profile-modal .providor-profile-modal-header {
    background: #f4f4f4;
    border-top-left-radius: 6px;
    padding-bottom: 5px;
    border-top-right-radius: 6px;
}

.provider-profile-modal .modal-footer {
    background: #f4f4f4;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 15px;
}

.provider-profile-table {
    width: 100%;
}

    .provider-profile-table > tbody > tr > td, .provider-profile-table > tbody > tr > th, .provider-profile-table > tfoot > tr > td, .provider-profile-table > tfoot > tr > th, .provider-profile-table > thead > tr > td, .provider-profile-table > thead > tr > th {
        border-bottom: 1px solid #ddd;
        padding: 5px 10px;
    }

.provider-profile-modal .modal-body {
    padding: 15px 0px;
    height: 250px;
    overflow-y: scroll;
}

.provider-profile-file {
    visibility: hidden;
    position: absolute;
}

.provider-profile-modal .modal-header h4 {
    color: gray;
    margin-bottom: 14px;
}

.provider-profile-modal .modal-footer h4 i {
    color: #8fcf21;
}

.provider-profile-modal .modal-footer .btn-default {
    background: #f4f4f4;
    color: black;
}

.provider-profile-head {
    color: #004b8f;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 45px;
}

.provider-profile-modal-dialog {
    width: 100% !important;
}

.provider-profile-modal .provider-profile-button {
    padding: 6px 25px;
}

.provider-profile-modal .browse {
    padding: 6px 20px !important;
}

.provider-profile-para {
    padding: 0px !important;
}

.provider-profile-modal .close {
    font-size: 30px;
}

.provider-profile-padd {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.provider-profile-list li a {
    text-decoration: underline;
}

.provider-profile-addbutton {
    border-radius: 2px !important;
}

select.provider-profile-select {
    margin-bottom: 20px;
}

select.form.frmintput.first {
    font-style: italic;
}

.provider-profile-padding {
    padding: 0px !important;
}


.providor-profile-page .form {
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 4px;
}

.practice-clr.form1 {
    background: #c6c6c6 !important;
}

.dropdown_admin {
    margin-top: 0px !important;
    margin-left: 0px !important;
    padding: 0px 15px !important;
}
.hr-basicAdmin-separator {
    background-color: grey;
    margin-top: 30px;
}

.providor-profile-page input, .provider-profile-page select {
    font-style: italic;
}

select.providor-profile-page-select {
    height: 38px;
    border: 1px solid #AAA;
    border-radius: 4px;
    color: #727272 !important;
    padding: 5px 10px;
    width: 100%;
    font-weight: normal;
    background-color: #c6c6c6;
}

.provider-profile-radio p, .provider-profile-radio form {
    color: grey;
}

.provider-profile-radio {
    margin-top: 20px;
}

.providor-profile-page h1 {
    font-weight: normal;
    color: #004f8e;
    font-size: 30px;
    margin-top: 0px;
}



.practice-clr {
    background: #B5B5B6;
}


.providor-profile-page {
    margin-bottom: 30px;
}

.providor-profile-bottom-btns {
    margin-top: 20px;
}

.providor-profile-modal-header button {
    color: #000000;
}


/*------------------------------bpp faq-------------------------------------------------------------------------------*/

.bpp-faq {
    margin-left: unset !important;
    margin-right: unset !important;
}

    .faqs {
        padding-bottom: 20px;
    }

    .faqs h3 {
        border-bottom: 1px solid #006ac3;
        line-height: 75px;
        color: #004F8E;
    }

    .faqs-scrollbar {
        height: 300px;
        overflow-y: scroll;
    }

    #style-2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 4px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar {
        width: 16px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar-thumb {
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #2b4d7a;
    }

    .faq-question {
        color: #006ac3;
        padding: 5px 0px 10px 10px !important;
        font-size: 18px;
    }

    .faq-answer {
        color: gray;
        font-size: 16px;
        font-weight: normal;
        padding: 5px 0px 20px 10px !important;
    }

    .faq-letter {
        font-size: 24px;
        color: gray;
    }

/*------------------------------bpp accordian form agreement-------------------------------------------------------------------------------*/

.bpp-agreement-pannel {
    max-height: 500px;
    overflow-y: auto;
}

.bpp-cp-heading {
    text-align: center;
    color: #337ab7;
    font-weight: 700;
    padding-bottom: 20px;
}

    .bpp-cp-heading h4 {
        line-height: 12px;
    }

.bpp-cp-firstinputbox p:first-child {
    padding-bottom: 10px;
}

.bpp-cp-liststart ol:first-child {
    columns: 2;
    column-gap: 30px;
}

.bpp-cp-liststart ol li ol li {
    padding-bottom: 15px;
}

.bpp-cp-firstinputbox ul {
    list-style: none;
    padding: 0 !important;
    margin-left: 15%;
    text-align: justify;
    align-content: center;
    width: 70%;
}

.bpp-cp-liststart {
    text-align: justify;
}

.bpp-cp-main {
    color: grey;
}

    .bpp-cp-main input {
        width: unset !important;
        border-radius: unset !important;
        background-color: transparent !important;
        border: none !important;
        border-bottom: 1px solid black !important;
        color: #555 !important;
        box-sizing: border-box !important;
        font-family: 'Arvo' !important;
        font-size: 18px !important;
    }

.bpp-cp-nocol {
    columns: unset !important;
    column-gap: !important;
}

.bpp-cp-bottom1 {
    padding-left: 7%;
}

.bpp-cp-bottom2 {
    padding-left: 6%;
}

.bpp-cp-bottom1 p {
    /*margin-left: 150px;*/
}

.bpp-cp-bottom2 p {
    /*margin-left: 150px;*/
    /*padding-bottom: 5%*/
}

/*---------------------------------------------------------------------------------------------------second agreement form*/

.bpp-ci-heading {
    text-align: center;
    color: #337ab7;
    font-weight: 700;
    padding-bottom: 20px;
}

.bpp-ci-justify {
    text-align: justify;
}

.bpp-ci-heading h4 {
    line-height: 12px;
}

.bpp-ci-firstol li {
    margin-left: 5%;
}

.bpp-ci-firstinputbox p:first-child {
    padding-bottom: 10px;
}



.bpp-ci-liststart-ol {
    padding-left: 0;
}

.bpp-ci-liststart ol li {
    padding-bottom: 20px;
    ;
}

.bpp-ci-padleft li {
    margin-left: 5%;
}

.bpp-ci-exibitd {
    text-align: left;
}

    .bpp-ci-exibitd > p {
        font-size: 12px;
    }

.bpp-cp-liststart ol li ol li {
    padding-bottom: 15px;
}



.bpp-cp-firstinputbox ul {
    list-style: none;
    padding: 0 !important;
    margin-left: 15%;
    text-align: justify;
    align-content: center;
    width: 70%;
}

.bpp-cp-liststart {
    text-align: justify;
}

.bpp-ci-main input {
    width: unset !important;
    border-radius: unset !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    color: #555 !important;
    box-sizing: border-box !important;
    font-family: 'Arvo' !important;
    font-size: 18px !important;
}


.bpp-ci-exibit {
    text-align: center;
}

    .bpp-ci-exibit p:first-child {
        border-top-style: double;
        border-top-width: 5px;
        border-bottom-style: double;
        border-bottom-width: 5px;
        padding-top: 15px;
    }

    .bpp-ci-exibit p:last-child {
        border-bottom-style: double;
        border-bottom-width: 5px;
        padding-bottom: 15px;
    }

#bpp-ci-smallinput {
    width: 40px !important;
}

.bpp-witnesses {
    margin: 2% 0;
}

/*------------------------------responsive-------------------------------------------------------------------------------*/
/*aLL "SMART PHONES" break points
    /*.top-icons;*/

@media (max-device-width: 737px) 
{
    .top-icons { display: none; }
}

.modal-icons figcaption {
    font-size: 12px !important;
}


/*aLL "SMART PHONES" ends*/


@media (max-width : 480px) {


    .nav-modal-head span a p {
        font-size: 10px;
        margin-top: 6px;
        margin-left: 14px;
    }



    .list-column-2 {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        margin-bottom: 20px !important;
    }

        .list-column-2 li:nth-child(5) {
            padding-top: unset !important;
        }

    .modal-backdrop {
        z-index: -2 !important;
    }

    .leadership .bioContent {
        margin-left: 15px;
        margin-top: 10px;
    }


    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 3px;
    }
    /*ends*/

}

@media (min-width: 320px) and (max-width:480px) {


    .provider-profile-padd {
        padding-left: 15px !important;
    }

    .provider-profile-head {
        font-size: 19px !important;
        margin-bottom: 15px;
        text-align: center !important;
    }

    .bpp-cancel-btn {
        font-size: 14px;
        padding: 2px 39px;
    }

    .bpp-submit-btn {
        font-size: 14px;
        padding: 3px 50px;
    }
    .bpp-clone-btn {
        font-size: 14px;
        padding: 3px 50px;
    }
    .bpp-remove-btn {
        font-size: 14px;
        padding: 3px 50px;
    }
}

@media (max-width : 376px) {

    .list-column-2 {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        margin-bottom: 20px !important;
    }

        .list-column-2 li:nth-child(5) {
            padding-top: unset !important;
        }

    .modal-backdrop {
        z-index: -2 !important;
    }

    .leadership .bioContent {
        margin-left: 15px;
        margin-top: 10px;
    }


    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 3px;
    }
    /*ends*/

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .top-icons {
        display: inline-flex;
        margin-top: 5px;
    }

        .top-icons li a {
            font-size: 8px;
            text-align: center;
        }

            .top-icons li a figcaption {
                margin-left: 0px;
            }

            .top-icons li a img {
                /*object-fit: contain;*/
                margin-bottom: 4px;
                min-height: 30px;
                min-width: 30px;
                max-height: 30px;
                max-width: 30px;
            }

    .bpp-navbar {
        display: none;
    }

    .modal-navHeader {
        font-size: 20px !important;
    }

    .modal-navLinks {
        font-size: 16px !important;
    }
    /*this ovverides bootstrap nabar toggle behavior*/
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
    /*ends*/


    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 6px;
        font-size: 50px;
    }
    /*ends*/

}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1336px) {
    .top-icons {
        display: inline-flex;
    }

        .top-icons a {
            font-size: 10px;
        }

        .top-icons li a img {
            /*object-fit: contain;*/
            margin-bottom: 4px;
            min-height: 30px;
            min-width: 30px;
            max-height: 30px;
            max-width: 30px;
        }


    .bpp-navbar {
        display: none;
    }

    .modal-navHeader {
        font-size: 20px !important;
    }

    .modal-navLinks {
        font-size: 16px !important;
    }
    /*this ovverides bootstrap nabar toggle behavior*/
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
    /*ends*/

    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 6px;
        font-size: 50px;
    }
    /*ends*/


}

@media screen and (max-width: 768px) {
    .practice-prof-loc {
        padding-left: 4.25% !important;
        padding-right: 5.25% !important;
    }

    .footer .not-member button {
        padding: initial;
    }
}

@media screen and (min-width: 765px) {

    .doc-content h3 {
        min-height: 72px;
        max-height: 72px;
        overflow-y: auto;
    }

    .doc-content ul {
        min-height: 256px;
        max-height: 256px;
        overflow-y: auto;
    }
}

@media screen and (min-device-width : 768px) and (max-width: 1024px) {

    .practice-prof-loc {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
}

@media screen and (max-width: 991px) {
    .dcenter-sort-wrap {
        float: none;
        margin: 15px auto;
    }

    .dcenter-filters-container {
        display: none;
        margin-bottom: 30px;
    }

    .dcenter-result-filter {
        margin-bottom: 30px;
    }

    .dcenter-sort {
        float: none;
        max-width: 100% !important;
    }

    .dcenter-title-span2 {
        margin-left: 1px;
    }

    .dcenter-download-btn {
        width: 100%;
    }

    .dcenter-search-btn {
        width: 150%;
        margin-top: 5px;
        margin-left: unset;
    }

    .dcenter-filters-container {
        max-width: 800px;
    }

    .dcenter-filters > .radio {
        display: inline-block;
    }

    #pagination .pagination > li > a {
        padding: 2px 9px !important;
    }

    .providor-profile-bottom-btns .text-right button:last-child {
        margin-left: 0px !important;
        padding: 3px 68px;
    }

    .providor-profile-bottom-btns .text-right {
        text-align: center;
    }

    .providor-profile-page .bpp-submit-btn {
        padding: 3px 53px;
    }
    .providor-profile-page .bpp-clone-btn {
        padding: 3px 53px;
    }



    .bpp-cp-liststart ol:first-child {
        columns: unset;
        column-gap: unset;
    }

    .bpp-cp-heading h4 {
        line-height: unset;
    }

    .bpp-cp-bottom2 {
        padding-top: 6%;
    }

    .bpp-cp-bottom1 p {
        margin-left: unset;
    }

    .bpp-cp-bottom2 p {
        margin-left: unset;
        padding-bottom: 5%;
    }

    .bpp-ci-heading h4 {
        line-height: unset;
    }


    .bpp-ci-firstol li {
        margin-left: unset;
        padding-right: 5%;
    }
}

@media only screen and (min-width:768px ) {

    .providor-profile-page .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .providor-profile-page .container {
        width: 1170px !important;
    }
}

.login-box-btn-btn {
    background: #4eaacf;
    color: white !important;
    width: 100%;
    font-size: 15px;
    border: 1px solid #4eaacf !important;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0px;
    border-radius: 3px;
}

#myCarousel {
    margin-bottom: 20px !important;
}

    #myCarousel .carousel-control {
        width: 15% !important;
    }

        #myCarousel .carousel-control > span {
            color: #004F8E !important;
            top: 50% !important;
        }
.instructions {
    color: #333333;
    background-color: #ffffff;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    border: 0px;
}
