﻿.bpp-app-form {
    /*max-width: 960px;*/
    /*margin: 20px auto 20px auto;*/
}

hr {
    width: 100%;
}

.bpp-app-form h1 {
    color: #014f8f;
}

.bpp-app-form .form-intro {
    color: #78798c;
    max-width: 60%;
}

.bpp-app-form .question-label {
    font-weight: bold;
    color: #0064a0;
}

.bpp-app-form input, .bpp-app-form select {
    /*margin: 10px 0;*/
    margin: 18px 0;
}

    .bpp-app-form input::placeholder, .bpp-app-form input:placeholder-shown {
        font-style: italic;
    }

.bpp-app-form .row {
    /*max-width: 90%;*/
    /* margin: 0 0; */
}

.bpp-app-form input[type=radio] {
    margin: 4px 0 0 -20px !important;
}

.bpp-app-form input[type=submit], .bpp-app-form button {
    background-color: #60bc02;
    color: white;
    border-radius: 4px;
    border: 1px solid #60bc02;
    padding: 5px 50px 4px 50px;
    margin-top: 20px;
    font-weight: bold;
}

.bpp-app-form input[type=submit] {
    float: right;
    margin-right: 16px;
}

    .bpp-app-form input[type=submit][disabled], .bpp-app-form input.disabled,
    .bpp-app-form select.disabled {
        background-color: #eee;
        color: #888 !important;
        border: 1px solid #eee;
        cursor: not-allowed;
    }

select.disabled option {
    display: none;
}

.radio-inline {
    margin: 0 15%;
    color: #ccc;
}

.app-form-radios {
    margin-bottom: 15px;
}

.radio-inline.checked {
    color: #0064a0;
    font-weight: bold;
}

.add-section, .remove-section {
    cursor: pointer;
    color: #4a90e2;
    padding: 5px 0px 5px 20px;
}

.add-section {
    text-align: right;
}

.remove-section {
    text-align: left;
}

    .add-section.disabled, .remove-section.disabled {
        color: #666;
        cursor: not-allowed;
    }

.gray-background {
    background-color: #f1f1f1;
}

.show-after-practices {
    display: none;
}

.toggle-message {
    margin-top: 10px;
}

.error {
    color: red !important;
    font-weight: bold;
}

.provider-multi {
    margin-top: 30px;
    border-top-color: darkgray;
    border-top-width: thin;
}

    .provider-multi hr {
        /*border-top: 1px solid white;*/
        border-top: 2px solid #ccc;
    }

.location-multi {
    margin-top: 30px;
}

    .location-multi hr {
        border-top: 2px solid #ccc;
    }

.provider-num {
    /* padding: 20px 20px 0 20px; */
    color: #0064a0;
    font-weight: bold;
    padding-bottom: 10px;
}

.location-num {
    /* padding: 20px 20px 0 20px; */
    color: #0064a0;
    font-weight: bold;
    padding-bottom: 10px;
}
select:valid {
    color: #999;
}

select option {
    color: #555;
    font-style: normal !important;
}


@media screen and (max-width: 767px) {
    .bpp-app-form .form-intro {
        max-width: 100%;
    }

    .add-section, .remove-section {
        text-align: center;
        margin: 15px auto;
        border: 1px solid #4a90e2;
        border-radius: 4px;
        max-width: 70%;
    }
}

.confirmation {
    min-height: 50vh;
}
.savespace {
    margin-top: 20px !important;
}
