﻿.provider-profile-breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\f054 " !important;
    font-family: fontAwesome;
}
.selectedLocation
{
    font-weight:bold;
    background-color:#60bc02;
    color:white;
    padding: 5px;
}
.pp2-main-right {
    padding-left: 0 !important;
}

.pp2-administrative {
    font-weight: normal;
    color: #A9B0B8;
    font-size: 30px;
    margin-top: 0px;
}

.provider-profile-padding .panel-body {
    padding-top: 0px;
}

.provider-profile-padding .panel-default {
    border: none !important;
}

.provider-profile-breadcrumb li a {
    color: #5cabf0;
}

.provider-profile-breadcrumb {
    background-color: transparent !important;
    margin-top: 6px;
    padding: 0px !important;
}
/*.provider-profile-padding{ padding:0px 26px;}*/

.provider-profile-padding ul {
    list-style: none;
    padding: 0px;
    text-align: left;
    padding-left: 0px !important;
}

.provider-profile-padding .provider-profile-list li {
    padding: 6px 0px;
    color: gray;
    font-size: 16px;
}

.provider-profile-image {
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 20px;
}

.provider-profile-nopadd {
    padding-right: 0px !important;
}

.provider-profile-modal p {
    padding: 0px 40px;
}

.provider-profile-modal .modal-header {
    background: #f4f4f4;
    border-top-left-radius: 6px;
    padding-bottom: 5px;
    border-top-right-radius: 6px;
}

.provider-profile-modal .modal-footer {
    background: #f4f4f4;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 15px;
}

.provider-profile-table {
    width: 100%;
}

    .provider-profile-table > tbody > tr > td, .provider-profile-table > tbody > tr > th, .provider-profile-table > tfoot > tr > td, .provider-profile-table > tfoot > tr > th, .provider-profile-table > thead > tr > td, .provider-profile-table > thead > tr > th {
        border-bottom: 1px solid #ddd;
        padding: 5px 10px;
    }

.provider-profile-modal .modal-body {
    padding: 15px 0px;
    height: 250px;
    overflow-y: scroll;
}

.provider-profile-file {
    visibility: hidden;
    position: absolute;
}

.provider-profile-modal .modal-header h4, .mod-cont > .provider-profile-modal .modal-footer h4 {
    color: gray;
    margin-bottom: 14px;
}

.provider-profile-modal .modal-footer h4 i {
    color: #8fcf21;
}

.provider-profile-modal .modal-footer .btn-default {
    background: #f4f4f4;
    color: black;
}

.provider-profile-head {
    color: gray;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 45px;
}

.provider-profile-modal-dialog {
    width: 100% !important;
}

.provider-profile-modal .provider-profile-button {
    padding: 6px 25px;
}

.provider-profile-modal .browse {
    padding: 6px 20px !important;
}

.provider-profile-para {
    padding: 0px !important;
}



.provider-profile-modal .close {
    font-size: 30px;
}

.provider-profile-padd {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.provider-profile-list li a {
    text-decoration: underline;
}

.provider-profile-addbutton {
    border-radius: 2px !important;
}

.bpp-application-placeholder-label {
    color: #006ac3;
    font-size: 12px;
    font-weight: normal;
}

select.provider-profile-select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/ar.png);
    background-position: 101% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 2px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 34px;
    font-size: 13px;
    color: grey !important;
    margin-bottom: 20px;
    background-color: white;
    font-weight: bolder;
}

.provider-profile-padding {
    padding: 0px !important;
}



/* Input Styles */

.providor-profile-page .form {
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 4px;
}

.practice-clr.form1 {
    background: #c6c6c6 !important;
}


.employ-primary-choice p {
    font-size: 12.5px;
}

.employ-primary-choice form {
    font-size: 10.5px;
}

.employ-primary-choice {
    margin-top: 20px;
    padding-left: 0px;
    margin-bottom: 60px;
}

.hr-basicAdmin-separator {
    background-color: grey;
    margin-top: 30px;
}

.providor-profile-page input {
    font-style: italic;
}

select.providor-profile-page-select {
    height: 38px;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/ar.png) !important;
    background-position: 101% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #ABABAB !important;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: normal;
    background-color: #c6c6c6;
}

.provider-profile-radio p, .provider-profile-radio form {
    color: grey;
}

.provider-profile-radio {
    margin-top: 20px;
}

.providor-profile-page h1 {
    font-weight: normal;
    color: #A9B0B8;
    font-size: 30px;
    margin-top: 0px;
}

.providor-profile-page-admins h3 {
    font-weight: normal;
    color: grey;
    font-size: 30px;
    margin-top: 40px;
}

.providor-profile-page-admins {
    padding: 0px;
}

.contain {
    padding: 0px;
}

.providor-profile-page-contactnew {
    margin-top: 47px;
}

.providor-profile-page-Nopadding {
    padding: 0px;
}

.providor-profile-page-RNopadding {
    padding-right: 0px !important;
}

.providor-profile-page label {
    color: #006ac3;
    font-size: 12px;
    font-weight: normal;
}

.practice-profile-end-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pp-btn-save {
    /*	margin-left:10px !important;*/
}

.pp-btn-cancel {
    /*	margin-right:5px !important;*/
}

.practice-clr {
    background: #B5B5B6;
}
/*--media query--*/

@media only screen and (max-width:480px ) and (min-width: 320px) {
    .providor-profile-page-RNopadding {
        padding-right: 15px;
    }

    .providor-profile-page-Nopadding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rightdetail {
        padding: 0px 28px;
    }
}

@media only screen and (min-width:768px ) {
    .providor-profile-page-RNopadding {
        padding-right: 15px;
    }

    .providor-profile-page-Nopadding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .providor-profile-page .container {
        width: 100%;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {
    .providor-profile-page label {
        color: grey;
        font-size: 12px;
        font-weight: normal;
        word-wrap: break-word;
    }
}

@media (min-width: 1200px) {
    .providor-profile-page .container {
        width: 1170px !important;
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .provider-profile-breadcrumb li {
        font-size: 6px;
    }

    .provider-profile-padd {
        padding-left: 15px !important;
    }

    .provider-profile-head {
        font-size: 19px !important;
        margin-bottom: 15px;
        text-align: center !important;
    }
}

@media only screen and(min-width: 320px) {
    .bc > .provider-profile-breadcrumb > li {
        font-size: 8px !important;
    }
}


.provider-profile-edit-btn {
    padding: 3px 60px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 17px;
    border-radius: 3px;
}

.provider-profile-bot-btn {
    margin-top: 30px;
    margin-bottom: 20px;
}

.provider-profile-list a {
    color: #99d7ee;
}

.practice-profile-2-heading h1 {
    font-size: 45px;
}

.practice-profile-2-mssp-no h3 {
    color: #A9B0B8;
    font-size: 35px;
}

.practice-profile-2-attach a {
    font-size: 35px;
    color: #59a2e7;
}

    .practice-profile-2-attach a:hover {
        text-decoration: none;
    }

.practice-profile-2-edit-btn {
    margin-top: 40px;
}

.practice-profile-2-admin-section input {
    background: #c6c6c6 !important;
}

    .practice-profile-2-admin-section input::-webkit-input-placeholder {
        color: #ABABAB;
    }

.providor-profile-page label {
    word-break: break-word;
    margin-bottom: 0px;
}

.providor-profile-page .col-md-1, .providor-profile-page .col-md-2, .providor-profile-page .col-md-3, .providor-profile-page .col-md-4, .providor-profile-page .col-md-5, .providor-profile-page .col-md-6, .providor-profile-page .col-md-7, .providor-profile-page .col-md-8, .providor-profile-page .col-md-9, .providor-profile-page .col-md-1.providor-profile-page .col-md-10, .providor-profile-page .col-md-11, .providor-profile-page .col-md-12 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.practice-profile-2-bread-crum {
    padding: 0px !important;
}

    .practice-profile-2-bread-crum li a {
        font-size: 16px;
    }

.pp2-main-right {
    padding-left: 0 !important;
}

.pp2-administrative {
    font-weight: normal;
    color: #A9B0B8;
    font-size: 30px;
    margin-top: 0px;
}

@media (max-width:768px) {
    .practice-profile-2-heading h1 {
        font-size: 27px;
    }

    .practice-profile-2-heading {
        text-align: center;
    }

    .practice-profile-2-mssp-no, .practice-profile-2-attach, .practice-profile-2-edit-btn {
        text-align: center !important;
    }

        .practice-profile-2-mssp-no h3 {
            font-size: 20px;
        }

        .practice-profile-2-attach a {
            font-size: 20px;
        }

    .practice-profile-2-edit-btn {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.providertable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

    .providertable td {
        padding: 10%;
    }

    .providertable thead tr {
        background: #294e7b !important;
        color: white;
    }

        .providertable thead tr th {
            width: 30%;
            padding: 10px !important;
        }

            .providertable thead tr th:nth-child(3) {
                width: 15% !important;
            }

            .providertable thead tr th:nth-child(5) {
                width: 32% !important;
            }

            .providertable thead tr th:nth-child(9), .providertable thead tr th:nth-child(10) {
                display: none !important;
            }

    .providertable td {
        padding: 10px;
    }

        .providertable td:nth-child(9), .providertable td:nth-child(10) {
            display: none !important;
        }

    .providertable tr:nth-child(odd) {
        background: #f9f9f9;
    }

    .providertable tr:nth-child(even) {
        background: #ffffff;
    }
