﻿input:not([type="submit"]), select {
    font-style: italic;
}


.pm-application-outer .ui-state-default {
    background: #2a4e7c !important;
}
 .field-validation-error {
        color:Red;
}
.pm-application-outer h3 a {
    font-size: 132% !important;
}

#btnSavePracAppStep1, #btnSavePracAppStep2, #btnSavePracAppStep3, #btnSavePracAppStep4, #btnSubmitPracAppStep4 {
    margin-right: 10px;
}

.pm-tickmark {
    font-size: 20px;
    color: greenyellow;
    padding-right: 25px;
}

.pm-application-outer h3 .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #fff !important;
    text-decoration: none !important;
}

.pm-application-outer .ui-accordion .ui-accordion-header {
    /* display: block; */
    /* cursor: pointer; */
    position: relative !important;
    padding: 1.5em .5em 1.5em .7em !important;
    zoom: 1 !important;
    text-align: center !important;
    font-weight: bold !important;
    border-radius: 0px !important;
}


.pm-button-active-style {
    background: #60bc02 !important;
    color: #fff !important;
    font-weight: bold !important;
}


.pm-application-outer input[type=text],
input[type=password],
select {
    width: 100% !important;
    margin: 5px 0;
    height: 33px;
    padding: 5px;
    border: 1px solid #979797;
    border-radius: 4px;

}

.pm-application-outer textarea {
    width: 100%;
    margin: 10px 0;
    height: 70px;
    padding: 5px;
    border-radius: 4px;
}

.pm-application-outer input[type=submit],
input[type=button] {
    padding: 5px 40px;
    height: 40px;
    background-color: #f1f1f3;
    border: none;
    border-radius: 4px;
    color: #979797;
    border: 1px solid #979797;
    margin-bottom: 10px;
}



.pm-application-form-list li {
    display: list-item;
    /*color: #c1c5cc;*/
    margin-top: 25px;
    margin-right: 52px;
}

.pm-locations ul {
    list-style: none;
    padding: 0;
}

    .pm-locations ul li {
        /*margin:0px 0 10px 0 !important;*/
        border-bottom: 1px solid #979797;
        padding: 10px 0 10px 0 !important;
    }

        /*.pm-locations ul li:first-child {
            padding: 0px 0 0px 0 !important;
        }*/

        .pm-locations ul li:last-child {
            /*padding: 0px 0 0px 0 !important;*/
            border-bottom: none !important;
        }

        .pm-locations ul li h4 {
            margin-top: 20px;
        }

.pm-submitProvidor ul {
    list-style: none;
    padding: 0;
}

    .pm-submitProvidor ul li {
        margin-top: 30px;
        /*border-top: 1px solid #979797;*/
    }

.pm-submitProvidor input[type="checkbox"] {
    margin-right: 5px;
}

.fa-spinner {
    display: none;
}

#prac_locations ul {
    list-style: none !important;
    padding: 0 !important;
}

    #prac_locations ul li {
        margin-top: 30px !important;
        border-top: 1px solid #979797;
    }

        #prac_locations ul li h4 {
            margin-top: 30px;
        }

.pm-checkbox label {
    font-weight: unset;
}

.pm-application-label {
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-weight: 500;
    box-sizing: border-box !important;
    font-family: 'Arvo' !important;
    font-size: 18px !important;
    color: #555;
}

.pm-application-descrip p {
    color: #979797;
}

.pm-application-heading-panel p {
    color: #979797;
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
}

.pm-application-outer {
    /*border: 1px solid #979797;*/
    margin-bottom: 40px;
}

.pm-application-copy-btn {
    padding-top: 30px;
    padding-bottom: 30px;
}

    .pm-application-copy-btn button {
        background: #f1f1f3;
        border: 1px solid #979797;
        padding: 10px 40px;
        color: #979797;
        font-weight: bold;
        margin-top: 19px;
    }

.joinder-submit-btn {
    margin-top: 15px !important;
    border: 1px solid transparent !important;
}

.lbl-min-width-150{
    min-width:150px !important;
}

.lbl-min-width-280{
    min-width:280px !important;
}

.pm-application-pre_btn {
    margin-right: 10px;
}

.pm-application-checks p, .pm-application-check2 p, .pm-application-check2 label {
    color: #979797;
}

.pm-application-checks p, .pm-application-check2 p {
    margin-top: 20px;
}

.pm-application-add-loc {
    margin-top: 22px;
    display: block;
    font-size: 18px;
    color: #4c8bdb !important;
}

.pm-application-previo-btn {
    margin-top: 15px;
}

.pm-application-add-pro a {
    padding: 20px;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    color: #4c8bdb !important;
}

.pm-application-acco-bottm {
    margin-right: -34px !important;
    margin-left: -33px !important;
    margin-bottom: -16px;
    padding: 20px 0px;
}

.pm-application-save-btn-app-btn {
    background: #83b0ca;
    border: 1px solid #979797;
    padding: 5px 40px;
    color: #fff;
    font-weight: bold;
}

.pm-application-final-apply {
    background: #60bc02 !important;
    color: #fff !important;
    border: 1px solid #60bc02;
    padding: 10px 40px;
    font-weight: bold;
}

.pm-submit {
    float: right;
    background: #f1f1f3;
    border: 1px solid #979797;
    padding: 10px 40px;
    color: #979797;
    font-weight: bold;
}

#register, .pm-previous, .pm-next {
    float: right;
    background: #f1f1f3;
    border: 1px solid #979797;
    padding: 10px 40px;
    color: #979797;
    font-weight: bold;
}

.pm-previous {
    margin-right: 10px;
}

.checkbox label, .radio label {
    color: grey !important;
}

.pm-application-wit {
    margin-top: 30px;
    /*color: grey;*/
}

.pm-application-wit1 {
    margin-top: 30px;
}

.pm-application-provider-label label {
    margin-top: 8px;
    color: grey;
    font-weight: normal;
}

.pm-application-tab3-form {
    color: grey;
}

.pm-application-witness a i {
    margin-left: 10px;
    font-size: 24px;
    color: #4172a7;
}

.pm-application-witness input {
    width: 100% !important;
    background: #f0eaea;
    margin-bottom: 5px;
    /*border: 3px solid #a7a7a9;
    border-radius: 0px;*/
}

.pm-application-witness label, .signature-inputs label, .app-form-opening-statement label {
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-weight: 500;
    box-sizing: border-box !important;
    font-family: 'Arvo' !important;
    font-size: 18px !important;
    color: #555;
}

.app-form-opening-statement label {
    padding: 0 10px 0 3px;
}

.pm-application-witness label {
    width: 100%;
}

.signature-inputs label {
    width: 100%;
    margin-bottom: 5px;
}

.pm-application-provider-label input {
    background: #f0eaea;
}

.pm-application-wit1 input {
    width: 100% !important;
}

.pm-add-loc-Class {
    background-color: white !important;
    border: none !important;
    font-size: 20px !important;
    color: #4c8bdb !important;
    padding: 0;
}

.fourth-pannel {
    /*max-height: 800px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;*/
    overflow: hidden !important;
}

.signature-inputs input {
    width: 100% !important;
}

button[disabled] {
    cursor: not-allowed;
}

.pm-copy-btn-link {
    padding: 10px 40px;
    border-radius: 0;
    margin-top: 15px;
}

.ui-accordion-header-icon {
    display: none;
}

@media (min-width:320px) and (max-width:480px) {
    #register, .pm-previous, .pm-next {
        padding: 5px 26px;
    }


    #register, .pm-previous, .pm-next {
        float: none;
        margin-bottom: 10px;
    }

    div.pm-application-previo-btn {
        padding-left: 33px !important;
    }


    .ui-accordion-content {
        text-align: left;
    }

    .pm-application-outer .ui-accordion .ui-accordion-header {
        padding: 1.5em 2.5em 1.5em 2.2em !important;
        text-align: center !important;
    }

    .pm-application-outer .ui-accordion .ui-accordion-content {
        padding: 1em 1.2em !important;
        overflow: unset !important;
    }

    .pm-application-outer input[type=submit],
    input[type=button] {
        padding: 0 !important;
    }

    .pm-application-wit1 input {
        width: 100% !important;
    }

    .pm-application-outer h3 a {
        font-size: 100% !important;
    }

    .pm-tickmark {
        padding-right: 0 !important;
    }

    .fourth-pannel {
        height: unset !important;
    }
}

@media (min-width:760px) and (max-width:1025px) {

    .pm-application-wit1 input {
        width: 100% !important;
    }

    .fourth-pannel {
        height: unset !important;
    }
}

.pm-text_field_r::-webkit-input-placeholder {
    color: red !important;
}


.pm-text_field_r::-moz-placeholder { /* Firefox 19+ */
    color: red !important;
}

.pm-text_field_r::-ms-input-placeholder { /* IE 10+ */
    color: red !important;
}

.pm-text_field_r::placeholder { /* IE 10+ */
    color: red !important;
}

.pm-psubmit_r::-webkit-input-placeholder {
    color: red !important;
}


.pm-psubmit_r::-moz-placeholder { /* Firefox 19+ */
    color: red !important;
}

.pm-psubmit_r::-ms-input-placeholder { /* IE 10+ */
    color: red !important;
}

.pm-psubmit_r::placeholder { /* IE 10+ */
    color: red !important;
}

