﻿.heading h1 {
    color: #2b5689;
    margin-bottom: 30px;
}

.heading {
    position: relative;
}

.search {
    margin-bottom: 50px;
}

#survey-table_filter input {
    padding: 7px;
    width: 150%;
    border: 1px solid #c4c4c6;
    border-radius: 4px;
    font-weight: normal;
}

.search-btn {
    background: #60bc03;
    color: white;
    border: 1px solid #60bc03;
    margin-left: 50px;
    width: 20%;
    height: 34px;
    border-radius: 4px;
    font-size: 18px;
}

.set {
    color: #c4c4c6;
}

#survey-table_filter {
    float: left;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 1px;
}

.dataTables_length {
    float: right !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c4c4c6;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #c4c4c6;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #c4c4c6;
}

:-moz-placeholder { /* Firefox 18- */
    color: #c4c4c6;
}

#survey-table thead {
    background: #294e7b;
    color: white;
}
.bod {
    border-left: 2px solid#c4c4c4;
}

.dataTables_paginate {
    margin-top: 40px;
    margin-bottom: 20px;
}

.paginate_butto {
    background: none !important;
    background-color: transparent !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: black;
    background: none !important;
    background-color: transparent !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: black;
    background: none !important;
    background-color: none !important;
    border: none !important;
}

.dataTables_info {
    margin-top: 40px;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.submit-btn {
    background: #63b910;
    color: white;
    border: 1px solid #63b910;
    border-radius: 4px;
    width: 100px;
    padding: 3px 0px;
    font-size: 16px;
    margin-left: 30px;
}
.reject-btn {
    background: #9e2828;
    color: white;
    border: 1px solid #63b910;
    border-radius: 4px;
    width: 100px;
    padding: 3px 0px;
    font-size: 16px;
    margin-left: 30px;
}
.bottom-sec.left {
    text-align: left;
}

.bottom-sec.right {
    text-align: right;
}

.bottom-sec select {
    margin-right: 10px;
    padding: 7px;
    margin-bottom: 30px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a:hover {
    background: #294e7b;
}

.no-sort {
    background-image: none !important;
}

table.dataTable thead th {
    padding: 1px 13px !important;
}

.dataTables_length select {
    width: 80px;
    background-position: 86% center !important;
}

select {
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 10px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    font-weight: bold;
}

select::-ms-expand {
    border: none;
    background-color: white;
}

.serch {
    background: #60bc02;
    color: white;
    border: 1px solid #60bc02;
    width: 9%;
    height: 35px;
    font-size: 18px;
    border-radius: 4px;
    position: absolute;
    left: 31%;
    z-index: 999;
}

.dataTables_length label {
    color: #acacac;
}

.dataTables_info {
    color: #acacac !important;
}

tbody {
    color: #8e8d8d;
}

@media(min-width:320px) and (max-width:480px) {
    #survey-table_filter input {
        width: 100%;
        margin-left: 0px;
        float: left;
    }

    .serch {
        left: 76%;
        top: 291%;
        width: 52px;
    }

    .dataTables_length label {
        margin-right: 65px;
    }

    .table-responsive {
        border: none !important;
    }

    .bottom-sec {
        text-align: center !important;
        margin-bottom: 20px;
    }

    .submit-btn {
        margin-left: 0px;
    }

    .dataTables_paginate {
        width: 100%;
    }
}


@media(min-width:769px) and (max-width:1288px) {
    #survey-table_filter input {
        width: 85%;
        float: left;
    }

    .table-responsive {
        border: none !important;
    }
}

@media(min-width:493px) and (max-width:768px) {
    #survey-table_filter label {
        width: 93px !important;
        float: left;
    }

    .table-responsive {
        border: none !important;
    }
}

@media(min-width:599px) and (max-width:640px) {
    .serch {
        margin-top: 7px;
    }
}

.dataTables_paginate a.previous, .dataTables_paginate a.next, .dataTables_paginate a.first, .dataTables_paginate a.last {
    color: #acacac !important;
}
