﻿.input {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    font-size: 13px;
    height: 45px;
    padding-left: 15px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.h2color {
    color: #014f8f !important;
}
/** This is for the labels*/
.formEl {
    position: relative;
}
/* Style buttons */
.downloadbtn {
    background-color: #004f8e !important;
    border: none !important;
    color: white !important;
    padding: 6px 25px !important;
    cursor: pointer !important;
    /*font-size: 20px;*/
}

    /* Darker background on mouse-over */
    .downloadbtn:hover {
        background-color: #004f8e;
    }

.placeholder {
    background-color: white;
    color: #183d68;
    font-size: 13px;
    left: 8px;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    top: 14px;
    z-index: 3;
}

    .placeholder.active {
        font-size: 0.75em;
        left: 10px;
        color: #183d68;
        padding: 0 5px;
        pointer-events: none;
        position: absolute;
        top: -7px;
        background-color: transparent;
        background-image: -webkit-linear-gradient(to bottom, transparent, transparent 45%, white 45%, white 60%, transparent 60%);
        /* bug in firefox; transparent is not rendering, so we use rgba values */
        background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.001) 0%, rgba(255,255,255,0.001) 45%, white 45%, white 64%, rgba(255,255,255,0.001) 64%);
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.001) 0%, rgba(255,255,255,0.001) 44%, white 44%, white 64%, rgba(255,255,255,0.001) 64%);
    }

    .placeholder.animate {
        transition: all 150ms ease 0s;
    }

label.placeholder {
    color: #bdbdbd;
    /*font-family: Open Sans !important;*/
    font-size: 13px;
    font-weight: 400;
    margin: 0 !important;
    -moz-osx-font-smoothing: grayscale;
}

/* Dropdown css */

.select2 {
    box-sizing: border-box;
    position: relative;
    height: 43px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    display: inline-block;
    vertical-align: middle;
    color: #222;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
    width: 100% !important;
    margin-bottom: 27px !important;
}

    .select2.error {
        margin-bottom: 0px !important;
    }

    .select2:focus {
        outline: none;
    }

.select2-container--open {
    border-bottom: 0;
}

    .select2-container--open .select2-selection__arrow b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
    }

.select2-selection--single {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    height: 41px;
    padding: 6px 23px 6px 12px;
    border-radius: 0;
}

    .select2-selection--single:focus {
        outline: none;
    }

.select2-container--disabled .select2-selection--single {
    background-color: #f3f3f3;
}

.select2-selection__placeholder {
    color: #999;
}

.select2-selection__rendered {
    padding: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}

.select2-selection__arrow {
    position: absolute;
    width: 20px;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

    .select2-selection__arrow b {
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
    }

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

    .select2-container.select2-container--open .select2-dropdown {
        left: 0;
    }

.select2-dropdown {
    position: absolute;
    left: -100000px;
    z-index: 1051;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid #cdcdcd;
    border-top: 0;
    border-radius: 0;
}

.select2-search {
    display: none;
}

.select2-results {
    display: block;
}

.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.select2-results__option {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #222;
    padding: 6px;
    padding-left: 12px;
    user-select: none;
    -webkit-user-select: none;
}

    .select2-results__option[aria-selected] {
        cursor: pointer;
    }

    .select2-results__option.select2-results__option--highlighted {
        background: #f5f5f5;
    }

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.select2 + div.error {
    margin-bottom: 8px;
}

.select2.errorInput {
    border: 1px solid #ef4747;
    background-color: #ffffff;
    margin-bottom: 0px !important;
}

.select2.select2-container--focus {
    border-color: #21c0c0;
    outline: none;
}
/*Desktop*/
@media (min-width:1200px) {
    label.placeholder {
        font-size: 14px;
    }

    .placeholder.active {
        font-size: .90em;
        /* top: -10px; */
        top: 0px;
    }
}
