﻿body {
}

.btn-contact-us {
   background:#60bc02; 
   color:white; 
   border:1px solid #60bc02;
   padding: 6px 0px;
   font-size:15px;
   font-weight:bold !important;
   border-radius:5px; 
   width: 40%;
   margin-bottom:10px !important;
}

.carousel-caption-bh{
  position: absolute;
  right: 15%;    
  z-index: 10;
  padding-top: 150px;      
  text-align: right; 
  max-width:520px; 
  left: auto; 
  color: #004F8E;
}

.carousel-indicators {
    bottom: -10px;
}

/*@media screen and (min-height: 500){*/
    div.extraDIV {        
        height: 400px;
    }
/*}*/
