﻿<div class="content-wrap">
    @Html.Sitecore().Field("Main Image", Model.PageItem, new { @class = "img-responsive", @align = "left", @hspace = "10" })
    <br /><br /><br /><br /><br /><br />
    <h1>@Html.Sitecore().Field("Title")</h1>        
    <div class="content-text">
        @Html.Sitecore().Field("Body")
    </div>
</div>