﻿@using Sitecore.Mvc
@using BPP93Helix.Feature.PageContent.Models
@model MakeADiffItems
<div class="row leadership" style="margin:15px 0">
    <div>
        <div class="col-md-12">
            <div class="sub-head top-mar">
                <h1 style="color:#004F8E;font-size:26px;line-height:28px;font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif">Making a Difference</h1>
            </div>
        </div>
        <div class="row">
            <ul class="col-md-12">
                @if (Model != null && Model._Items != null & Model._Items.Count > 0)
                {
                    string backUpImg = "../../Images/placeholder.png";
                    foreach (var m in Model._Items)
                    {
                        string imgSrc = m.ImgField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(m.ImgField.MediaItem) : backUpImg;
                        <li class="col-md-4 col-sm-4">                               
                            <a href="@m.ItemPath">
                                 <div class="mad-img"><img src="@imgSrc" class="img-responsive" /></div>
                                 <div class="doc-content1">
                                    <div class="text-center">
                                        <div class="mad-teaser-heading"> @m.Title</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
