﻿@using Sitecore.Mvc
@using BPP93Helix.Feature.PageContent.Models
@using System.Data;

@{
    List<SelectListItem> memberStatusItems = new List<SelectListItem>();
    memberStatusItems.Add(new SelectListItem
    {
        Text = "None",
        Value = "0",
        Selected = true
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "New",
        Value = "1"
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "Pending",
        Value = "2"
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "Member",
        Value = "3"
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "Rejected",
        Value = "4"
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "Deferred",
        Value = "5"
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "Archived",
        Value = "6"
    });
    memberStatusItems.Add(new SelectListItem
    {
        Text = "Deleted",
        Value = "7"
    });

    List<SelectListItem> workflowStatusItems = new List<SelectListItem>();
    workflowStatusItems.Add(new SelectListItem
    {
        Text = "None",
        Value = "0",
        Selected = true
    });
    workflowStatusItems.Add(new SelectListItem
    {
        Text = "New",
        Value = "1"
    });
    workflowStatusItems.Add(new SelectListItem
    {
        Text = "Med Staff Review",
        Value = "2"
    });
    workflowStatusItems.Add(new SelectListItem
    {
        Text = "Committee Review",
        Value = "3"
    });
    workflowStatusItems.Add(new SelectListItem
    {
        Text = "Board Review",
        Value = "4"
    });
    workflowStatusItems.Add(new SelectListItem
    {
        Text = "Complete",
        Value = "5"
    });

}

<link href="~/Content/bppAppList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

<div>
    
    @using (Html.BeginForm("Index", "Report", FormMethod.Post))
    {
        <div class="row" style="padding:10px">
            <div class="left" float="left">
                <p>
                    @*Provider*@
                    @*<input type="radio" id="provider" selected="true"/>*@
                </p>
                @*@foreach (DataRow dr in Model.Providers.Rows)
                    {
                        if (Model.Providers.Rows.IndexOf(dr) == 0)
                        {
                            foreach (DataColumn c in Model.Providers.Columns)
                            {
                                <p>@c.ColumnName <input type="checkbox" id="@c.ColumnName" /></p>
                            }
                        }
                    }*@
                @*<p>Practice<input type="radio" id="practice"/></p>*@
            </div>
            <div style="padding:15px"> 

                <h3>Filter:</h3>
                <p>
                    <label>Name</label> @Html.TextBox("Name", "", new { @class = "dataTables_filter" })
                </p>
                <p><label>Specialty</label> @Html.TextBox("Specialty", "", new { @class = "dataTables_filter" })</p>
                @*<p>Member Status
                        @Html.DropDownList("MemberStatus", memberStatusItems)
                    </p>
                    <p>
                        Workflow Status
                        @Html.DropDownList("WorkflowStatus", workflowStatusItems)
                    </p>*@
                <p>
                    <label>Start</label> @Html.TextBox("StartDate", "", new { @class = "dataTables_filter" })
                    <label>End</label> @Html.TextBox("EndDate", "", new { @class = "dataTables_filter" })
                </p>
                <p>
                    <input type="submit" value="Filter" class="submit-btn" style="width:80px !important" />
                    <label><strong>@Html.ActionLink("Clear", "Index", "Reports", new { Specialty = "", StartDate = "", EndDate = "", Name = "" } @*new { @class = "submit-btn" , @style= "background-color:blue !important" }*@)</strong></label>
                </p>
                @*<div class="dataTables_length" id="applicant-table_length" float="right" style="clear:both">
                    <label>Sort By: </label>
                    @Html.DropDownList("SortBy", SortByList)
                    @Html.DropDownList("AscDesc", AscDescList)
                </div>*@
            </div>
            <div class="provider table-responsive row" style="margin-right: -100px !important">

                @if (Model != null && Model.Providers != null)
                {
                    <table id="applicant-table" class="display dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                @foreach (DataRow dr in Model.Providers.Rows)
                                {
                                    if (Model.Providers.Rows.IndexOf(dr) == 0)
                                    {
                                        foreach (DataColumn c in Model.Providers.Columns)
                                        {
                                            <th style="padding:20px">
                                                @c.ColumnName
                                            </th>
                                        }
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Providers.Rows)
                            {
                                if (Model.Providers.Rows.IndexOf(dr) != 0)
                                {
                                    if (Model.Providers.Rows.IndexOf(dr) % 2 == 0)
                                    {
                                    <tr class="even">
                                        @foreach (DataColumn c in Model.Providers.Columns)
                                        {
                                            <td style="padding:10px;margin:5px 10px">
                                                @dr[c].ToString()
                                            </td>                                            
                                        }
                                    </tr>
                                    }
                                    else
                                    {
                                        <tr class="odd">
                                            @foreach (DataColumn c in Model.Providers.Columns)
                                            {
                                                <td style="padding:10px;margin:5px 10px">
                                                    @dr[c].ToString()
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>There are no results.</p>
                }

            </div>           
           <br />
           <br />
             @Html.ActionLink("Generate Report", "GenerateCSV", "Reports", new { @class = "submit-btn" })
        </div>
     }
</div>