﻿@using Sitecore.Mvc

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@Html.Sitecore().Field("Title")</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Sitecore().Field("NewsletterHeaderImage", new { @class = "img-responsive" })
            </div>
            <div class="col-md-8">
                <h4>
                    @Html.Sitecore().Field("NewsletterMessage")
                </h4>
            </div>
        </div>
    </div>