﻿@model BHSearch.Models.FacetView

@if (Model != null)
{
    <input type="radio" name="@Model.Facet.Key" value="" @if (Model.Filter.Count == 0) { <text>checked</text> }/><text>No Preference</text>
    foreach (KeyValuePair<string, int> item in Model.Facet.Value)
    {
        <input type="radio" name="@Model.Facet.Key" value="@item.Key" @if (Model.Filter.Contains(@item.Key)) { <text>checked</text> }>@item.Key <text>-</text> @item.Value
    }
}
