﻿@model BHSearch.Models.FacetView

@if (Model != null)
{
    <select name = "@Model.Facet.Key">
        <option value = "" @if (Model.Filter.Count == 0) { <text>selected</text> }> Select Option </option>
            @foreach(KeyValuePair < string, int > item in Model.Facet.Value)
            {
                <option value = "@item.Key" @if (@item.Key.Equals(Model.Filter)) { <text>selected</text> }> @item.Key - @item.Value </option>
            }
    </select>
}
