﻿@model List<BHSearch.Models.PhysicianSearch>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <hr/>
        <div>@item.FirstName @item.LastName</div>
        <div>@item.PrimarySpecialty</div>
        <div>@item.Distance</div>
    }
}