﻿@using BHSearch.Components;

@{
    ViewBag.Title = "PhysicianSearch";
}
<div class="container">
    <div class="row">
        <h2>PhysicianSearch</h2>

        <div>
            <div class="col-md-3">
                <form>
                    <div><input type="text" id="query" name="query" /></div>
                    <input type="submit" />
                </form>
                <div id="filters">
                    <div id="specialty"></div>
                    <div id="gender"></div>
                    <div id="language"></div>
                    <div id="affiliation"></div>
                </div>
                <div id="geolocation">
                    <input type="text" id="zipcode" name="zipcode" />
                    <select id="distance" name="distance">
                        <option value="" disabled selected>Select Distance</option>
                        <option value="5">5 mi</option>
                        <option value="10">10 mi</option>
                        <option value="20">20 mi</option>
                        <option value="30">30 mi</option>
                        <option value="40">40 mi</option>
                        <option value="50">50 mi</option>
                        <option value="">50+ mi</option>
                    </select>
                    <input type="hidden" id="latlng" name="latlng" value="30.3462931,-81.64391"/>
                </div>
                <div class="sort-wrapper">
                    <select id="sort" name="sort">
                        <option value="">Relavancy</option>
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>
                </div>
            </div>
            <div class="col-md-9">
                <div id="results"></div>
                <hr />
                <div id="pagination"></div>
            </div>
        </div>
    </div>
</div>

@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BPP : General Search</title>
</head>
<body>
    <div>
        <form>
            <input type="text" name="query" value="*" />
            <input type="submit" />
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                query = $(this).find('input[name=query]').val();
                querySolr(query, 0, 10, "", "");
            });
        });

        function querySolr(query, start, rows, gender, specialty) {
            var searchQuery = {};
            searchQuery.query = query;
            searchQuery.start = start;
            searchQuery.rows = rows;
            searchQuery.gender_s = gender;
            searchQuery.specialty_s = specialty;

            $.post('/Search/PhysicianQuery', searchQuery,
                function (data) {
                    console.log(data);
                }).fail(function (err) {
                    console.log(data);
                });
        }

        // todo
        function queryBuilder() {

        }
    </script>
</body>
</html>*@
