﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "provProfile" }))
{
    @Html.Sitecore().FormHandler("Application", "ProviderProfile")
    <div class="container providor-profile-page">
        <div class="">
            <div class="row">
                <div class="col-md-12 provider-profile-padding">
                    <div class="">
                        <div class="">
                            <div class="col-sm-3">
                                <center>
                                    <img src="~/Images/pro.jpg" class="provider-profile-image">                                   
                                   
                                </center>
                            </div>
                            <div class="col-sm-9 provider-profile-padd">
                                <div class="col-md-12 provider-profile-leftpad ">
                                    <h2 class="provider-profile-head text-left">@Model._Providers[0].FullNameWithSuffix</h2>
                                </div>
                                <div class="col-md-6 provider-profile-nopadd">
                                    <ul class="provider-profile-list ">
                                        <li><b>Practice:</b> @Model._Practice.PracticeName</li>
                                        <li><b>Specialty:</b> @Model._Providers[0].PrimarySpecialty</li>                                        
                                        <li><b>Date Created:</b> @Model._Providers[0].CreatedDT</li>
                                        <li><a href="" class="bpp-attachment" data-toggle="modal" data-target="#bpp-modal">Provider Attachments <i class="fa fa-paperclip" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                @*<div class="col-md-6 provider-profile-nopadd">
                                    <ul class="provider-profile-list">
                                        <li><b>Practice Status:</b> @Model._Practice.PracticeApprovalStatus</li>
                                        <li><b>Date Approved:</b> N/A</li>
                                        <li><b>Membership Status:</b> @Model._Providers[0].ProviderMemberStatus</li>
                                        <li><b>Date Modified:</b> @Model._Providers[0].ModifiedDT</li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr data-brackets-id="1659" class="hr-basicAdmin-separator">
        
        <div class="row">
            <div class="col-md-6 bpp-application-subtitle">
                <span id="divShowHideBasic">Basic Information <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="row BasicInfo label-row1">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">First Name</label>
                @Html.HiddenFor(model => model._Practice.GUID)
                @Html.HiddenFor(model => model._Practice.ID)
                @Html.HiddenFor(model => model._Providers[0].ID)
                @Html.HiddenFor(model => model._Providers[0].TaxID)
                @Html.HiddenFor(model => model._Providers[0].Suffix)
                @Html.HiddenFor(model => model._Providers[0].NPINumber)
                @Html.TextBoxFor(model => model._Providers[0].FirstName, new { Class = "form frmintput first", @readonly = "readonly" })
            </div>
            <div class="col-md-1">
                <label class="bpp-application-placeholder-label">M.I.</label>
                @Html.TextBoxFor(model => model._Providers[0].MiddleName, new { Class = "form frmintput first", @readonly = "readonly" })
                @*@Html.ValidationMessage("Middle Name is Required.")*@
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="M.I.">*@
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Last Name</label>
                @Html.TextBoxFor(model => model._Providers[0].LastName, new { Class = "form frmintput first", @readonly = "readonly" })
                @Html.ValidationMessage("Last Name is Required.")
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Last Name">*@
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Degree</label>
                @Html.TextBoxFor(model => model._Providers[0].Degree, new { Class = "form frmintput first", @readonly = "readonly" })
                @*@Html.ValidationMessage("Middle Name is Required.")*@
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Degree">*@
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Personal Phone #</label>
                @Html.TextBoxFor(model => model._Providers[0].PhoneNumber, new { Class = "form frmintput first", @readonly = "readonly", minlength = "10", title = "Numbers Only", pattern = "\\d+" })
                @Html.ValidationMessage("Personal Phone is Required.")
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Personal Phone #" />*@
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Email</label>
                @Html.TextBoxFor(model => model._Providers[0].Email, new { Class = "form frmintput first", @readonly = "readonly", title = "xxx@xxx.xxx", pattern = "[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+\\.([a-zA-Z0-9-]+)*" })
                @Html.ValidationMessage("Email is Required.")
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Email" />*@
            </div>
        </div>
        <div class="row BasicInfo label-row2">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Of Birth</label>
                @Html.TextBoxFor(model => model._Providers[0].DateOfBirth, new { Class = "form frmintput first bpp-date", @readonly = "readonly" })
                @Html.ValidationMessage("Date of birth is Required.")
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Practice Phone #">*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Residency Completion Date</label>
                @Html.TextBoxFor(model => model._Providers[0].ResidencyCompletionDate, new { Class = "form frmintput first bpp-date", @readonly = "readonly" })
                @*@Html.ValidationMessage("Middle Name is Required.")*@
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Degree">*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date of Board Exam</label>
                @Html.TextBoxFor(model => model._Providers[0].DateOfBoardExam, new { Class = "form frmintput first bpp-date", @readonly = "readonly" })
                @*@Html.ValidationMessage("Middle Name is Required.")*@
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Degree">*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">NPI #</label>
                @Html.TextBoxFor(model => model._Providers[0].NPINumber, new { Class = "form frmintput first", ID = "provNPIID", @readonly = "readonly" })
                @*@Html.ValidationMessage("Middle Name is Required.")*@
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="NPI #">*@
            </div>
            @*<div class="col-md-2">
                <label class="bpp-application-placeholder-label">Practice Name</label>
                @Html.TextBoxFor(model => model._Practice.PracticeName, new { Class = "form frmintput first", placeholder = "Practice Name", @readonly = "readonly" })
                </div>*@
        </div>
        <div class="row BasicInfo label-row3">
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Primary Specialty</label>
                @Html.DropDownListFor(model => model._Providers[0].PrimarySpecialty, Model._Providers[0].Specialties, new { Class = "form frmintput first", @readonly = "readonly" })

                @*@Html.TextBoxFor(model => model._Providers[0].PrimarySpecialty, new { Class = "form frmintput first", placeholder = "Primary Specialty" })*@
            </div>
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Secondary Specialty</label>
                @Html.TextBox(Model._Providers[0].SecondarySpecialty.ToString(), new { Class = "form frmintput first", @readonly = "readonly" })
                @*@Html.TextBoxFor(model => model._Providers[0].SecondarySpecialty, new { Class = "form frmintput first", placeholder = "Secondary Specialty" })*@
                @*@Html.ValidationMessage("Secondary Specialty is Required.")*@
                @*<input type="text" name="name" id="name" required="required" class="form frmintput first" placeholder="Secondary Specialty">*@
            </div>
        </div>
        <div class="row BasicInfo label-row4">
            <div class="col-md-6 provider-profile-radio">
                <p>Board Certified/Eligible?</p>
                @{
                    @Html.RadioButtonFor(model => model._Providers[0].isBoardCert, true) @:Yes<br />
                    @Html.RadioButtonFor(model => model._Providers[0].isBoardCert, false) @:No
                }
            </div>
            <div class="col-md-6 provider-profile-radio">
                <p>Maintain Privileges at a Baptist Health Facility?</p>
                @{
                    @Html.RadioButtonFor(model => model._Providers[0].isBHPrivileged, true) @:Yes<br />
                    @Html.RadioButtonFor(model => model._Providers[0].isBHPrivileged, false) @:No
                }
            </div>
            <div class="col-md-6 provider-profile-radio">
                <p>Employee-based or Community-based?</p>
                @{
                    @Html.RadioButtonFor(model => model._Providers[0].Based, 1) @:Employee based<br />
                    @Html.RadioButtonFor(model => model._Providers[0].Based, 2) @:Community based
                }
            </div>
            <div class="col-md-6 provider-profile-radio">
                <p>Primary Care Physician or Specialist?</p>
                @{
                    @Html.RadioButtonFor(model => model._Providers[0].CareType, 1) @:Primary Care Physician<br />
                    @Html.RadioButtonFor(model => model._Providers[0].CareType, 2) @:Specialist
                }
            </div>
            <div class="col-md-12 provider-profile-radio">
                <p>Please place a check mark next to the Baptist Health facilities where provider maintain privileges</p>
                @{
                    <div id="facilities">
                        @for (int i = 0; i < Model._Providers[0].Facilties.Count; i++)
                        {
                            @Html.HiddenFor(x => Model._Providers[0].Facilties[i].ID)
                            @Html.CheckBoxFor(x => Model._Providers[0].Facilties[i].isSelected, new { id = Model._Providers[0].Facilties[i].ID })
                            @Html.DisplayFor(x => Model._Providers[0].Facilties[i].FacilityName)<br />
                        }
                    </div>
                }
            </div>
        </div>
        <hr data-brackets-id="1659" class="hr-basicAdmin-separator">
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">
                <span id="divShowHideLoc">Location Information <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div id="divLocations" class="row">
            <div class="col-md-12">
                <label class="bpp-application-placeholder-label">Primary Location</label>
                @Html.HiddenFor(model => model._Providers[0].PrimaryPracticeLocation, new { ID = "hdnPrimaryPracticeLocation" })
                <select class="provider-location form-control primaryLocation" name="PrimaryPracticeLocation" id="PrimaryPracticeLocation">
                    <option value="0" disabled="true">Select Locaton</option>
                    @for (int cnt = 0; cnt < Model._Practice.PracticeLocations.Count; cnt++)
                {
                        <option value='@Model._Practice.PracticeLocations[cnt].ID' @((@Model._Practice.PracticeLocations[cnt].ID == Model._Providers[0].PrimaryPracticeLocation) ? "selected" : "")>@Model._Practice.PracticeLocations[cnt].FullAddress</option>
                    }
                </select>
            </div>
            <div class="col-md-12">
                <label class="bpp-application-placeholder-label">Other Locations</label>
                @{
                    <div id="otherPracLocations" style="display:none;">
                        @if (Model._Providers[0].OtherPracticeLocations != null)
                        {
                            for (int i = 0; i < Model._Providers[0].OtherPracticeLocations.Count; i++)
                            {
                                @Html.HiddenFor(model => Model._Providers[0].OtherPracticeLocations[i])
                            }
                        }
                    </div>
                    @*@Html.HiddenFor(model => model._Providers[0].OtherPracticeLocations, new { ID = "hdnOtherPracticeLocations" })*@
                    <select class="provider-other-location form-control chosen-select otherLocations" data-placeholder="Select Other Locations" multiple name="otherPracLocations" id="otherPracLocations">
                        <option value="0" disabled="true">Select Locaton</option>
                        @for (int cnt = 0; cnt < Model._Practice.PracticeLocations.Count; cnt++)
                        {
                            if (Model._Practice.PracticeLocations[cnt].ID != Model._Providers[0].PrimaryPracticeLocation)
                            {
                                <option value='@Model._Practice.PracticeLocations[cnt].ID' @((Model._Providers[0].OtherPracticeLocations != null && Model._Providers[0].OtherPracticeLocations.Contains(Model._Practice.PracticeLocations[cnt].ID)) ? "selected" : "")>@Model._Practice.PracticeLocations[cnt].FullAddress</option>
                            }
                        }
                    </select>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">
                <span id="divShowHideAdmin">Administrative <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div id="divAdmin" class="row divAdmin">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Eligibility/Certification Verified</label>
                @Html.TextBoxFor(model => model._Providers[0].EligibilityCertDate, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example1" class="form frmintput first practice-clr form1" placeholder="N/A" />*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Med Staff Privileges Facilities Listing</label>
                <select class="providor-profile-page-select practice-clr provider-profile-select ">
                    <option>Baptist Primary Care.</option>
                    <option>222</option>
                    <option>666</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Signed Membership App</label>
                @Html.TextBoxFor(model => model._Providers[0].DateSignedMemberApp, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example3" class="form frmintput practice-clr form1" placeholder="2/10/2017" />*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Signed Joinder</label>
                @Html.TextBoxFor(model => model._Providers[0].DateSignedJoinder, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example3" class="form frmintput practice-clr form1" placeholder="2/10/2017" />*@
            </div>
        </div>
        <div id="divAdmin" class="row divAdmin">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Presented to M&Q on ‘In Process’ List</label>
                @Html.TextBoxFor(model => model._Providers[0].DatePresentedMQProcess, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example1" class="form frmintput first practice-clr form1" placeholder="N/A" />*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Presented to M&Q on ‘Ready for Approval’</label>
                @Html.TextBoxFor(model => model._Providers[0].DatePresentedReady, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example3" class="form frmintput practice-clr form1" placeholder="2/10/2017" />*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date notification to physician re: Outcome</label>
                @Html.TextBoxFor(model => model._Providers[0].DateNotificationOutcome, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example3" class="form frmintput practice-clr form1" placeholder="2/10/2017" />*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">BPP Effective Date</label>
                @Html.TextBoxFor(model => model._Providers[0].BPPEffectiveDate, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="example1" id="example5" class="form practice-clr frmintput form1" placeholder="N/A" />*@
            </div>
        </div>
        <div id="divAdmin" class="row divAdmin">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Recommendation Sent to Board</label>
                @Html.TextBoxFor(model => model._Providers[0].DateRecommendationSent, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example1" class="form frmintput first practice-clr form1" placeholder="N/A" />*@
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Board Consideration Date</label>
                @Html.TextBoxFor(model => model._Providers[0].BoardConsiderationDate, new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "N/A" })
                @*<input type="text" name="name" id="example3" class="form frmintput practice-clr form1" placeholder="2/10/2017" />*@
            </div>
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Outcome</label>
                @Html.TextBoxFor(model => model._Providers[0].Outcome, new { Class = "form frmintput first practice-clr form1", placeholder = "N/A" })
                @*<input type="text" name="name" id="example7" class="form frmintput practice-clr form1" placeholder="N/A" />*@
            </div>
        </div>
        <hr />
        <div class="row pull-right">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" onclick="goBack()" class="bpp-cancel-btn">Cancel</button>
                    <input type="submit" class="bpp-submit-btn" value="Save" />
                    @*<button type="button" style="margin-left:30px;" class="bpp-save-btn">Save</button>*@
                </div>
            </div>
        </div>


        @*<div class="row">
            <div class="col-md-12 providor-profile-bottom-btns">
            <div class="text-right">
            <button type="button" class="bpp-application-buttons">Cancel</button>
            <button type="button" style="margin-left:30px;" class="bpp-save-btn">Save</button>
            </div>
            </div>
            </div>*@

    </div>

                    }
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { enctype = "multipart/form-data", ID = @Model._Providers[0].NPINumber, Mode = 2 }))
{
    @Html.Sitecore().FormHandler("Application", "UploadAttachment")
    <!-- Modal -->
    <div id="bpp-modal" class="modal fade" role="dialog">
        <div class="col-md-4 col-md-offset-4">
            <div class="modal-dialog provider-profile-modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content  provider-profile-modal">
                    <div class="modal-header providor-profile-modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Manage Provider Attachments</h4>
                        @*<p><span class="pull-left">File Name</span><span class="pull-right">Tracking Number</span></p>*@
                    </div>
                    <div class="modal-body">
                        <div class="provider-profile-table">
                            <ul class="list-style-none text-center">
                                <li>
                                    <b>Loading attachments...</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h4 class="text-center"><i class="fa fa-plus" aria-hidden="true"></i> Add Attachment</h4>
                        <p class="text-left  provider-profile-para">Choose a file from your computer</p>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                @*<span class="input-group-btn">
                                        <button class="browse btn btn-default input-md" type="button" id="selUploadFile"> Browse</button>
                                    </span>*@
                                <input type="file" class="form-control input-md" placeholder="Select File" name="file" id="txtUploadFile">
                            </div>
                        </div>
                        <div class="pull-left">
                            <button type="button" class="btn btn-default  provider-profile-button" data-dismiss="modal">Close</button>
                            <input type="hidden" name="ID" id="ID" value="@Model._Providers[0].NPINumber" />
                            <input type="hidden" name="GUID" id="GUID" value="@Model._Providers[0].ID" />
                            <input type="hidden" name="Mode" id="Mode" value="2" />
                            <button class="btn btn-primary  provider-profile-addbutton" type="submit" id="btnUploadFile">Add  Attachment</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/prism.js"></script>
<script type="text/javascript" src="~/Scripts/bppProviderProfile.js"></script>
