﻿@using Sitecore.Mvc
@using Sitecore.Abstractions
@using Sitecore.Pipelines.GetSignInUrlInfo

@{ var corePipelineManager = DependencyResolver.Current.GetService<BaseCorePipelineManager>();
  var args = new GetSignInUrlInfoArgs("website", "/Admin/Master Lookup");
  GetSignInUrlInfoPipeline.Run(corePipelineManager, args);

  foreach (var signIn in args.Result)
  {
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @action = signIn.Href }))
    {
      <div class="find-doc" style="max-width:500px !important">
        <div class="form-head text-center">
          <h4>User Login</h4>
          <hr>
        </div>
        <div class="login-box-btn">
          <button type="submit"><img src="@signIn.Icon" />@signIn.Caption</button>
        </div>
      </div>
    }
  }
}