﻿<link href="~/Content/bppMasterList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script src="~/Scripts/input.js"></script>
<div class="row">
    <div class="col-md-4">
        <label class="placeholder">Filter</label>
        <input type="text" id="searchbox" class="form-control input adaptive" placeholder="" />
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="lookup-table" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th class="select-filter">Last Name</th>
                        <th class="select-filter">First Name</th>
                        <th class="select-filter">Specialty</th>
                        <th class="select-filter">DBA</th>
                        <th class="select-filter">TIN</th>
                        <th class="select-filter">Status</th>
                        <th>Practice ID</th>
                        <th>Provider ID</th>
                        <th>Provider Practice Matrix ID</th>
                        <th></th>
                        <th>NPINumber</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="text-center">
        <div class="col-xs-12 col-sm-6">
            <div class="bottom-sec left">
                <select id="ddlAppReports">
                    <option value="0" selected disabled>Select a Report</option>
                    <option value="1">Med Staff Report</option>
                    <option value="2">Committee Report</option>
                    <option value="3">Board Report</option>
                    <option value="6">Current Members</option>
                    <option value="7">Master Lookup</option>
                    <option value="4">Left Network Report</option>
                    <option value="8">Legal Entity Report</option>
                    <option value="9">Group Point of Contact (POC) Report</option>
                    <option value="10">Active Adult PCP Report</option>
                    <option value="11">Active Adult Specialists Report</option>
                    <option value="12">Active Pediatrician Report</option>
                    <option value="13">Active Pediatric Specialist Report</option>
                </select>
                <button id="btnGetReport" type="button" class="submit-btn" disabled>Submit</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var formResponse = '@TempData["updAppResponse"]';
</script>
<script type="text/javascript" src="~/Scripts/bppTable.js"></script>
<script type="text/javascript" src="~/Scripts/bppMasterLookupList.js"></script>