﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication
<link href="~/Content/bppAppList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />
<link href="~/Content/bppPracticeProfile.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "PracticeProfile", name = "form" }))
{
    <div id="mainForm">
        <div class="container providor-profile-page">
            <div class="row">
                <div id="content-heading" class="col-md-8" style="padding-left: 0px !important;">
                    @Model._Practices[0].PracticeName
                </div>
                <div class="col-md-4">
                    <input type="submit" id="btnSaveTop" class="bpp-submit-btn" value="Save" onclick="this.disabled=true;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">
                <span id="divShowHideBasic">Basic Information <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="row BasicInfo">
            <div class="col-sm-6 ">
                <label class="bpp-application-placeholder-label">Practice Name</label>
                @Html.HiddenFor(model => model._Practices[0].PracticeGUID)
                @Html.HiddenFor(model => model._Practices[0].LegalEntityID)
                @Html.HiddenFor(model => model._Practices[0].ID)
                <input type="hidden" name="submitMode" id="submitMode" value="1" />
                @Html.TextBoxFor(model => model._Practices[0].PracticeName, new { Class = "form-control bpp-application-forminputs", placeholder = "Practice Name", required = "required" })
                @Html.ValidationMessage("Practice Name is Required.")
            </div>
        </div>
        @if (Model._Practices[0].PracticeLocations.Count > 0)
        {
            <hr />
            <input type="hidden" id="locationCount" value="@Model._Practices[0].PracticeLocations.Count" />
            for (int cnt = 0; cnt < Model._Practices[0].PracticeLocations.Count; cnt++)
            {
                @Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].LocationGUID)
                <div class="row">
                    <div class="col-md-12 bpp-application-subtitle">
                        @if (cnt == 0)
                        {
                            <span id='divShowHideLoc-@cnt' onclick="locationClick(this)" class="selectedLocation">@Html.DisplayTextFor(model => model._Practices[0].PracticeLocations[cnt].LocationName) <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        }
                        else
                        {
                            <span id='divShowHideLoc-@cnt' onclick="locationClick(this)">@Html.DisplayTextFor(model => model._Practices[0].PracticeLocations[cnt].LocationName) <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                        }

                    </div>
                </div>
                <div id="divLocations-@cnt" class="row hidden" style="margin-bottom:20px">

                    <ul class="list-style-none practice-prof-loc">
                        <li>
                            <div class="row">
                                <div class="col-md-12 text-right bg-info">
                                    <span class="bpp-application-placeholder-label">Select to Remove Location @Html.CheckBoxFor(model => model._Practices[0].PracticeLocations[cnt].isRemoved, new { ID = "isRemoved-" + cnt })</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="bpp-application-placeholder-label">Location Name</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].LocationName, new { Class = "form-control bpp-applicaton-forminputs", placeholder = "Location Name", required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].ID, new { ID = "LocationID-" + cnt })

                                    @if (Html.ValueFor(model => model._Practices[0].PracticeLocations[cnt].IsPrimary).Equals("1"))
                                    {
                                        <label class="bpp-application-placeholder-label">Address</label>
                                    }
                                    else
                                    {
                                        <label class="bpp-application-placeholder-label">Address</label>
                                    }
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].Address1, new { Class = "form-control bpp-application-forminputs", placeholder = "Address", required = "required" })
                                    @Html.ValidationMessage((cnt == 0) ? "Address is Required" : "Address is Required.")
                                </div>
                                <div class="col-md-3">
                                    @if (Html.ValueFor(model => model._Practices[0].PracticeLocations[cnt].IsPrimary).Equals("1"))
                                    {
                                        <label class="bpp-application-placeholder-label">Address 2</label>
                                    }
                                    else
                                    {
                                        <label class="bpp-application-placeholder-label">Address 2</label>
                                    }
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].Address2, new { Class = "form-control bpp-application-forminputs", placeholder = "Address 2" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">City</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].City, new { Class = "form-control bpp-application-forminputs", placeholder = "City", required = "required" })
                                    @Html.ValidationMessage("Practice City is Required.")
                                </div>
                                <div class="col-md-1">
                                    <label class="bpp-application-placeholder-label">State</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].State, new { Class = "form-control bpp-application-forminputs", placeholder = "State", maxlength = "2", required = "required" })
                                    @Html.ValidationMessage("Practice State is Required.")
                                </div>
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">Zip</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].Zip, new { id = "practiceZip", Class = "form-control bpp-application-forminputs zipcode", placeholder = "Zip", minlength = 5, maxlength = 10, pattern = "[0-9]{5}-?([0-9]{4})?", title = "Zip code (xxxxx-xxxx)", required = "required" })
                                    @Html.ValidationMessage("Practice Zip is Required.")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">Phone</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].PhoneNumber, new { Class = "form-control bpp-application-forminputs phone", placeholder = "Phone", title = "Numbers Only", maxlength = 14 })
                                    @Html.ValidationMessageFor(model => model._Practices[0].PracticeLocations[cnt].PhoneNumber)
                                </div>
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">Ext</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].Extension, new { Class = "form-control bpp-application-forminputs extension", pattern = "^[0-9]*$", placeholder = "Extension", maxlength = 6, title = "Numbers Only" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">Fax</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].Fax, new { Class = "form-control bpp-application-forminputs phone", placeholder = "Fax", title = "Numbers Only", maxlength = 14 })
                                    @Html.ValidationMessageFor(model => model._Practices[0].PracticeLocations[cnt].Fax)
                                    @Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].IsPrimary)
                                    @Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].CreatedDT)
                                    @Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].ModifiedDT)
                                    @Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].PracticeGUID)
                                </div>
                                <div class="col-md-3">
                                    <label class="bpp-application-placeholder-label">EMR Vendor</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].EMRVendor, new { Class = "form-control bpp-application-forminputs", placeholder = "EMR Vendor" })
                                </div>
                                <div class="col-md-3">
                                    <label class="bpp-application-placeholder-label">EMR Version</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].EMRVersion, new { Class = "form-control bpp-application-forminputs", placeholder = "EMR Version" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="bpp-application-placeholder-label">Office Manager</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].OfficeManagerName, new { Class = "form-control bpp-application-forminputs", placeholder = "Office Manager", required = "required" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">Phone</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].OfficeManagerPhoneNumber, new { Class = "form-control bpp-application-forminputs phone", placeholder = "Phone", required = "required" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bpp-application-placeholder-label">Ext</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].OfficeManagerExtension, new { Class = "form-control bpp-application-forminputs extension", placeholder = "Extension" })
                                </div>
                                <div class="col-md-3">
                                    <label class="bpp-application-placeholder-label">Email</label>
                                    @Html.TextBoxFor(model => model._Practices[0].PracticeLocations[cnt].OfficeManagerEmail, new { Class = "form-control bpp-application-forminputs", placeholder = "Email", required = "required" })
                                </div>
                            </div>
                        </li>
                    </ul>
                    @if (Model._Practices[0].PracticeLocations[cnt].Providers.Count > 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <table class="providertable sortable">
                                    <thead>
                                        <tr>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Degree</th>
                                            <th>Primary Specialty</th>
                                            <th>Secondary Specialty</th>
                                            <th>Created</th>
                                            <th>Modified</th>
                                            <th>Member Status</th>
                                            <th>Provider ID</th>
                                            <th>Provider Practice Matrix ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model._Practices[0].PracticeLocations[cnt].Providers.Count; i++)
                                        {
                                        <tr>
                                            <td>
                                                @{                                                     
                                                    var ID = @Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].ID);
                                                    var practiceID =  @Html.DisplayFor(model => model._Practices[0].ID);
                                                    var matrixID = @Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].matrix.ID);
                                                }
                                                <a href="/Home/Admin/Master Lookup/Provider Profile?ID=@ID&PracticeID=@practiceID&matrixID=@matrixID" target="_blank">@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].LastName)</a>
                                            </td>
                                            <td>@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].FirstName)</td>
                                            <td>@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].Degree)</td>
                                            <td>@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].PrimarySpecialty)</td>
                                            <td>@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].SecondarySpecialty)</td>
                                            @{
                                                var fulldate = Convert.ToDateTime(@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].CreatedDT).ToString());
                                                var createdt = fulldate.Month + "/" + fulldate.Day + "/" + fulldate.Year;
                                            }
                                            <td>@createdt</td>
                                            @{
                                                var full = Convert.ToDateTime(@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].ModifiedDT).ToString());
                                                var modifieddt = full.Month + "/" + full.Day + "/" + full.Year;
                                            }
                                            <td>@modifieddt</td>
                                            <td>@Html.DisplayFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].MemberStatus.MemberStatus)</td>
                                            <td>@Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].ID)</td>
                                            <td>@Html.HiddenFor(model => model._Practices[0].PracticeLocations[cnt].Providers[i].matrix.ID)</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>

            }
            <hr />
        }
        <div class="row">
            <div class="col-md-4">
                <div class="text-left btns-margin-top">
                    <input type="submit" id="btnRemove" class="bpp-remove-btn" value="Remove Location" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-right btns-margin-top">
                    @{
                        @Html.HiddenFor(model => model._Practices[0].PracticeApprovalStatus, new { Value = ((Int32)@Model._Practices[0].PracticeApprovalStatus), ID = "PracticeApprovalStatusInt" })
                        <input type="hidden" name="PracticeApprovalStatus" value='@Model._Practices[0].PracticeApprovalStatus' id="PracticeApprovalStatus" />
                        if (@Model._Practices[0].PracticeApprovalStatus == BPP93Helix.Feature.PageContent.Models.enumPracticeApprovalStatus.New)
                        {
                            <button id="btnRejectPractice" type="button" onclick="this.disabled=true;" class="bpp-submit-btn bpp-reject-btn" value="@Model._Practices[0].ID">Reject</button>
                            <button id="btnAcceptPractice" type="button" onclick="this.disabled=true;" class="bpp-submit-btn bpp-accept-btn" value="@Model._Practices[0].ID">Accept</button>
                        }
                    }
                    <button type="button" onclick="goBack()" class="bpp-cancel-btn">Cancel</button>
                    <input type="submit" id="btnSave" class="bpp-submit-btn" value="Save" onclick="this.disabled=true;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @{
            for (int cnt1 = 0; cnt1 < Model._Providers.Count; cnt1++)
            {
                <div class="col-md-12" style="display:none">
                    @Html.HiddenFor(model => model._Providers[cnt1].ID)
                    @Html.HiddenFor(model => model._Providers[cnt1].FirstName)
                    @Html.HiddenFor(model => model._Providers[cnt1].MiddleName)
                    @Html.HiddenFor(model => model._Providers[cnt1].LastName)
                    @Html.HiddenFor(model => model._Providers[cnt1].Suffix)
                    @Html.HiddenFor(model => model._Providers[cnt1].Degree)
                    @Html.HiddenFor(model => model._Providers[cnt1].DateOfBirth)
                    @Html.HiddenFor(model => model._Providers[cnt1].PrimarySpecialty)
                    @Html.HiddenFor(model => model._Providers[cnt1].SecondarySpecialty)
                    @Html.HiddenFor(model => model._Providers[cnt1].PhoneNumber)
                    @Html.HiddenFor(model => model._Providers[cnt1].Email)
                    @Html.HiddenFor(model => model._Providers[cnt1].isBHPrivileged)
                    @Html.HiddenFor(model => model._Providers[cnt1].CreatedDT)
                    @Html.HiddenFor(model => model._Providers[cnt1].ModifiedDT)
                    @Html.HiddenFor(model => model._Providers[cnt1].ProviderMemberStatus, new { Value = ((Int32)@Model._Providers[cnt1].ProviderMemberStatus) })
                    @Html.HiddenFor(model => model._Providers[cnt1].GUID)
                    @Html.HiddenFor(model => model._Providers[cnt1].PrimaryPracticeLocation)
                </div>
            }
        }
    </div>
}


<br />
<hr style="border-color:#337ab7;" />

<div id="content-heading">
    Providers
</div>
<br />
<div class="col-md-12">
    <input type="text" id="PracProviders" class="hidden" value="@TempData["PracticeProviders"]" />
    <div class="table-responsive">
        <table id="applicant-table" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Degree</th>
                    <th>Primary Specialty</th>
                    <th>Secondary Specialty</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Member Status</th>
                    <th>Provider ID</th>
                    <th>Provider Practice Matrix ID</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="text-center">
    <div class="col-xs-12 col-sm-6">
        <div class="bottom-sec left">
            <select id="ddlAppReports">
                <option value="0" selected disabled>Select a Report</option>
                <option value="1">Med Staff Report</option>
                <option value="2">Committee Report</option>
                <option value="3">Board Report</option>
                <option value="6">Current Members</option>
                <option value="7">Master Lookup</option>
                <option value="4">Left Network Report</option>
                <option value="8">Legal Entity Report</option>
                <option value="9">Group Point of Contact (POC) Report</option>
                <option value="10">Active Adult PCP Report</option>
                <option value="11">Active Adult Specialists Report</option>
                <option value="12">Active Pediatrician Report</option>
                <option value="13">Active Pediatric Specialist Report</option>
            </select>
            <button id="btnGetReport" onclick="this.disabled=true; this.value='Please wait....'" type="button" class="submit-btn" disabled>Submit</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var formResponse = '@TempData["updPracResponse"]';

</script>
<script type="text/javascript" src="~/Scripts/bppTable.js"></script>
<script type="text/javascript" src="~/Scripts/bppPracticeProfile.js"></script>
