﻿@model BPP93Helix.Feature.PageContent.Models.BPPApplication

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "provProfile" }))
{
    @*@Html.Sitecore().FormHandler("Application", "ProviderProfile")*@

    @Html.HiddenFor(x => x._Providers[0].ID, new { ID = "ProviderID" })
    @Html.HiddenFor(x => x._Practices[0].ID, new { ID = "PracticeID" })
    @Html.HiddenFor(x=> x._Providers[0].matrix.ID, new { ID = "matrix"})
    <div class="container providor-profile-page">
        <div class="row">
            <div class="col-md-12 provider-profile-padding">
                <div class="">
                    <div class="">
                        @*<div class="col-sm-3">
                                <center>
                                    <img src="~/Images/pro.jpg" class="provider-profile-image">
                                </center>
                            </div>*@
                        <div class="col-sm-12 provider-profile-padd">
                            <div class="col-md-12 provider-profile-leftpad ">
                                @if (string.IsNullOrEmpty(Model._Providers[0].Degree))
                                {
                                    <h2 class="provider-profile-head text-left">@Model._Providers[0].FullNameWithSuffix</h2>
                                }
                                else
                                {
                                    <h2 class="provider-profile-head text-left">@Model._Providers[0].FullNameWithSuffix, @Model._Providers[0].Degree</h2>
                                }

                            </div>
                            <div class="col-md-8 provider-profile-nopadd">
                                <ul class="provider-profile-list ">
                                    <li><b>Legal Entity/Group:</b> @Model._Entity.LE_Name</li>
                                    <li><b>Legal Entity/Group Status:</b> @Model._Entity.Status</li>
                                    <li><b>Practice:</b> @Model._Practices[0].PracticeName</li>
                                    <li><b>Provider Status:</b> @Model._Providers[0].ProvidersMemberStatus</li>
                                    @if (Model._Providers[0].EndDate != null)
                                    {
                                        <li><b>End Date:</b> @Model._Providers[0].EndDate.Value.ToShortDateString()</li>
                                    }
                                    <li><a href="" class="bpp-attachment" data-toggle="modal" data-target="#bpp-modal">Provider Attachments <i class="fa fa-paperclip" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-left">
                                    <button type="button" onclick="Save()" class="bpp-submit-btn" id="btnSaveTop">Save</button>
                                </div>
                            </div>
                            @*<div class="col-md-6 provider-profile-nopadd">
            <ul class="provider-profile-list">
                @if (Model._Providers[0].EndDate != null)
                {
                    <li><b>End Date:</b> @Model._Providers[0].EndDate.Value.ToShortDateString()</li>
                }
            </ul>
        </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">
                <span id="divShowHideAdmin">Administrative <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div>
            <div id="divAdmin" class="row divAdmin">
                @Html.HiddenFor(model => model._Providers[0].ProviderPracticeWorkFlow.PracticeGUID)
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Submitted Membership App</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.DateSignedMemberApp, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date", placeholder = "", @readonly="readonly" })
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Date Received Joinder (BPP)</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.DateJoinderReceived, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                    @Html.HiddenFor(model => model._Providers[0].ProviderPracticeWorkFlow.DateJoinderReceived)
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Date Signed Joinder (Provider)</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.DateSignedJoinder, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">MSO Verification</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.EligibilityCertDate, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
                <div class="col-md-2">
                    <span id="MSOVerification">
                        <label class="bpp-application-placeholder-label">MSO Verification Status</label>
                        @Html.DropDownListFor(model => model._Providers[0].MSOVerification,
                             Model._Providers[0]._MSOVerficationStatus, "",
                             new { Class = "form frmintput first", ID = "ddlMSOVerification" })
                        @Html.HiddenFor(model => model._Providers[0].MSOVerification, new { ID = "existingMSOVerification" })
                    </span>
                </div>
            </div>
            <div id="divAdmin" class="row divAdmin">
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">MQ Review</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.DatePresentedMQProcess, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
                <div class="col-md-2">
                    <span id="MQRecommendation">
                        <label class="bpp-application-placeholder-label">MQ Recommendation Status</label>
                        @Html.DropDownListFor(model => model._Providers[0].MQRecommendation,
                            Model._Providers[0]._MQRecommendationStatus, "",
                            new { Class = "form frmintput first", ID = "ddlMQRecommendation" })
                        @Html.HiddenFor(model => model._Providers[0].MQRecommendation, new { ID = "existingMQRecommendation" })
                    </span>
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Board Review/Outcome</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.BoardConsiderationDate, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
                <div class="col-md-2">
                    <span id="BoardOutcome">
                        <label class="bpp-application-placeholder-label">Board Outcome</label>
                        @Html.DropDownListFor(model => model._Providers[0].BoardOutcomeStatus,
                             Model._Providers[0]._BoardOutcome, "",
                             new { Class = "form frmintput first", ID = "ddlBoardOutcome" })
                        @Html.HiddenFor(model => model._Providers[0].BoardOutcomeStatus, new { ID = "existingBoardOutcome" })
                    </span>
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Outcome Notification Date</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.DateNotifcationOutcome, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
            </div>
            <div id="divAdmin" class="row divAdmin">
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Effective Date</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.BPPEffectiveDate, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "", ID = "BPPEffectiveDate" })
                </div>
                <div class="col-md-2">
                    <span id="DenialReason">
                        <label class="bpp-application-placeholder-label">Denial Reason</label>
                        @Html.DropDownListFor(model => model._Providers[0].DenialReason,
                             Model._Providers[0]._DenialReasons, "",
                             new { Class = "form frmintput first", ID = "ddlDenialReason" })
                        @Html.HiddenFor(model => model._Providers[0].DenialReason, new { ID = "existingDenialReason" })
                    </span>
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Provider Status</label>
                    @Html.DropDownListFor(model => model._Providers[0].ProvidersMemberStatus,
                        Model._Providers[0]._ProviderMemberStatus, "",
                        new { Class = "form frmintput first", ID = "ddlProviderMemberStatus", onchange = "StatusChange()" })
                    @Html.HiddenFor(model => model._Providers[0].ProvidersMemberStatus, new { ID = "existingProviderMemberStatus" })
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Inactive Date (as applicable)</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.ProviderInactiveDate, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Inactive Reason</label>
                    @Html.DropDownListFor(model => model._Providers[0].InactiveReason,
                        Model._Providers[0]._InactiveReasons, "",
                        new { Class = "form frmintput first", ID = "ddlInactiveReason" })
                    @Html.HiddenFor(model => model._Providers[0].InactiveReason, new { ID = "existingInactiveReason" })
                </div>
            </div>
            <div id="divAdmin" class="row divAdmin">
                <div class="col-md-3">
                    <label class="bpp-application-placeholder-label">Notes</label>
                    @Html.TextAreaFor(model => model._Providers[0].ProviderPracticeWorkFlow.OutcomeNotes, new { @class = "practice-clr practice-prof-textarea", rows = 4, @placeholder = "Add Outcome Notes here" })
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">Notification Date</label>
                    @Html.TextBoxFor(model => model._Providers[0].ProviderPracticeWorkFlow.NotificationDate, "{0:MM/dd/yyyy}", new { Class = "form frmintput first practice-clr form1 bpp-date date", placeholder = "" })
                </div>
                <div class="col-md-2">
                    <label class="bpp-application-placeholder-label">CMS Specialty Code</label>
                    @Html.TextBoxFor(model => model._Providers[0].CMS, new { Class = "form frmintput first practice-clr form1", maxlength = 3, placeholder = "" })
                </div>
            </div>

        </div>
        <hr data-brackets-id="1659" class="hr-basicAdmin-separator">
        <div class="row">
            <div class="col-md-6 bpp-application-subtitle">
                <span id="divShowHideBasic">Basic Information <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="row BasicInfo label-row1">
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">First Name</label>
                @Html.HiddenFor(model => model._Practices[0].PracticeGUID, new { ID = "practGUID" })
                @Html.HiddenFor(model => model._Practices[0].ID, new { ID = "practID" })
                @*@Html.HiddenFor(model => model._Providers[0].TaxID)*@
                @*@Html.HiddenFor(model => model._Providers[0].Suffix)*@
                @Html.HiddenFor(model => model._Providers[0].NPINumber)
                @Html.TextBoxFor(model => model._Providers[0].FirstName, new { Class = "form frmintput first", placeholder = "First Name", required = "required" })
                @Html.ValidationMessageFor(model => model._Providers[0].FirstName)
            </div>
            <div class="col-md-1">
                <label class="bpp-application-placeholder-label">M.I.</label>
                @Html.TextBoxFor(model => model._Providers[0].MiddleName, new { Class = "form frmintput first", placeholder = "M.I." })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Last Name</label>
                @Html.TextBoxFor(model => model._Providers[0].LastName, new { Class = "form frmintput first", placeholder = "Last Name", required = "required" })
                @Html.ValidationMessageFor(model => model._Providers[0].LastName)
            </div>
            <div class="col-md-1">
                <label class="bpp-application-placeholder-label">Suffix</label>
                @Html.TextBoxFor(model => model._Providers[0].Suffix, new { Class = "form frmintput first", placeholder = "Suffix" })
                @Html.ValidationMessageFor(model => model._Providers[0].Suffix)
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Maiden Name</label>
                @Html.TextBoxFor(model => model._Providers[0].ProviderAncillary.Maiden_Name, new { Class = "form frmintput first", placeholder = "Maiden Name" })
                @Html.ValidationMessageFor(model => model._Providers[0].ProviderAncillary.Maiden_Name)
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Also Known As</label>
                @Html.TextBoxFor(model => model._Providers[0].ProviderAncillary.AKA, new { Class = "form frmintput first", ID = "provAlsoKnownAs", placeholder = "Also Known As" })
                @Html.ValidationMessageFor(model => model._Providers[0].ProviderAncillary.AKA)
            </div>
        </div>
        <div class="row BasicInfo label-row2">
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Degree</label>
                @Html.DropDownListFor(model => model._Providers[0].Degree,
                    Model._Providers[0].Degrees, "-- Select Degree --",
                    new { Class = "form frmintput first", ID = "ddlDegree" })
                @Html.HiddenFor(model => model._Providers[0].Degree, new { ID = "existingDegree" })
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Email</label>
                @Html.TextBoxFor(model => model._Providers[0].Email, new { Class = "form frmintput first", title = "xxx@xxx.xxx", placeholder = "Email", required = "required" })
                @Html.ValidationMessageFor(model => model._Providers[0].Email)
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Date of Birth</label>
                @Html.TextBoxFor(model => model._Providers[0].DateOfBirth, "{0:MM/dd/yyyy}", new { Class = "form frmintput first bpp-date date", placeholder = "Date of Birth" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">NPI</label>
                @Html.TextBoxFor(model => model._Providers[0].NPINumber, new { Class = "form frmintput first practice-clr form1", ID = "provNPIID", Readonly = "readonly", placeholder = "NPI" })
                @Html.ValidationMessageFor(model => model._Providers[0].NPINumber)
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Phone</label>
                @Html.TextBoxFor(model => model._Providers[0].PhoneNumber, new { Class = "form frmintput first phone", minlength = "14", placeholder = "Phone", required = "required" })
                @Html.ValidationMessageFor(model => model._Providers[0].PhoneNumber)
            </div>
        </div>
        <div class="row BasicInfo label-row3">
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Primary Specialty</label>

                @Html.DropDownListFor(model => model._Providers[0].PrimarySpecialty,
                    Model._Providers[0].Specialties, "-- Select Primary Specialty --",
                    new { Class = "form frmintput first", ID = "ddlPrimarySpecialty" })
                @Html.HiddenFor(model => model._Providers[0].PrimarySpecialty, new { ID = "existingPrimarySpecialty" })
            </div>
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Secondary Specialty</label>

                @Html.DropDownListFor(model => model._Providers[0].SecondarySpecialty,
                    Model._Providers[0].Specialties, "No Secondary Specialty",
                    new { Class = "form frmintput first", ID = "ddlSecondarySpecialty" })
                @Html.HiddenFor(model => model._Providers[0].SecondarySpecialty, new { ID = "existingSecondarySpecialty" })
            </div>
        </div>
        <div class="row BasicInfo label-row4">
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Specialty Notes</label>
                @Html.TextAreaFor(model => model._Providers[0].SpecialtyNotes, new { @class = "practice-prof-textarea", rows = 4, @placeholder = "Specialty Notes here" })
            </div>
        </div>
        <div class="row BasicInfo label-row5">
          <div class="col-md-2 provider-profile-radio">
            <p>Employment Status</p>
            @{

              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.EmploymentStatus, "Employed", new {@ID = "Employed" }) @:Employed<br />
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.EmploymentStatus, "Independent", new {@ID = "Independent" }) @:Independent
            }
          </div>
          <div class="col-md-2 provider-profile-radio">
            <p>Specialty Type</p>
            @{
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.SpecialtyType, "PCP", new {@ID = "PCP" }) @:PCP<br />
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.SpecialtyType, "Specialist", new {@ID = "Specialist" }) @:Specialist
            }
          </div>
          <div class="col-md-2 provider-profile-radio">
            <p>Service Population</p>
            @{
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.ServicePopulation, "Adult", new {@ID = "Adult" }) @:Adult <br />
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.ServicePopulation, "Pediatrics", new {@ID = "Pediatrics" }) @:Pediatrics <br />
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.ServicePopulation, "Adult & Pediatrics", new {@ID = "AdultPediatrics" }) @:Adult & Pediatrics
            }
          </div>
          <div class="col-md-2 provider-profile-radio">
            <p>Facility Settings</p>
            @{
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.FacilitySetting, "Inpatient Only", new {@ID = "Inpatient" }) @:Inpatient Only <br />
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.FacilitySetting, "Inpatient & Outpatient", new {@ID = "InpatientOutpatient" }) @:Inpatient & Outpatient <br />
              @Html.RadioButtonFor(model => model._Providers[0].ProviderAncillary.FacilitySetting, "Outpatient Only", new {@ID = "Outpatient" }) @:Outpatient Only
            }
          </div>

          <div class="col-md-4 provider-profile-radio">
            <p>Please place a check mark next to the Baptist Health facilities where provider maintains privileges</p>
            @{
              <div id="facilities">
                @for (int i = 0; i < Model._Providers[0].Facilties.Count; i++)
                {
                  @Html.HiddenFor(x => Model._Providers[0].Facilties[i].ID)
                  @Html.CheckBoxFor(x => Model._Providers[0].Facilties[i].isSelected, new { id = Model._Providers[0].Facilties[i].ID, style = "margin-right: 4px !important" })
                  @Html.DisplayFor(x => Model._Providers[0].Facilties[i].FacilityName)<br />
                }
              </div>
            }
          </div>
        </div>
        <hr data-brackets-id="1659" class="hr-basicAdmin-separator">

        <div class="row">
          <div class="col-md-12 bpp-application-subtitle">
            <span id="divShowHideLoc">Accepting New Patients </span>
          </div>
        </div>
        <div class="row">

          @{
            <div id="acceptingNewPatients">
              @for (int i = 0; i < Model._Providers[0].Contracts.Count; i++)
              {
                if (i == 1)
                {
                  @Html.HiddenFor(x => Model._Providers[0].Contracts[i].ID)
                  @Html.CheckBoxFor(x => Model._Providers[0].Contracts[i].isSelected, new {id = Model._Providers[0].Contracts[i].ID, style = "margin-right: 4px !important; display: none !important;" })
                }
                else
                {
                  <div class="col-md-4 provider-profile-radio">
                    <p>@Html.DisplayFor(x => Model._Providers[0].Contracts[i].ContractName)</p>

                    @Html.HiddenFor(x => Model._Providers[0].Contracts[i].ID)
                    @Html.CheckBoxFor(x => Model._Providers[0].Contracts[i].isSelected, new {id = Model._Providers[0].Contracts[i].ID, style = "margin-right: 4px !important"})
                    @Html.Label("Not Accepting New Patients", new {style = "font-weight: normal !important;"})
                    <br/>
                  </div> 
                }
              }
            </div>
          }
        </div>
        

        <hr data-brackets-id="1659" class="hr-basicAdmin-separator">
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">
                <span id="divShowHideLoc">Location Information <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div id="divLocations" class="row">
            <div class="col-md-12">
                <label class="bpp-application-placeholder-label">Primary Location</label>
                @Html.HiddenFor(model => model._Providers[0].PrimaryPracticeLocation, new { ID = "hdnPrimaryPracticeLocation" })
                <select class="provider-location form-control primaryLocation" name="PrimaryPracticeLocation" id="PrimaryPracticeLocation">
                    <option value="0" disabled="disabled">Select Location</option>
                    @for (int cnt = 0; cnt < Model._Practices[0].PracticeLocations.Count; cnt++)
                    {
                        if (@Model._Practices[0].PracticeLocations[cnt].isRemoved == true)
                        {
                            <option value='@Model._Practices[0].PracticeLocations[cnt].ID' @((@Model._Practices[0].PracticeLocations[cnt].ID == Model._Providers[0].PrimaryPracticeLocation) ? "selected" : "")>
                                @Model._Practices[0].PracticeLocations[cnt].LocationName  -- @Model._Practices[0].PracticeLocations[cnt].FullAddress --
                                REMOVED
                            </option>
                        }
                        else
                        {
                            <option value='@Model._Practices[0].PracticeLocations[cnt].ID' @((@Model._Practices[0].PracticeLocations[cnt].ID == Model._Providers[0].PrimaryPracticeLocation) ? "selected" : "")>
                                @Model._Practices[0].PracticeLocations[cnt].LocationName  -- @Model._Practices[0].PracticeLocations[cnt].FullAddress
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-12" style="margin-top: 10px !important">
                <label class="bpp-application-placeholder-label">Other Locations</label>
                @{
                    <div id="otherPracLocations" style="display:none;">
                        @if (Model._Providers[0].OtherPracticeLocations != null)
                        {
                            for (int i = 0; i < Model._Providers[0].OtherPracticeLocations.Count; i++)
                            {
                                @Html.HiddenFor(model => Model._Providers[0].OtherPracticeLocations[i])
                            }
                        }
                    </div>
                    <select class="provider-other-location form-control chosen-select otherLocations" data-placeholder="Select Other Locations" multiple name="otherPracLocations" id="otherPracLocations">
                        <option value="0" disabled="disabled">Select Location</option>
                        @for (int cnt = 0; cnt < Model._Practices[0].PracticeLocations.Count; cnt++)
                        {
                            if (Model._Practices[0].PracticeLocations[cnt].ID != Model._Providers[0].PrimaryPracticeLocation)
                            {
                                if (@Model._Practices[0].PracticeLocations[cnt].isRemoved == true)
                                {
                                    <option value='@Model._Practices[0].PracticeLocations[cnt].ID'
                                            @((Model._Providers[0].OtherPracticeLocations != null && Model._Providers[0].OtherPracticeLocations.Contains(Model._Practices[0].PracticeLocations[cnt].ID)) ? "selected" : "")>
                                        @Model._Practices[0].PracticeLocations[cnt].LocationName  -- @Model._Practices[0].PracticeLocations[cnt].FullAddress -- REMOVED
                                    </option>
                                }
                                else
                                {
                                    <option value='@Model._Practices[0].PracticeLocations[cnt].ID'
                                            @((Model._Providers[0].OtherPracticeLocations != null && Model._Providers[0].OtherPracticeLocations.Contains(Model._Practices[0].PracticeLocations[cnt].ID)) ? "selected" : "")>
                                        @Model._Practices[0].PracticeLocations[cnt].LocationName  -- @Model._Practices[0].PracticeLocations[cnt].FullAddress
                                    </option>
                                }
                            }
                        }
                    </select>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    <button type="button" onclick="GeneratecloneProviderModal()" class="bpp-clone-btn" id="btnCloneProfile">Clone</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button type="button" onclick="goBack()" class="bpp-cancel-btn">Cancel</button>
                    @*<input type="submit" id="btnSave" class="bpp-submit-btn" value="Save" />*@
                    <button type="button" onclick="Save()" class="bpp-submit-btn">Save</button>
                </div>
            </div>
        </div>
    </div>

}
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { enctype = "multipart/form-data", ID = @Model._Providers[0].ID, PracticeID = @Model._Practices[0].ID, MatrixID = Model._Providers[0].matrix.ID, Mode = 2 }))
{
    @Html.Sitecore().FormHandler("Application", "UploadAttachment")
    <!-- Modal -->
    <div id="bpp-modal" class="modal fade" role="dialog">
        <div class="col-md-4 col-md-offset-4">
            <div class="modal-dialog provider-profile-modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content  provider-profile-modal">
                    <div class="modal-header providor-profile-modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Manage Provider Attachments</h4>
                    </div>
                    <div class="modal-body">
                        <div class="provider-profile-table">
                            <ul class="list-style-none text-center">
                                <li>
                                    <b>Loading attachments...</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h4 class="text-center"><i class="fa fa-plus" aria-hidden="true"></i> Add Attachment</h4>
                        <p class="text-left  provider-profile-para">Choose a file from your computer</p>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <input type="file" class="form-control input-md" placeholder="Select File" name="file" id="txtUploadFile">
                            </div>
                        </div>
                        <div class="pull-left">
                            <button type="button" class="btn btn-default  provider-profile-button" data-dismiss="modal">Close</button>
                            <input type="hidden" name="MatrixID" id="MatrixID" value="@Model._Providers[0].matrix.ID"/>
                            <input type="hidden" name="NPINumber" id="NPINumber" value="@Model._Providers[0].NPINumber" />
                            <input type="hidden" name="ID" id="ID" value="@Model._Providers[0].ID" />
                            <input type="hidden" name="PracticeID" id="PracticeID" value="@Model._Practices[0].ID" />
                            <input type="hidden" name="Mode" id="Mode" value="2" />
                            <button class="btn btn-primary  provider-profile-addbutton" type="submit" id="btnUploadFile">Add  Attachment</button>
                            @*<button onclick="this.disabled=true; this.value='Please wait....'" class="btn btn-primary  provider-profile-addbutton" type="submit" id="btnUploadFile">Add  Attachment</button>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    var selcted = @((Int32)Model._Providers[0].ProviderMemberStatus);
    $('#ddlAppActions>option:eq('+selcted+')').attr('selected', true);
    $('#ddlAppActions>option:eq('+selcted+')').prop('selected', true);

    var formResponse = '';
    formResponse = '@TempData["updProvResponse"]';
</script>
<script type="text/javascript" src="~/Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/prism.js"></script>
<script type="text/javascript" src="~/Scripts/bppProviderProfile.js"></script>
