﻿@*@using Sitecore.Mvc;*@
@model BPP93Helix.Feature.PageContent.Models.BPPApplication
<link href="~/Content/bppAppList.css" rel="stylesheet" />
<link href="~/Content/bppDataTable.css" rel="stylesheet" />
@{
    List<SelectListItem> InNetworkValues = new List<SelectListItem>();
    InNetworkValues.Add(new SelectListItem
    {
      Text = "True",
      Value = "True"
    });
  InNetworkValues.Add(new SelectListItem
  {
    Text = "False",
    Value = "False"
  });
}

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "EntityProfile", name = "form" }))
{
    @*@Html.Sitecore().FormHandler("MasterLookup", "SaveEntityProfile")*@
    <div id="mainForm">
        <div class="container providor-profile-page">
            <div class="row">
                <div id="content-heading" class="col-md-10" style="padding-left: 0px !important;">
                    @Model._Entity.LE_Name
                </div>
            </div>
            <div class="row" style="padding:3px 0 0 2px !important;">
                <div class="col-md-8" style="padding-left: 2px !important;">
                </div>
                <div class="col-md-2">
                    <a href="" class="bpp-attachment" data-toggle="modal" data-target="#bpp-modal"> Group Attachments<i class="fa fa-paperclip" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-2">
                    <button type="button" id="btnSaveTop" onclick="Save()" class="bpp-submit-btn text-left">Save</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">
                <span id="divShowHideBasic">Basic Information <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="row BasicInfo">
            <div class="col-md-6">
                <label class="bpp-application-placeholder-label">Check to Opt Out of Contract</label>
                @{
                              <div id="contracts">

                                @for (int i = 0; i < Model._Contracts.Count; i++)
                                {
                                  // This shows all of the contract options except for the AvMed Engage/Empower checkbox option from displaying. (Request of stakeholder, they didnt want to remove the existing data, just hide this option to the end-users).

                                  if (i == 1)
                                  {
                                    @Html.HiddenFor(x => Model._Contracts[i].ContractID)
                                    @Html.CheckBoxFor(x => Model._Contracts[i].OptOut, new { id = Model._Contracts[i].ContractID, style = "margin-right: 4px !important; display: none !important;" })
                                  }
                                  else
                                  {
                                    @Html.HiddenFor(x => Model._Contracts[i].ContractID)
                                    @Html.CheckBoxFor(x => Model._Contracts[i].OptOut, new { id = Model._Contracts[i].ContractID, style = "margin-right: 4px !important" })
                                    @Html.DisplayFor(x => Model._Contracts[i].ContractName)<br />
                                  }
                                }
                              </div>
                }
            </div>
        </div>
        <hr />
        <div class="row BasicInfo">
            <div class="col-sm-6 ">
                <label class="bpp-application-placeholder-label">Group Name</label>
                @Html.HiddenFor(model => model._Entity.LegalEntityID, new { ID = "legalEntityID" })
                @Html.HiddenFor(model => model._Entity.ID)
                @Html.TextBoxFor(model => model._Entity.LE_Name, new { Class = "form-control bpp-application-forminputs", placeholder = "Legal Name", required = "required" })
                @Html.ValidationMessage("Legal Name is Required.")
            </div>
            <div class="col-sm-2">
                <label class="bpp-application-placeholder-label">Tax ID #</label>
                @Html.TextBoxFor(model => model._Entity.TaxID, new { Class = "form-control bpp-application-forminputs tin", ID = "practTaxID", placeholder = "TAX ID #", pattern = "^[0-9]{2}(?:-[0-9]{7})?$", minlength = 10, maxlenght = 10, required = "required" })
                @Html.ValidationMessage("Tax ID is Required.")
            </div>
        </div>
        <div class="row BasicInfo">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Address</label>
                @Html.TextBoxFor(model => model._Entity.LE_Address1, new { Class = "form-control bpp-application-forminputs", placeholder = "Address", required = "required" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Address 2</label>
                @Html.TextBoxFor(model => model._Entity.LE_Address2, new { Class = "form-control bpp-application-forminputs", placeholder = "Address 2" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">City</label>
                @Html.TextBoxFor(model => model._Entity.LE_City, new { Class = "form-control bpp-application-forminputs", placeholder = "City", required = "required" })
            </div>
            <div class="col-md-1">
                <label class="bpp-application-placeholder-label">State</label>
                @Html.TextBoxFor(model => model._Entity.LE_State, new { Class = "form-control bpp-application-forminputs", placeholder = "State", required = "required" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Zip</label>
                @Html.TextBoxFor(model => model._Entity.LE_Zip, new { id = "capZip", Class = "form-control bpp-application-forminputs zipcode", placeholder = "Zip", minlength = 5, maxlength = 10, pattern = "^[0-9]{5}(?:-[0-9]{4})?$", required = "required" })
                @Html.ValidationMessageFor(model => model._Entity.CAPZip)
            </div>
        </div>
        <div class="row BasicInfo">
            <div class="col-md-4">
                <label class="bpp-application-placeholder-label">Point of Contact (POC) for BPP Correspondence</label>
                @Html.TextBoxFor(model => model._Entity.POCName, new { Class = "form-control bpp-application-forminputs", placeholder = "Point of Contact", required = "required" })
                @Html.ValidationMessage("Point Of contact (POC) is Required.")
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Phone</label>
                @Html.TextBoxFor(model => model._Entity.POCPhoneNumber, new { Class = "form-control bpp-application-forminputs phone", placeholder = "Phone", title = "Numbers Only", minlength = 10, maxlength = 10, required = "required" })
                @Html.ValidationMessage("POC Phone # is Required.")
                @*pattern = "^[0-9]*$"*@
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Ext</label>
                @Html.TextBoxFor(model => model._Entity.POCExtension, new { Class = "form-control bpp-application-forminputs extension", placeholder = "Extension", title = "Numbers Only", minlength = 10, maxlength = 10 })
                @*@Html.ValidationMessage("POC Phone # is Required.")*@
            </div>
            <div class="col-md-4">
                <label class="bpp-application-placeholder-label">Email</label>
                @Html.TextBoxFor(model => model._Entity.POCEmail, new { Class = "form-control bpp-application-forminputs", placeholder = "Email", title = "xxx@xxx.xxx", required = "required" })

            </div>
        </div>
        <div class="row BasicInfo">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Contract Approval Person (CAP) Name</label>
                @Html.TextBoxFor(model => model._Entity.CAPName, new { Class = "form-control bpp-application-forminputs", placeholder = "CAP Name", required = "required" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Address</label>
                @Html.TextBoxFor(model => model._Entity.CAPAddress1, new { Class = "form-control bpp-application-forminputs", placeholder = "Address", required = "required" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Address 2</label>
                @Html.TextBoxFor(model => model._Entity.CAPAddress2, new { Class = "form-control bpp-application-forminputs", placeholder = "Address 2" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">City</label>
                @Html.TextBoxFor(model => model._Entity.CAPCity, new { Class = "form-control bpp-application-forminputs", placeholder = "City", required = "required" })
            </div>
            <div class="col-md-1">
                <label class="bpp-application-placeholder-label">State</label>
                @Html.TextBoxFor(model => model._Entity.CAPState, new { Class = "form-control bpp-application-forminputs", placeholder = "State", required = "required" })
            </div>
            <div class="col-md-2">
                <label class="bpp-application-placeholder-label">Zip</label>
                @Html.TextBoxFor(model => model._Entity.CAPZip, new { id = "capZip", Class = "form-control bpp-application-forminputs zipcode", placeholder = "Zip", minlength = 5, maxlength = 10, pattern = "^[0-9]{5}(?:-[0-9]{4})?$", required = "required" })
                @Html.ValidationMessageFor(model => model._Entity.CAPZip)
            </div>
        </div>
        <hr />

        <hr />
        <div class="row">
            <div class="col-md-12 bpp-application-subtitle">Administrative</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Submitted Membership Application</label>
                @Html.TextBoxFor(model => model._Entity.MemberApplicationSigned, "{0:MM/dd/yyyy}", new { Class = "form-control bpp-application-greyinputs bpp-date date", placeholder = "Date Submitted Membership Application" })
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Signed Network Participation Agreement</label>
                @Html.TextBoxFor(model => model._Entity.ParticipationAgreementSigned, "{0:MM/dd/yyyy}", new { Class = "form-control bpp-application-greyinputs bpp-date date", placeholder = "Date Signed Network Participation Agreement" })
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Signed Business Associate Agreement</label>
                @Html.TextBoxFor(model => model._Entity.BusinessAssociationSigned, "{0:MM/dd/yyyy}", new { Class = "form-control bpp-application-greyinputs bpp-date date", placeholder = "Date Signed Business Associate Agreement" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">BPP Effective Date</label>
                @Html.TextBoxFor(model => model._Entity.BPPEffectiveDate, "{0:MM/dd/yyyy}", new { Class = "form-control bpp-application-greyinputs bpp-date date", placeholder = "BPP Effective Date" })
            </div>
            <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Date Return of Executed Agreement to Group</label>
                @Html.TextBoxFor(model => model._Entity.ExecutedAgreementReturned, "{0:MM/dd/yyyy}", new { Class = "form-control bpp-application-greyinputs bpp-date date", placeholder = "Date Return of Executed Agreement to Group" })
            </div>
          <div class="col-md-3">
                <label class="bpp-application-placeholder-label">Legal Entity Status</label>
                @Html.DropDownListFor(model => model._Entity.Status, Model._Entity._LegalEntityStatus, "",
                             new { Class = "form-control bpp-application-greyinputs form frmintput first dropdown_admin", ID = "ddlLegalEntityStatus" })
                @Html.HiddenFor(model => model._Entity.Status, new { ID = "existingLegalEntityStatus" })
            </div>

        </div>
        <div class="row">
          <div class="col-md-3">
            <label class="bpp-application-placeholder-label">In Network</label>
            @Html.DropDownListFor(model => model._Entity.InNetwork, InNetworkValues, "",
              new { Class = "form-control bpp-application-greyinputs form frmintput first dropdown_admin", ID = "ddlInNetwork" })
            @Html.HiddenFor(model => model._Entity.InNetwork, new { ID = "inNetwork" })
          </div>
          <div class="col-md-3">
            <label class="bpp-application-placeholder-label">Notes</label>
            @Html.TextAreaFor(model => model._Entity.InactiveNotes, new {@class = "form-control bpp-application-greyinputs", rows = 4, placeholder = "Add Notes here"})
          </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-right btns-margin-top">
                <button type="button" onclick="goBack()" class="bpp-cancel-btn">Cancel</button>
                <button onclick="Save()" type="button" class="bpp-submit-btn text-left">Save</button>
                @*this.value = 'Please wait....';this.submit*@
            </div>
        </div>
    </div>
}
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { enctype = "multipart/form-data", TaxID = @Model._Entity.TaxID, LegalEntityID = @Model._Entity.LegalEntityID,  Mode = 1 }))
{
    @Html.Sitecore().FormHandler("Application", "UploadAttachment")
    <!-- Modal -->
    <div id="bpp-modal" class="modal fade" role="dialog">
        <div class="col-md-4 col-md-offset-4">
            <div class="modal-dialog provider-profile-modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content  provider-profile-modal">
                    <div class="modal-header providor-profile-modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Group Attachments</h4>
                    </div>
                    <div class="modal-body">
                        <div class="provider-profile-table">
                            <ul class="list-style-none text-center">
                                <li>
                                    <b>Loading attachments...</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h4 class="text-center"><i class="fa fa-plus" aria-hidden="true"></i> Add Attachment</h4>
                        <p class="text-left  provider-profile-para">Choose a file from your computer</p>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <input type="file" class="form-control input-md" placeholder="Select File" name="file" id="txtUploadFile">
                            </div>
                        </div>
                        <div class="pull-left">
                            <button type="button" class="btn btn-default  provider-profile-button" data-dismiss="modal">Close</button>
                            <input type="hidden" name="TaxID" id="TaxID" value="@Model._Entity.TaxID" />
                            <input type="hidden" name="LegalEntityID" id="LegalEntityID" value="@Model._Entity.LegalEntityID"/>
                            <input type="hidden" name="Mode" id="Mode" value="1" />
                            <button id="btnAttach" class="btn btn-primary  provider-profile-addbutton" type="submit">Add  Attachment</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<br /><hr style="border-color:#337ab7;" />
@*<script type="text/javascript">
    var formResponse = '@TempData["updLegalEntity"]';

</script>*@
<script type="text/javascript" src="~/Scripts/bppEntityProfile.js"></script>
