﻿@model BHSearch.Models.FacetView
@using System.Collections.Generic

@if (Model != null)
{
    ICollection<KeyValuePair<string, int>> facetList = Model.Facet.Value;
    facetList = facetList.OrderBy(o => o.Key).ToList();
    <select name="@Model.Facet.Key" class="form-control">
        <option value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals("")))) { <text> selected</text> }> Select Option </option>



        @foreach (KeyValuePair<string, int> item in facetList)
        {
            <option value="@item.Key" @if (Model.Filter.Contains(item.Key)) { <text> selected</text> }> @item.Key</option>
        }
    </select>
    <script>
        //Sort Languages
		$(document).ready(function(){
			var $el = $("select[name=languages_pipe]").find('option[value="English"]');
			$("select[name=languages_pipe]").find('option[value="English"]').remove();
			$("select[name=languages_pipe]").find('option:eq(1)').before($el);
		});

		//Sort Hospitals
		$(document).ready(function () {
		    var $el = $("select[name=hospitalaffiliations_pipe]").find('option[value="Baptist Medical Center Jacksonville"]');
		    $("select[name=hospitalaffiliations_pipe]").find('option[value="Baptist Medical Center Jacksonville"]').remove();
		    $("select[name=hospitalaffiliations_pipe]").find('option:eq(1)').before($el);
		});
    </script>
}

