﻿@model BHSearch.Models.FacetView
@if (Model != null)
{
    <div class="radio checked">
        <label><input type="radio" name="@Model.Facet.Key" value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals(""))))  { <text> checked</text> } /><text>No Preference</text></label>
    </div>
    foreach (KeyValuePair<string, int>
        item in Model.Facet.Value)
    {
        <div class="radio checked">
            <label><input type="radio" name="@Model.Facet.Key" value="@item.Key" @if (Model.Filter.Contains(item.Key)){ <text> checked</text> }>@item.Key</label>
        </div>
    }
}
