﻿@model BHSearch.Models.PhysicianResultsView
@if (Model != null)
{
  int count = Model.Start;
  foreach (var item in Model.Physicians)
  {
    count++;
    //string imagePath = item.ContentID;
    //if (imagePath != "" && imagePath != null)
    //{
    //    imagePath = "http://bhwebapps.bh.local/IntranetFAP/PhysicianImages/" + imagePath + ".jpg";
    //}
    <li class="fap-result">
      <div class="row">
        @*<div class="col-xs-4 col-sm-4 col-md-2">
              <div class="result-image">
                  <span class="result-num">@count.</span>
                  <img onerror="this.src='../../Images/placeholder.png'" src="@imagePath">
              </div>
          </div>*@
        <div class="col-xs-8 col-sm-4 col-md-4 dr-info-left">
          <div class="dr-name">
            <a class="dr-url" href="@item.Path">
              @item.FirstName @item.LastName@if (item.Suffix != "" && item.Suffix != null)
              {<span class="dr-suffix">, @item.Suffix</span>}
            </a>
          </div>
          <div class="dr-specialty">@item.PrimarySpecialty</div>
          @*<div class="dr-practice">@item.PracticeName</div>*@
          <div class="dr-gender">@item.Gender</div>
          @if (item.Languages != "" && item.Languages != null)
          {
            string[] languages = item.Languages.Split('|');
            <div class="dr-language">
              @for (int i = 0; i < languages.Length; i++)
              {
                @languages[i]
                if (i != languages.Length - 1)
                {@Html.Raw(", ")}
            }
            </div>
          }
        </div>
        <div class="col-xs-8 col-xs-push-4 col-sm-4 col-sm-push-0 col-sm-pull-0 col-md-4 dr-info-right">
          @if (item.PrimaryLocation != null && item.PrimaryLocation != "")
          {
            string[] location = item.PrimaryLocation.Split('|');
            <div class="dr-phone"><a href="tel:@location[6]">@location[6]</a></div>
            <div class="dr-practice-name">@item.PracticeName</div>
            <div><span class="dr-address-1">@location[0]</span><span class="dr-address-2"> @location[1]</span></div>
            <div>
              <span class="dr-city">@location[3],</span><span class="dr-state"> @location[4]</span><span class="dr-zip"> @location[5]</span>
            </div>
            <span class="latlng" style="display:none;">@item.PrimaryLocationLatLng</span>
          }

          @if (item.OtherLocations != null && item.OtherLocations != "")
          {
            <div class="dr-more-locations"><a onclick="showMoreLocations($(this));"><span class="more-locations-txt">Show More Locations</span> <span class="more-locations-icon fa fa-angle-down"></span></a></div>
            string[] locations = item.OtherLocations.Split('^');
            string[] locationLatLngs = new string[0];
            if (item.OtherLocationsLatLngs != null)
            {
              locationLatLngs = item.OtherLocationsLatLngs.Split('|');
            }
            var locationCount = 0;
            <div class="hidden-locations" style="display: none">
              @for (int i = 0; i < locations.Length; i++)
              {
                try
                {
                  string[] _loc = locations[i].Split('|');
                  string locString = _loc[0] + " " + _loc[1] + " " + _loc[3] + " " + _loc[4] + " " + _loc[5];
                  <div class="hidden-location">
                    <div class="dr-phone"><a href="tel:@_loc[6]">@_loc[6]</a></div>
                    <div><span class="dr-address-1">@_loc[0]</span><span class="dr-address-2"> @_loc[1]</span></div>
                    <div>
                      <span class="dr-city">@_loc[3],</span><span class="dr-state"> @_loc[4]</span><span class="dr-zip"> @_loc[5]</span>
                    </div>
                    <a class="dr-more-directions" target="_blank" href="https://www.google.com/maps/dir/Your+location/@locString">
                        Directions
                      </a>
                  </div>
                  //locationCount++;
                }
                catch (Exception e)
                {
                  // we just need to continue so we don't blow up the page. If there is an issue wiht an address we just won't display it
                }
              }
            </div>
          }
        </div>
        @if (!string.IsNullOrEmpty(item.PrimaryLocation))
        {
          <div class="col-xs-4 col-xs-pull-8 col-sm-8 col-sm-push-4 col-md-push-0 col-md-pull-0 col-md-2">
            <span class="distance-value" style="display:none;"><span class="fa fa-map-marker distance-marker"></span> @item.Distance.ToString("0.00") mi</span>
            @{
              string[] primaryLocation = item.PrimaryLocation.Split('|');
              string primaryString = primaryLocation[0] + " " + primaryLocation[1] + " " + primaryLocation[3] + " " + primaryLocation[4] + " " + primaryLocation[5];
            }
            <button target="_blank" onclick="window.open('https://www.google.com/maps/dir/Your+Location/@primaryString', '_blank');" class="fap-btn dr-get-directions">
              Get Directions
            </button>
          </div>
        }
      </div>
      <hr class="fap-result-hr">
    </li>
  }
}