﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions;
@using Sitecore.Mvc.Presentation;
@model RenderingModel
@{
    Layout = null;
}


<div class="col-xs-12">
    <div class="profile-print-share">
        <a href=""><span class="profile-span-social icon-print"></span><span>Print</span></a>
        <a href=""><span class="profile-span-social icon-share"></span><span>Share</span></a>
    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <!-- DESKTOP bootstrap -->
        <div class="hidden-sm hidden-xs profile-dr-wrapper">
            <div class="row">
                <!--INNER row-->
                <div class="col-md-4">
                    <div class="profile-dr-image">
                        @{
                            string photoURL = "http://bhwebapps.bh.local/IntranetFAP/PhysicianImages/" + Html.Sitecore().CurrentItem.Name + ".jpg";
                            <img onerror="this.src='/Images/placeholder-lg.png'" src="@photoURL">
                        }
                        
                      <!--  <img class="base" src="../../../../Images/profile-page/photo-profile-base.png">
                        <img src="../../../../Images/profile-page/photo-profile-placeholder.png"> -->
                        <a class="btn btn-profile-subscribe" href="">SUBSCRIBE</a>
                    </div>
                </div><!--END col-md-4-->
                <div class="col-md-8">
                    <div class="profile-dr-info">
                        <h1 class="profile-h1">@Html.Sitecore().Field("JobTitle") @Html.Sitecore().Field("FirstName") @Html.Sitecore().Field("LastName"), @Html.Sitecore().Field("Degree")</h1>
                        <h3 class="profile-h3">@Html.Sitecore().Field("PrimarySpecialty")</h3>
                        <ul class="profile-ul">
                            <li><a href=""><span class="profile-span icon-bio"></span>Read Biography</a></li>
                          
                          @{
                              if (Html.Sitecore().Field("Education").ToString() != "")
                              {
                                  string[] education = Html.Sitecore().Field("Education").ToString().Split('|');
                                  if (education[0] != "" && education[2] != "")
                                  {
                                    <li><span class="profile-span icon-education"></span>@education[0].Replace("&#39;", "'"), @education[2]</li>
                                  }
                              }

                            @*<li><a href=""><span class="profile-span icon-email"></span>jmoreno@bhjax.com</a></li>*@
                              string[] location = Html.Sitecore().Field("PrimaryLocation").ToString().Split('|');
                            <li><span class="profile-span icon-phone"></span>@location[6]</li>
                            <li><span class="profile-span icon-location"></span>@Html.Sitecore().Field("PracticeInformation")</li>
                        }
                            
                            
                            <li><span class="profile-span icon-subscribers">23</span>Subscribers</li>
                        </ul>
                    </div>
                </div> <!--END col-md-8 -->
            </div> <!--END inner row -->
        </div> <!--END profile-dr-wrapper-->
        <!-- END desktop bootstrap-->
        <!-- MOBILE bootstrap -->
        <div class="hidden-md hidden-lg hidden-xl row">
            <!--INNER row-->
            <div class="col-xs-12">
                <div class="profile-dr-image inline-block">
                    <img onerror="this.src='/Images/placeholder-lg.png'" src="@photoURL">
                </div>
                <div class="inline-block dr-title">
                    <h1 class="profile-h1">@Html.Sitecore().Field("JobTitle") @Html.Sitecore().Field("FirstName") @Html.Sitecore().Field("LastName"), @Html.Sitecore().Field("Degree")</h1>
                    <h3 class="profile-h3">@Html.Sitecore().Field("Primary Specialty")</h3>
                </div>
            </div><!--END col-xs-12-->
        </div> <!--END inner row -->
        <div class="hidden-md hidden-lg hidden-xl row">
            <div class="col-md-4">
                <a class="btn btn-profile-subscribe" href="">SUBSCRIBE</a>
            </div>
            <div class="col-md-8">
                <div class="profile-dr-info">

                    <ul class="profile-ul">
                        <li><a href=""><span class="profile-span icon-bio"></span>Read Biography</a></li>
                        @{
                            if (Html.Sitecore().Field("Education").ToString() != "")
                            {
                                string[] education = Html.Sitecore().Field("Education").ToString().Split('|');
                                if (education[0] != "" && education[2] != "")
                                {
                                    <li><span class="profile-span icon-education"></span>@education[0], @education[2]</li>
                                }
                            }

                            <li><a href=""><span class="profile-span icon-email"></span>jmoreno@bhjax.com</a></li>
                            <li><span class="profile-span icon-phone"></span>888-555-1234</li>
                            <li><span class="profile-span icon-location"></span>@Html.Sitecore().Field("PracticeInformation")</li>
                        }
                        <li><span class="profile-span icon-subscribers">23</span>Subscribers</li>
                    </ul>
                </div>
            </div> <!--END col-md 8 -->
        </div> <!--end col-md-8 row -->
        <!-- END mobile bootstrap -->

        <div class="row">
            <div class="col-xs-12">
                <div class="profile-form-wrapper">
                    <form class="form-group">
                        <input class="profile-form-input" type="text" name="profilePost" placeholder="Post to wall"><input class="profile-form-submit" type="submit" value="SEND"><a class="profile-paperclip-anchor"><i class="fa fa-paperclip profile-paperclip"></i></a>
                    </form>
                </div> <!-- END profile-form-wrapper -->
            </div> <!-- END col-xs-12 -->
        </div>

        <div class="row">
            <div class="col-xs-2 align-center no-padding">
                <div class="profile-post-avatar">
                    @*<img class="base" src="../../../../Images/profile-page/photo-avatar-base.png">*@
                    <img src="../../../../Images/profile-page/photo-avatar-placeholder-1.png">
                </div>
            </div> <!-- END col-xs-2 -->
            <div class="col-xs-10 padL-0">
                <div class="profile-post-1">
                    <h4 class="profile-wall-header">Dr. Bartholomew Peterson</h4> <span class="profile-wall-span-wrapper"><span class="profile-span-social icon-clock"></span><span>Just now</span></span>
                    <p class="profile-post-main">The patients on the oncology floor seem to be doing well. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                </div>
            </div> <!-- END col-xs-10 -->
        </div> <!-- END row -->
        <hr>

        <!-- Is this too much below? Should I not use bootstrap for this, just build the divs instead? -->
        <div class="row">
            <div class="col-xs-2 align-center no-padding">
                <div class="profile-post-avatar">
                    @*<img class="base" src="../../Images/profile-page/photo-avatar-base.png">*@
                    <img src="../../Images/profile-page/photo-avatar-placeholder-2.png">
                </div>
            </div> <!-- END col-xs-2 -->
            <div class="col-xs-10 padL-0">
                <div class="profile-post-2">
                    <h4 class="profile-wall-header">Dr. Jonathan Moreno</h4><span class="profile-wall-span-wrapper"><span class="profile-span-social icon-clock"></span><span>June 1st at 8:30am</span></span>
                    <p class="profile-post-main">I just published my latest research document regarding lorem ipsum dolor sit ipsum sit amet. </p>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <a href="" class="profile-og-anchor">
                            <img src="images/profile-page/photo-stethoscope-placeholder.png">
                        </a>
                    </div> <!--END col-xs-4-->
                    <div class="col-xs-8">
                        <a href="" class="profile-og-anchor">
                            <p class="profile-og-title">Lorem ipsum Lorem ipsum dolor sit amet</p>
                            <p class="profile-og-main">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                        </a>
                    </div> <!--END col-xs-8-->
                </div><!--END row OG content-->
            </div> <!-- END col-xs-10 -->
        </div> <!-- END row -->
        <hr>

        <!-- 			<div class="row">
                        <div class="col-xs-12"> -->
        <div class="profile-more-wrapper">
            <input class="btn btn-profile-more" type="button" id="" value="LOAD MORE">
        </div>
        <hr>
        <!-- 				</div>
                    </div> -->
    </div> <!--END col-md-8-->
    <!-- DETAILS DESKTOP -->
    <div class="col-md-4 hidden-xs hidden-sm">
        <div class="profile-details-wrapper">
            <div class="profile-details-div">
                <p class="size-24 padB-5">Schedule</p>
                <p class="size-20 color-blue padB-10">Friday, July 1</p>
                <p class="size-16">ON CALL SCHEDULE</p>
                <p class="size-14">Dr. Moreno is on call today until 10pm.</p>
                <p class="size-14 color-blue bold">View Calendar</p>
                <hr class="no-border">
                <p class="size-16">UPCOMING SURGERIES</p>
                <p class="size-14">Wednesday, January 18</p>
                <p class="size-14">2:30 pm - 4:00 pm</p>
                <p class="size-14">5:00 pm - 8:00 pm</p>
                <p class="size-14 color-blue bold">More Details</p>
            </div>
            <div class="profile-details-div">
                <p class="size-24 padB-5 padT-10">Hospital Information</p>
                <p class="size-16">INSURANCE</p>
                <p class="size-14">At vero eos eta ccusamus et iusto</p>
                <hr class="no-border">
                <p class="size-16">BILLING</p>
                <p class="size-14">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
                <hr class="no-border">
                <p class="size-14 bold">(888) 555-1234</p>
            </div>
            <div class="profile-details-div">
                <p class="size-24 padB-5 padT-10">Publications</p>
                <p class="size-16 color-blue bold">Omega-3 Fatty Acids, Hepatic Lipid Metabolism, and Nonalcoholic Fatty Liver Disease</p>
                <hr class="no-border">
                <p class="size-16 color-blue bold">Levels of Cyclooxygenase-2 Are Increased in the Oral Mucosa of Smokers: Evidence for the Role of Epidermal Growth Factor Receptor and Its Ligands</p>
                <hr class="no-border">
                <p class="size-16 color-blue bold">Evolutionary aspects of diet, the omega-6/omega-3 ratio and genetic variation: nutritional implications for chronic diseases</p>
                <hr class="no-border">
                <p class="size-16 color-blue bold"><a href="">View All (24)</a></p>
            </div>
        </div> <!--END profile-details-wrapper-->
    </div> <!--END col-md-4-->
    <!-- END details desktop -->
    <!-- DETAILS MOBILE -->
    <div class="col-md-4 hidden-md hidden-lg hidden-xl">
        <div class="profile-details-wrapper">
            <div class="profile-details-div">
                <a class="fa-toggle" data-toggle="collapse" href="#accordion-schedule"><p class="size-24 padB-5">Schedule<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></p></a>
                <div id="accordion-schedule" class="collapse details-card">
                    <p class="size-20 color-blue padB-10">Friday, July 1</p>
                    <p class="size-16">ON CALL SCHEDULE</p>
                    <p class="size-14">Dr. Moreno is on call today until 10pm.</p>
                    <p class="size-14 color-blue bold">View Calendar</p>
                    <hr class="no-border">
                    <p class="size-16">UPCOMING SURGERIES</p>
                    <p class="size-14">Wednesday, January 18</p>
                    <p class="size-14">2:30 pm - 4:00 pm</p>
                    <p class="size-14">5:00 pm - 8:00 pm</p>
                    <p class="size-14 color-blue bold">More Details</p>
                </div> <!-- END #accordion-schedule -->
            </div>
            <div class="profile-details-div">
                <a class="fa-toggle" data-toggle="collapse" href="#accordion-hospital"><p class="size-24 padB-5 padT-10">Hospital Information<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></p></a>
                <div id="accordion-hospital" class="collapse details-card">
                    <p class="size-16">INSURANCE</p>
                    <p class="size-14">At vero eos eta ccusamus et iusto</p>
                    <hr class="no-border">
                    <p class="size-16">BILLING</p>
                    <p class="size-14">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
                    <hr class="no-border">
                    <p class="size-14 bold">(888) 555-1234</p>
                </div> <!-- END #accordion-hospital -->
            </div>
            <div class="profile-details-div">
                <a class="fa-toggle" data-toggle="collapse" href="#accordion-publications"><p class="size-24 padB-5 padT-10">Publications<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></p></a>
                <div id="accordion-publications" class="collapse details-card">
                    <p class="size-16 color-blue bold">Omega-3 Fatty Acids, Hepatic Lipid Metabolism, and Nonalcoholic Fatty Liver Disease</p>
                    <hr class="no-border">
                    <p class="size-16 color-blue bold">Levels of Cyclooxygenase-2 Are Increased in the Oral Mucosa of Smokers: Evidence for the Role of Epidermal Growth Factor Receptor and Its Ligands</p>
                    <hr class="no-border">
                    <p class="size-16 color-blue bold">Evolutionary aspects of diet, the omega-6/omega-3 ratio and genetic variation: nutritional implications for chronic diseases</p>
                    <hr class="no-border">
                    <p class="size-16 color-blue bold"><a href="">View All (24)</a></p>
                </div> <!-- END #accordion-publications -->
            </div>
        </div> <!--END profile-details-wrapper-->
    </div> <!--END col-md-4-->
    <!-- END details mobile -->



</div><!--END row -->