﻿@using Sitecore.Mvc
<div class="bpp-profile">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <ol class="breadcrumb go-back">
                <li>
                    <i class="fa fa-chevron-left fa-1" aria-hidden="true"></i>
                    <a href="/en/Search/FAP-Results" class="breadcrumblink">Search Results</a>
                </li>
            </ol>
        </div>
    </div>
    <div id="physician_details" class="row">
        <div id="physician-box" class="col-xs-12">
            <div class="row" id="profile-box">
                <!--copy box-->
                <div id="physician-profile-copy" class="col-xs-6 col-sm-9 col-md-9">

                    <div class="col-xs-12 col-md-12">
                        <div class="physician-name">
                            <strong>@Html.Sitecore().Field("FirstName") @Html.Sitecore().Field("LastName"), @Html.Sitecore().Field("Suffix")</strong>
                        </div>
                        <div class="physician-specialty">
                            <strong>@Html.Sitecore().Field("PrimarySpecialty")</strong>
                        </div>
                    </div>

                  <div class="col-md-12 physician-overview">
                    <div class="col-md-6">
                      <div class="info-text"><strong>Practice Name: </strong></div>
                      <div>@Html.Sitecore().Field("PracticeInformation")</div>
                    </div>
                    <div class="col-md-6">
                      @{
                        if (!string.IsNullOrEmpty(Html.Sitecore().Field("OtherSpecialties").ToString()))
                        {
                          string[] specialties = Html.Sitecore().Field("OtherSpecialties").ToString().Split('|');
                          <div class="info-text"><strong>Other Specialties:</strong></div>
                          foreach (string specialty in specialties)
                          {
                            <div>@specialty</div>
                          }
                        }
                      }
                    </div>

                  </div>
                  <div class="col-xs-12 col-md-12 physician-overview">
                    <div class="col-md-6">
                      @{ if (!string.IsNullOrEmpty(Html.Sitecore().Field("PrimaryLocation").ToString())) {
                           string[] location = Html.Sitecore().Field("PrimaryLocation").ToString().Split('|');

                           <div class="info-text"><strong>Primary Location:</strong></div>
                           <div class="info-text"><strong>Phone: </strong> @location[6]</div>
                           <div>@MvcHtmlString.Create(@location[0]) @location[1]</div>
                           <div>@location[3]@if (!string.IsNullOrEmpty(location[4])) {@Html.Raw(", ") } @location[4] @location[5]</div>

                           string locString = location[0] + " " + location[1] + " " + location[3] + " " + location[4] + " " + location[5];
                           <div class="info-text"><a target="_blank" href="https://www.google.com/maps/dir/Your+location/@locString">Get Directions ></a></div>
                         }
                      }
                    </div>
                    <div class="col-md-6">
                      @{
                        if (!string.IsNullOrEmpty(Html.Sitecore().Field("OtherLocations").ToString()))
                        {
                          string[] location = Html.Sitecore().Field("OtherLocations").ToString().Split('|');


                          <div class="info-text"><strong>Other Location:</strong></div>
                          <div class="info-text"><strong>Phone:</strong> @location[6]</div>
                          <div>@MvcHtmlString.Create(@location[0]) @location[1]</div>
                          <div>@location[3] @if (!string.IsNullOrEmpty(location[4]))
                                            { @Html.Raw(", ") } @location[4] @location[5]</div>

                          string locString = location[0] + " " + location[1] + " " + location[3] + " " + location[4] + " " + location[5];
                          <div class="info-text"><a target="_blank" href="https://www.google.com/maps/dir/Current+Location/@locString)">Get Directions></a></div>
                        }
                      }
                    </div>
                  </div>
                  <!--locations-->

                </div>
                <!--bottom border-->
                <div class="col-xs-12 col-md-12" id="profile-box-border-bottom"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="overview-details">
                            <h4 style="border-bottom: 1px solid #ccc;">Overview</h4>
                            <p>
                                <b>Gender:</b>
                                <span>@Html.Sitecore().Field("Gender")</span>
                            </p>
                            @{
                                if (!string.IsNullOrEmpty(Html.Sitecore().Field("Languages").ToString()))
                                {
                                    string[] languages = Html.Sitecore().Field("Languages").ToString().Split('|');
                                    int i = 0;
                                    <p>
                                        <b>Language(s):</b>
                                        <span>

                                            @foreach (string language in languages)
                                            {
                                                i++;
                                                if (i == languages.Length)
                                                {
                                                    @language
                                                }
                                                else
                                                {
                                                    @language@Html.Raw(", ")
                                                }
                                            }
                                        </span>
                                        @*<span>English, French, Spanish</span>*@
                                    </p>
                                }
                            }
                            @*<p>
                                    <b>Board Certification:</b>
                                    <span>
                                        American Board of Plastic Surgery
                                    </span>
                                </p>*@
                            @{ 
                                if (!string.IsNullOrEmpty(Html.Sitecore().Field("Education").ToString()))
                                {
                                    string[] education = Html.Sitecore().Field("Education").ToString().Split('|');
                                    <p>
                                        <b>Medical Education:</b>
                                        <span>
                                            @HttpUtility.HtmlDecode(education[0]), @HttpUtility.HtmlDecode(education[2])
                                        </span>
                                    </p>
                                }
                            }
                            @{
                                if (!string.IsNullOrEmpty(Html.Sitecore().Field("Internship").ToString()))
                                {
                                    string[] internship = Html.Sitecore().Field("Internship").ToString().Split('|');
                                    <p>
                                        <b>Internship:</b>
                                        <span>
                                            @HttpUtility.HtmlDecode(@internship[0]), @HttpUtility.HtmlDecode(@internship[2])
                                            @*@internship[0], @internship[2]*@
                                        </span>
                                    </p>
                                }
                            }

                            @{
                                if (!string.IsNullOrEmpty(Html.Sitecore().Field("Residency").ToString()))
                                {
                                    string[] residency = Html.Sitecore().Field("Residency").ToString().Split('|');
                                    <p>
                                        <b>Residency:</b>
                                        <span>
                                            @HttpUtility.HtmlDecode(@residency[0]), @HttpUtility.HtmlDecode(@residency[2])
                                            @*@residency[0], @residency[2]*@
                                        </span>
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabs">
                        <ul id="findDoctorTab" class="nav nav-links" role="tablist">
                            @*<li class="nav-item active">
                                <a class="nav-link" href="javascript:void(0);" data-id="1">Biography</a>
                                <div class="accordion-content"></div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" data-id="2">Hospital Affiliations</a>
                                <div class="accordion-content"></div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" data-id="3">Accepted Insurance</a>
                                <div class="accordion-content"></div>
                            </li>*@

                            @*<li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);" data-id="4">Research and Publications</a>
                                    <div class="accordion-content"></div>
                                </li>*@
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="1" role="tabpanel">
                            <div class="card">
                                @{
                                    if (!string.IsNullOrEmpty(Html.Sitecore().Field("Biography").ToString()))
                                    {
                                        <p>@Html.Sitecore().Field("Biography")</p>
                                    }
                                    else if (!string.IsNullOrEmpty(Html.Sitecore().Field("BackupBiography").ToString()))
                                    {
                                        <p>@Html.Sitecore().Field("FirstName") @Html.Sitecore().Field("LastName") @Html.Sitecore().Field("BackupBiography")</p>
                                    }

                                    <ul>
                                        @if (!string.IsNullOrEmpty(Html.Sitecore().Field("PrimarySpecialty").ToString()))
                                        {
                                            <li>@Html.Sitecore().Field("PrimarySpecialty")</li>
                                        }
                                        
                                        @if (!string.IsNullOrEmpty(Html.Sitecore().Field("OtherSpecialties").ToString()))
                                            {
                                                string[] specialties = Html.Sitecore().Field("OtherSpecialties").ToString().Split('|');
                                                foreach (string specialty in specialties)
                                                {
                                                    if (!string.IsNullOrEmpty(specialty.Trim())){
                                                        <li>@specialty</li>
                                                    }
                                                }
                                            }
                                    </ul>
                                }
                                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim ac dolor accumsan pharetra quis dictum mi. Mauris feugiat nibh sed nisi finibus pellentesque. Duis nec pretium odio. Aenean facilisis lorem non sagittis facilisis. Proin bibendum eros vel rhoncus tristique. Integer faucibus, turpis vitae luctus dapibus, felis risus bibendum nisi, iaculis molestie mi nisl quis sem. Ut dapibus blandit maximus. Suspendisse imperdiet odio quis nibh euismod, vel commodo quam dapibus.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim ac dolor accumsan pharetra quis dictum mi. Mauris feugiat nibh sed nisi finibus pellentesque. Duis nec pretium odio. Aenean facilisis lorem non sagittis facilisis. Proin bibendum eros vel rhoncus tristique. Integer faucibus, turpis vitae luctus dapibus, felis risus bibendum nisi, iaculis molestie mi nisl quis sem. Ut dapibus blandit maximus. Suspendisse imperdiet odio quis nibh euismod, vel commodo quam dapibus.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim ac dolor accumsan pharetra quis dictum mi. Mauris feugiat nibh sed nisi finibus pellentesque. Duis nec pretium odio. Aenean facilisis lorem non sagittis facilisis. Proin bibendum eros vel rhoncus tristique. Integer faucibus, turpis vitae luctus dapibus, felis risus bibendum nisi, iaculis molestie mi nisl quis sem. Ut dapibus blandit maximus. Suspendisse imperdiet odio quis nibh euismod, vel commodo quam dapibus.</p>*@
                            </div>
                        </div>

                        <div class="tab-pane" id="2" role="tabpanel">
                            <div class="card">
                                <div class="hospital-cols">
                                    @{
                                        if (!string.IsNullOrEmpty(Html.Sitecore().Field("HospitalAffiliations").ToString()))
                                        {
                                            string[] hospitals = Html.Sitecore().Field("HospitalAffiliations").ToString().Split('|');
                                            foreach (string hospital in hospitals)
                                            {
                                                <p>@hospital</p>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="3" role="tabpanel">
                            <div class="card ">
                                <div class="insurance-cols">
                                    @{
                                        if (!string.IsNullOrEmpty(Html.Sitecore().Field("AcceptedInsurance").ToString()))
                                        {
                                            string[] insurances = Html.Sitecore().Field("AcceptedInsurance").ToString().Split('|');
                                            foreach (string insurance in insurances)
                                            {
                                                <p>@insurance</p>
                                            }
                                        }
                                    }
                                    @*<p>Blue Cross Blue Shield</p>
                                        <p>Aetna</p>
                                        <p>Medicaid</p>
                                        <p>Medicare</p>
                                        <p>Choice</p>
                                        <p>Humana HMOx QHP Exchange</p>
                                        <p>WorkLink Worker's Comp</p>
                                        <p>USA Managed Care Organization - Worker's Comp</p>
                                        <p>US Family Health Plan</p>
                                        <p>Select PPO</p>
                                        <p>Multiplan</p>
                                        <p>Medicus International - PPO Network</p>
                                        <p>Humana Gold Choice PFFS</p>
                                        <p>Injury Management Organization Worker's Comp</p>
                                        <p>Medicare Advantage PPO</p>
                                        <p>First Health - PPO Network</p>
                                        <p>United Healthcare Medicare Advantage</p>
                                        <p>Independent Medical Systems</p>
                                        <p>Evolutions Healthcare Systems - Worker's Comp</p>
                                        <p>Galaxy Health Network</p>
                                        <p>Amerigroup Star</p>
                                        <p>AHI Healthlink</p>
                                        <p>AARP Medicare Complete</p>
                                        <p>Amerigroup Chip</p>*@
                                </div>
                                <div><em>* Always verify insurance coverage with your provider prior to receiving care.</em></div>
                            </div>
                        </div>

                        @*<div class="tab-pane" id="4" role="tabpanel">
                                <div class="card ">
                                    <ul class="publications">
                                        <li><a href="#">Diagnostic Yield of Routine Skull Radiographs in Infants with Deformational Plagiocephaly.</a> Cho MJ, Kane AA, Hallac RR, Gangopadhyay N, Seaward JR Cleft Palate Craniofac. J. 2016 May;0(0):</li>
                                        <li><a href="#">Diagnostic Yield of Routine Skull Radiographs in Infants with Deformational Plagiocephaly.</a> Cho MJ, Kane AA, Hallac RR, Gangopadhyay N, Seaward JR Cleft Palate Craniofac. J. 2016 May;0(0):</li>
                                        <li><a href="#">Diagnostic Yield of Routine Skull Radiographs in Infants with Deformational Plagiocephaly.</a> Cho MJ, Kane AA, Hallac RR, Gangopadhyay N, Seaward JR Cleft Palate Craniofac. J. 2016 May;0(0):</li>
                                        <li><a href="#">Diagnostic Yield of Routine Skull Radiographs in Infants with Deformational Plagiocephaly.</a> Cho MJ, Kane AA, Hallac RR, Gangopadhyay N, Seaward JR Cleft Palate Craniofac. J. 2016 May;0(0):</li>
                                    </ul>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($('.bpp-profile-img').attr('src').indexOf("Intranet") > -1) {
            $('.action-btn-row').css('max-width', '176px');
        }

        var $tabContent = $('.tab-pane .card');
        var $accordionContent = $('#findDoctorTab .accordion-content');
        console.log($tabContent);
        for (var i = 0; i < $accordionContent.length; i++) {
            $($accordionContent[i]).html($($tabContent[i]).html());
        }

        $('title').text($('.physician-name').text());
    })

    $('#findDoctorTab .nav-item').click(function () {
        $('.nav-item').removeClass('active');
        $(this).addClass('active');

        var showID = $(this).find('a').attr('data-id');

        $('.tab-pane').removeClass('active');

        $('.tab-pane').each(function () {
            if ($(this).attr('id') == showID) {
                $(this).addClass('active');
            }
        })

        /*$('.accordion-content').hide('fast');
        $(this).find('.accordion-content').show('fast');*/
    });
</script>


