﻿@using Sitecore.Mvc
<div class="fap-wrapper">
  <h1 class="fap-header">Find a Provider</h1>
  <div class="row">
    <form id="fap">
      <div class="col-md-11 col-sm-10 col-xs-9">
        <input type="text" name="query" id="query" placeholder="Enter Provider Name or Specialty" class="form-control" autofocus />
      </div>
      <div class="col-md-1 col-sm-2 col-xs-3 xs-no-pad-left">
        <button type="submit" id="searchBtn" class="fap-btn"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fap-sort-wrap show-on-results hidden-xs" style="display:none;">
        <label class="fap-label sort-label hidden-xs">Sort By: </label>
        <select id="sort" name="sort" class="form-control fap-sort">
          <option value="">Relevancy</option>
          <option value="asc">A-Z</option>
          <option value="desc">Z-A</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row visible-xs visible-sm">
    <div class="col-md-12">
      <div class="fap-result-filter">
        <p><a id="fap-filter-toggle">Refine Results <i class="fa fa-chevron-up" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
  <div class="row show-on-results" style="display:none;">
    <div class="col-md-3">
      <div class="fap-filters-container">
        <div class="fap-filters-header hidden-xs hidden-sm">Refine Results</div>
        <div class="fap-filters">
          <button id="reset-filter-btn" onclick="resetFilters();" class="fap-btn" type="button">Reset Filters</button>
          <div class="fap-sort-wrap show-on-results visible-xs visible-sm" style="display:none;">
            <p class="fap-filter-name">Sort By</p>
            <select id="mobile-sort" name="sort" class="form-control fap-sort">
              <option value="">Relevancy</option>
              <option value="asc">A-Z</option>
              <option value="desc">Z-A</option>
            </select>
          </div>
          <div id="filters">
            <p class="fap-filter-name">Specialty</p>
            <div id="specialty">
              <select></select>
            </div>
            <p class="fap-filter-name">Gender</p>
            <div id="gender">
              <div class="radio checked">
                <label><input type="radio" name="gender" checked="checked" />No Preference</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="gender" />Male</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="gender" />Female</label>
              </div>
            </div>
            <p class="fap-filter-name">Language</p>
            <div id="language">
              <select></select>
            </div>
            <p class="fap-filter-name">Hospital Affiliation</p>
            <div id="affiliation">
              <select></select>
            </div>
          </div>
          <p class="fap-filter-name">Location <input type="checkbox" id="location-filter" name="location-filter" /></p>
          <div class="location-controls" style="display:none;">
            <label for="distance">Within </label>
            <div class="inline-block">
              <select name="distance" id="distance" class="form-control">
                <option value="5">5 mi</option>
                <option value="10">10 mi</option>
                <option value="20">20 mi</option>
                <option value="30">30 mi</option>
                <option value="40">40 mi</option>
                <option value="50">50 mi</option>
                <option value="50000">50+ mi</option>
              </select>
              <label class="zip-label" for="zip">of </label>
              <input type="text" name="zip" id="zip" placeholder="Zipcode" minlength="5" maxlength="5" pattern="\d+" class="form-control" />
              <input type="text" name="latlng" id="latlng" style="display:none;" />
            </div>
            <div onclick="useMyLocation()" class="use-location"><span class="fa fa-map-marker"></span> <span class="underline-txt">Use My Location</span></div>
            <button id="apply-zip-btn" onclick="getQuery();" class="fap-btn" type="button">Apply Zip</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="fap-results-container">
        <!-- START RESULTS -->
        <ul class="fap-results" id="results"></ul>
        <!-- END RESULTS -->
      </div>
      <div class="controls-container">
        @*<div class="fap-results-pdf-wrapper">
              <button class="fap-results-pdf fap-btn">Generate PDF</button>
          </div>*@
        <div id="pagination"></div>
      </div>
    </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuQrdL3fmQmQheZYtgiZS0zuAwu_yZaL8" type="text/javascript"></script>
<script src="~/Scripts/fap-results.js"></script>
