﻿@using Sitecore.Data;
@using Sitecore.Data.Items;
@model BHSearch.Models.FacetView

@if (Model != null)
{
    <div class="radio">
        <label>
            <input class="dcenter-listradio" name="docCat" id="r1" type="radio" value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals("")))) { <text> checked</text> } />All
        </label>
    </div>
    foreach (KeyValuePair<string, int>
                        item in Model.Facet.Value)
    {
        ID tagID = new Sitecore.Data.ID(item.Key);
        Item tagItem = Sitecore.Context.Database.GetItem(tagID);
        @*<input type="radio" name="@Model.Facet.Key" value="@item.Key" @if (Model.Filter.Contains(@item.Key)) { <text> checked</text> }>@item.Key <text>-</text> @item.Value<br/>*@

        <div class="radio">
            <label>
                @*<input type="radio" name="@Model.Facet.Key" value="@tagItem.Name" @if (Model.Filter.Contains(@tagItem.Name)) { <text> checked</text> }>@item.Key <text>-</text> @item.Value<br/>*@
                <input class="dcenter-listradio" name="docCat" id="r1" type="radio" value="@item.Key" @if (Model.Filter.Contains(item.Key)) { <text> checked</text> } />@tagItem.Name

            </label>
        </div>
    }
}

<script>
    $(document).ready(function () {
        var selector = ".dcenter-listradio";
        $(selector).change(function () {
            //if (this.checked) {
            //    $(selector).not(this).prop('checked', false);
            //}
            main();
        });
    });
</script>