﻿@using Sitecore.Mvc

<div class="container">
  @*<h1 class="dcenter-header">@Html.Sitecore().Field("Title")</h1><br>*@
    <form id="docCenterSearchForm">
        <div class="row">            
            <div class="col-md-4 col-xs-11">
                <input id="query" type="text" name="query" placeholder="Enter Group Name" class="form-control" />
            </div>
            <div class="col-md-2 col-md-push-0 col-sm-2 col-xs-3">
                <button type="submit" class="dcenter-search-btn"><span class="fa fa-search"></span></button>
            </div>
            <div class="col-md-4 col-xs-11">
                <input id="tin" type="text" name="tin" placeholder="Enter Provider NPI" class="form-control"/>
            </div>
            <div class="col-md-2 col-md-push-0 col-sm-2 col-xs-3">
                <input type="button" id="searchButton" class="dcenter-search-btn" onclick="searchTin()" value="Search">
            </div>
        </div>
    </form><br>
    <div class="row">
        <div class="col-md-3">
            <div class="dcenter-sort-wrap">
                <label class="dcenter-sort-label hidden-xs">
                    Show
                    <select id="option-sort" class="form-control dcenter-sort">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>entries
                </label>
            </div>
        </div>
        <div class="col-md-6 dcenter-topsort-margin">

            <ul class="">
                <li>
                    <label>Sort By :</label>
                </li>
                <li>
                    <a href="" id="dcenter-datemodified">Date Modified</a>
                </li>
                <li>
                    <a href="" id="dcenter-datecreated">Date Created</a>
                </li>

                <li>
                    <select id="dcenter-az">
                        <option value="A-Z">A-Z</option>
                        <option value="Z-A">Z-A</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12 dcenter-refine-show hidden-xs hidden-sm" id="dcenter-showing-top">Showing 0 - 0 of 0 entries</div>
        <div class="col-md-9">
            <div class="dcenter-results-container">
                <ul id="results" class="dcenter-results"></ul>
            </div>
            <div class="dcenter-controls-container row">

                <div class="col-md-6 dcenter-bottom-showing" id="dcenter-showing-bottom">Showing 0 - 0 of 0 entries</div>
                <div id="pagination" class="col-md-6"></div>

            </div>

        </div>
    </div>
    <div class="submit-progress hidden">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Loading... Please Wait</label>
</div>
</div>
 
<script type="text/javascript" src="~/Scripts/CitizenshipReporting.js"></script>
