﻿@using Sitecore.Mvc
@using BPP93Helix.Feature.PageContent.Models

<div> 
    <link href="~/Content/bppAppList.css" rel="stylesheet" />
    <link href="~/Content/bppDataTable.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
       
        <div class="row" style="padding:10px">
            <div class="left" float="left">
                <p>
            </div>
            <div style="padding:15px">
                <h3>Job Openings</h3>     
                <p>This is a list of all available Baptist Physician Partners job openings.</p>           
            </div>
            <div class="provider table-responsive row" style="margin-right: -100px !important">
                @try
                {
                    if (Model != null && Model.Jobs.Count > 0)
                    {
                        int i = 1;
                    <table id="applicant-table" class="display dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Job ID</th>
                                <th>Location</th>
                                <th>Department</th>
                                <th>Full/Part-time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.Jobs)
                            {
                                if (i % 2 == 0)
                                {
                                    <tr class="even">
                                        <td>@c.JobTitle</td>
                                        <td>@c.JobID</td>
                                        <td>@c.LocationName</td>
                                        <td>@c.DepartmentName</td>
                                        <td>@c.Type</td>
                                        <td><a href="@c.Link">Details</a></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="odd">
                                        <td>@c.JobTitle</td>
                                        <td>@c.JobID</td>
                                        <td>@c.LocationName</td>
                                        <td>@c.DepartmentName</td>
                                        <td>@c.Type</td>
                                        <td><a href="@c.Link" target="_blank">Details</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                    <p>There are no current available jobs.</p>
                    }
                } catch (Exception e)
                {
                    <p>@e.Message</p>
                }
            </div>
            <br />
        </div>
    @*IF YOU ADD CONTENT TO THIS SITE DECREASE THE SIZE OF THIS DIV IN THE site.css file*@
    @*The Purpose of this DIV is to push the Footer down far enough to be at the bottom of the screen without covering up content*@
    <div class="extraDIV">        
    </div>
</div>


