﻿@using Sitecore.Mvc
<div id="content-left-column">
    <div id="content-heading">
        @Html.Sitecore().Field("heading")
    </div>
    <div id="content-subheading-content">
        @Html.Sitecore().Field("subheading")
    </div>
    <div id="content-heading" class="space-between-headings">
        @Html.Sitecore().Field("SecondHeading")
    </div>
    <div id="content-page" class="space-between-headings list-columnCount-2">
        @Html.Sitecore().Field("PageContent")
    </div>
</div>

