﻿@using Sitecore.Mvc
<style>
    .bioContent p {
        font-size: 12px !important;
    }
</style>
<div class="row leadership">
    <ul class="col-sm-12 leaders-flex-container leaders-wrap">
        @foreach (var leaders in Model.Item.Children)
        {
            <li class="row col-sm-4">
                <div class="leadershipPic col-sm-5" style="padding-left:12px !important;padding-right:12px !important;">
                    @Html.Sitecore().Field("Photo", leaders, new { @class = "img-responsive" })
                    <h3 style="font-size:12px !important"> @Html.Sitecore().Field("FirstName", leaders) @Html.Sitecore().Field("LastName", leaders)@*, @Html.Sitecore().Field("Suffix", leaders)*@</h3>
                    <h6>@Html.Sitecore().Field("JobTitle", leaders)</h6>
                </div>
                <div class="bioContent col-sm-7">
                    @Html.Sitecore().Field("Bio", leaders)
                </div>
            </li>
        }
    </ul>
</div>