﻿
@using Sitecore.Mvc

<!-- Two Column Right Layout Start -->
<!-- Left Column Start -->
<div id="content-left-column" class="col-md-7">

    <div id="content-heading">
        @Html.Sitecore().Field("heading")
    </div>

    <div id="content-subheading-content">
        @Html.Sitecore().Field("subheading")
    </div>

</div>
<!-- Left Column End -->
<!-- Main Right Column Start -->
<div id="right-column" class="col-md-5">
    @Html.Sitecore().Placeholder("rightsidebar")
</div>
<!-- Main Right Column End -->
<!-- Two Column Right Layout End -->
