﻿<style>
    .find-doc hr {
        margin-bottom: 5px;
    }
    .fap-help-txt {
        font-size: 12px;
        font-style: italic;
    }
</style>
<!-- HIDING FROM MAIN PAGE
<form id="miniFAP">
    <div class="find-doc find-doc-font">
        <div class="find-doc-form-head text-center update">
            <h4>Find a Provider</h4>
            <hr>
            <span class="fap-help-txt">All Fields Optional</span>
        </div>
        <label>Last name</label>
        <input id="fap-name" name="fap-name" type="text" placeholder="Last Name">

        <label>Specialty</label>
        <select id="fap-specialty" name="fap-specialty" class="find-doc-select">
            <option value="any">Select a Specialty</option>
        </select>

        <label>Zip Code</label>
        <input id="fap-zip" name="fap-zip" type="text" placeholder="Zip Code">

        <label>Hospital Affiliation</label>
        <select id="fap-hospital" name="fap-hospital" class="find-doc-select">
            <option value="any">Select a Hospital</option>
        </select>

        <div class="find-doc-form-search-btn">
            <button type="submit">Search</button>
        </div>
    </div>
</form>
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuQrdL3fmQmQheZYtgiZS0zuAwu_yZaL8" type="text/javascript"></script>
<script>
    var query = '';
    var filters = {};
    var initFacets;

    $(function () {
        querySolrFacets();

        $('#miniFAP').submit(function (e) {
            e.preventDefault();
            miniQuery();
            return false;
        })
    });


    // get facets
    function querySolrFacets(query) {
        $.post('@Url.Action("PhysicianFacets", "FAP")', query,
            function (data) {
                if (data.Status == "Error") {
                    // insert error handling
                    console.log(data);
                } else {
                    initFacets = data;
                    //initFacets.primaryspecialty_s.sort(alphaSort);
                    if (initFacets.specialties_pipe != null) {
                        initFacets.specialties_pipe.sort(alphaSort);
                        $.each(initFacets.specialties_pipe, function (key, value) {
                            $('#fap-specialty').append('<option value="' + value.Key + '">' + value.Key + '</option>');
                        });
                    }
                    if (initFacets.hospitalaffiliations_pipe != null) {
                        initFacets.hospitalaffiliations_pipe.sort(alphaSort);

                        $.each(initFacets.hospitalaffiliations_pipe, function (key, value) {
                            $('#fap-hospital').append('<option value="' + value.Key + '">' + value.Key + '</option>');
                        })
                    }
                }
            }).fail(function (data) {
                // insert error handling
                console.log(data);
            });
    }

    function alphaSort(a, b) {
        var aName = a.Key.toLowerCase();
        var bName = b.Key.toLowerCase();

        return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
    }

    function miniQuery() {
        geocoder = new google.maps.Geocoder();
        var fapName = $('#fap-name').val() ? $('#fap-name').val() : '';
        var fapSpecialty = $('#fap-specialty').val() ? $('#fap-specialty').val() : '';
        var fapHospital = $('#fap-hospital').val() ? $('#fap-hospital').val() : '';
        var address = $('#fap-zip').val() ? $('#fap-zip').val() : '';
        var latlng = '';

        var query = '/search/fap results?fap-name=' + fapName + '&fap-specialty=' + fapSpecialty + '&fap-hospital=' + fapHospital + '&fap-zip=' + address +'&fap-location=';
        if (address != undefined && address != null && address != '') {
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    lat = results[0].geometry.location.lat();
                    long = results[0].geometry.location.lng();
                    if (lat && long) {
                        $('#latlng').val(lat + ',' + long);
                        latlng = lat + ',' + long;
                    } else {
                        latlng = '';
                    }

                    //Pass info with latlng to results page
                    window.location = query + latlng;

                } else {
                    Console.log("Geocode ERROR: " + status);
                }
            });
        } else if (address == '') {
            //Pass info w/o latlng to results page
            window.location = query;
        }
    }
</script>