﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using BHUser;
@using BHUser.Components;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />

    <link href="~/Content/bpp.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,300,600,700,800" rel="stylesheet" type="text/css" />*@

    <link href="~/Assets/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

    <link rel="stylesheet" href="~/Assets/Content/font-awesome.css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />*@
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @*@Html.Sitecore().VisitorIdentification()*@
</head>
<body>
    <div>
        <!-- This is coming from _layout -->
        @{Html.RenderAction("header", "Shared");}
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        @{Html.RenderAction("footer", "Shared");}
        @*@Html.Partial("footer")*@
    </div>

    <script src="~/Scripts/header_footer.js"></script>
    <script src="~/Scripts/wffm.js"></script>
    <script src="~/Scripts/PhysicianSearch.js"></script>
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
</body>
</html>
