﻿@using Sitecore.Mvc;
@model BPP93Helix.Feature.PageContent.Models.Login

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
    @Html.Sitecore().FormHandler("Login", "Submit")

<div class="find-doc">
    <div class="form-head text-center">
        <h4>User Login</h4>
        <hr>
    </div>
    <label>Username</label>
    @Html.TextBoxFor(Model => Model.UserName)

    <label>Password</label>
    @Html.PasswordFor(Model => Model.Password)

    <div class="login-box-btn">
        <input type="submit" value="Login" />
        <!--<button type="button">Login</button>-->
    </div>
</div>

}