﻿<div class="not-mem button">
    <button type="button" onclick="location.href = '/home/application'" formaction="/home/apply" name="btnNotAMember">Not a member?</button>
</div>
<div class="not-mem button">
    <button type="button" onclick="location.href = '/home/application/returning member'" formaction="/home/apply" name="btnAddToMyGroup">Add to my Group</button>
</div>
