﻿@using Sitecore.Mvc;
@using Sitecore.Data.Items;
@using BPP93Helix.Feature.PageContent.Models;
@model BPPBreadcrumb
@if (Model != null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="bpp-breadcrumbs">
                <ol>
                    @foreach (Crumb crumb in Model.Crumbtrail)
                    {
                        if (crumb.Type == "link")
                        {
                            <li>
                                <a href="@crumb.Url">@crumb.Text</a>
                            </li>
                        }
                        else if (crumb.Type == "label")
                        {
                            <li class="crumb-label">@crumb.Text</li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
}