﻿<div class="footer">
    <div class="container-fluid" style="margin-top:-20px !important">
        <div class="row">
            <div class="col-sm-5 padd-t">
                <div class="cont">
 
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="middle-sec-foot">
                <p style="border-top: 3px solid; border-bottom: 3px solid; padding-top: 10px; padding-bottom: 10px"> Baptist Physician Partners  <br /> 841 Prudential Drive <br /> Suite 1450 <br /> Jacksonville, FL 32207</p>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="middle-sec-foot" style="margin: 0px auto;">

                <ul>
                    <li class="middle-sec-foot-bot-border" style="border-top: 3px solid #83b0ca;">
                        <p style="margin-top:10px;">Phone: <span>(904) 202-6BPP (6277)</span></p>
                    </li>
                    <li class="middle-sec-foot-bot-border">
                        <p>FAX: <span>(904) 391-5321</span></p>
                    </li>
                    <li class="middle-sec-foot-bot-border">
                        <a href="mailto:bpp@bmcjax.com">
                            <p>Email: <span>bpp@bmcjax.com</span></p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.baptistjax.com/" target="_blank">
                            <p><span>www.baptistjax.com</span></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-5 right-foot-sec text-center footer-bold-text" style="background: #2e5e8c !important">
            <p style="border-top: 3px solid; border-bottom: 3px solid; margin-top: 0px !important;">Baptist Physician Partners, LLC is a physician-led clinically integrated provider network in Northeast Florida. This new model of care brings employed physicians, independent physicians, and the resources of Baptist Health into a clinically and financially aligned partnership.</p>

            <h6 class="footer-bold-text">&#169; 2018 Baptist Health</h6>
        </div>
    </div>
</div>
