﻿@using Sitecore;
@using BPP93Helix.Feature.PageContent.Models
@using Sitecore.Abstractions
@using Sitecore.Pipelines.GetSignInUrlInfo
@model BppHeader
<div class="to-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                @if (Model != null && Model.menu != null)
                {
                    <a href="/"><img src="@Model.menu.SiteLogoURL" class="img-responsive logo" /></a>
                }
                else
                {
                    <img src="~/Images/bpm logo.png" class="img-responsive logo">
                }
            </div>
            <div class="col-sm-7">
                <ul class="top-icons hidden-xs hidden-sm hidden-md">
                    @if (Model != null && Model.menu != null && Model.menu.MenuItems != null)
                    {
                      if (!Sitecore.Context.User.IsAuthenticated)
                      {
                        <li>
                          @{
                            var corePipelineManager = DependencyResolver.Current.GetService<BaseCorePipelineManager>();
                            var args = new GetSignInUrlInfoArgs("website", "/Admin/Master Lookup");
                            GetSignInUrlInfoPipeline.Run(corePipelineManager, args);
                            foreach (var signIn in args.Result)
                            {
                              using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@action = signIn.Href}))
                              {
                                <button class="login-button" type="submit" id="loginButton">
                                  <figure>
                                    <img class="login-button-img" runat="server" src="/Images/icon_login.png" />
                                    <figcaption>User Login</figcaption>
                                  </figure>
                                </button>
                              }
                            }
                          }
                        </li>
                        }
                        foreach (var bppMenuItem in Model.menu.MenuItems)
                        {
                        <li>
                            <a href="@bppMenuItem.MenuItemURL">
                                <figure>
                                    <img src='@bppMenuItem.MenuItemLogo' />
                                    <figcaption>@bppMenuItem.MenuItemText</figcaption>
                                </figure>
                            </a>
                        </li>
                      } 
                    } 
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header-nav-wrap">
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle" data-toggle="modal" data-target="#myModal">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="bpp-navbar">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="container">
                        <ul class="nav navbar-nav top-nav pull-right">
                            @if (Model != null && Model.nav != null)
                            {
                                foreach (var bppNav in Model.nav)
                                {
                                    <div class="dropdown">
                                        @if (@bppNav.NavItemText.Contains("Provider") || @bppNav.NavItemText.Contains("Payor") || @bppNav.NavItemText.Contains("Patient") || @bppNav.NavItemText.Contains("Health"))
                                        {
                                        <li class="dropbtn" data-title="i am a..">
                                            <a href='@bppNav.NavItemURL'>
                                                <i class="fa" aria-hidden="true"></i>
                                                @*fa-chevron-down*@
                                                @bppNav.NavItemText
                                            </a>
                                        </li>
                                        }
                                        else if (@bppNav.NavItemText.Contains("Admin") || @bppNav.NavItemText.Contains("Employer"))
                                        {
                                            <li class="dropbtn" data-title="i am an..">
                                                <a href='@bppNav.NavItemURL'>
                                                    <i class="fa" aria-hidden="true"></i>
                                                    @* fa-chevron-down*@
                                                    @bppNav.NavItemText
                                                </a>
                                            </li>
                                        }
                                        else if (@bppNav.NavItemText.Contains("About") || @bppNav.NavItemText.Contains("Citizenship Reporting"))
                                        {
                                            <li class="dropbtn">
                                                <a href='@bppNav.NavItemURL'>
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    @bppNav.NavItemText
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="dropbtn" data-title="">
                                                <a href='@bppNav.NavItemURL'>
                                                    <i class="fa" aria-hidden="true"></i>
                                                    @* fa-chevron-down *@
                                                    @bppNav.NavItemText
                                                </a>
                                            </li>
                                        }

                                        @if (bppNav.NavLinks != null && bppNav.NavLinks.Count > 0)
                                        {
                                            <div class="dropdown-content">
                                                @foreach (var bppNavLinks in bppNav.NavLinks)
                                                {
                                                    <a href='@bppNavLinks.NavLinkURL'>@bppNavLinks.NavLinkText</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                                if (Sitecore.Context.User.IsAuthenticated)
                                {
                                    <div class="dropdown">
                                        <li>
                                            @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
                                            {
                                                <button name="logout" type="submit" value="logout" class="bpp-logoutbtn">Logout</button>
                                            }
                                        </li>
                                    </div>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content nav-modal">
            <div class="modal-header nav-modal-head">
                <div class="row modal-icons-parent">
                    <ul class="modal-icons col-xs-12 list-style-none">
                        @if (Model != null && Model.menu != null && Model.menu.MenuItems != null)
                        {
                          <li>
                            @{
                              var corePipelineManager = DependencyResolver.Current.GetService<BaseCorePipelineManager>();
                              var args = new GetSignInUrlInfoArgs("website", "/Admin/Master Lookup");
                              GetSignInUrlInfoPipeline.Run(corePipelineManager, args);
                              foreach (var signIn in args.Result)
                              {
                                using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@action = signIn.Href}))
                                {
                                  <button class="login-button" type="submit" id="loginButton">
                                    <figure>
                                      <img class="login-button-img" runat="server" src="/Images/icon_login.png" />
                                      <figcaption>User Login</figcaption>
                                    </figure>
                                  </button>
                                }
                              }
                            }
                          </li>
                            foreach (var bppMenuItem in Model.menu.MenuItems)
                            {
                                <li class='@(Sitecore.Context.User.IsAuthenticated ?"col-xs-3":"col-xs-4")'><a href='@bppMenuItem.MenuItemURL'><figure><div class="imgicon"><img src='@bppMenuItem.MenuItemLogo'></div><figcaption>@bppMenuItem.MenuItemText</figcaption></figure></a></li>
                            }
                        }
                    </ul>

                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @if (Model != null && Model.nav != null)
                {
                    foreach (var bppNav in Model.nav)
                    {
                        <label class="modal-navHeader"><a href='@bppNav.NavItemURL'>@bppNav.NavItemText</a></label>
                        if (bppNav.NavLinks != null && bppNav.NavLinks.Count > 0)
                        {
                            <div class="modal-navLinks">
                                <ul>
                                    @foreach (var bppNavLinks in bppNav.NavLinks)
                                    {
                                        <li><a href='@bppNavLinks.NavLinkURL'>@bppNavLinks.NavLinkText</a></li>

                                    }
                                </ul>
                            </div>
                        }
                    }
                    if (Sitecore.Context.User.IsAuthenticated)
                    {
                        <label class="modal-navHeader">
                            @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
                            {
                                <button name="logout" type="submit" value="logout" class="bpp-logoutbtn-mbl">Logout</button>
                            }
                        </label>
                    }
                }
                <div class="modal-footer-text">
                    <p class="">
                        Baptist Physician Partners, LLC is a physician-led clinically integrated provider network in Northeast Florida. This new
                        model of care brings employed physicians, independent physicians, and the resources of Baptist Health into a clinically
                        and financially aligned partnership.
                    </p>

                    <p>Copyright 2013 baptist health</p>
                </div>
            </div>
        </div>
    </div>
</div>