﻿@using Sitecore.Mvc
@using Sitecore.Resources.Media
@using BPP93Helix.Feature.PageContent.Models
@model CarouselComponentItems
<script type="text/javascript">
    function openInNewTab(url)
    {
        var win = window.open(url, '_blank');
        win.focus();
    }
</script>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="18000">            
    <ol class="carousel-indicators">                
        @for (int i = 0; i < Model._Items.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color: #004F8E; border-color:#004F8E"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i" style="background-color: #004F8E; border-color:#004F8E"></li>
            }
        }

        @*<li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color: #004F8E; border-color:#004F8E"></li>
        <li data-target="#myCarousel" data-slide-to="1" style="background-color: #004F8E; border-color:#004F8E"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="background-color: #004F8E; border-color:#004F8E"></li>*@               
    </ol>            
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model._Items.Count; i++)
        {
            if (i == 0)
            {
                <div class="item active">
                    <img src="@MediaManager.GetMediaUrl(@Model._Items[i].ImgField.MediaItem)" alt="" class="img-responsive col-md-12" />
                    <div class="carousel-caption-bh">
                        <h1>@Model._Items[i].ImageTitle.ToString()</h1>
                        <p>@Model._Items[i].ImageText.ToString()</p>
                        <button onclick="window.location='@Model._Items[i].ButtonURL'" class="btn btn-success">@Model._Items[i].ButtonText</button>
                    </div>
                </div>
            }
            else
            {
                <div class="item">
                    <img src="@MediaManager.GetMediaUrl(@Model._Items[i].ImgField.MediaItem)" alt="" class="img-responsive col-md-12" />
                    <div class="carousel-caption-bh">
                        <h1>@Model._Items[i].ImageTitle.ToString()</h1>
                        <p>@Model._Items[i].ImageText.ToString()</p>
                        <button class="btn btn-success" onclick="openInNewTab('@Model._Items[i].ButtonURL')">@Model._Items[i].ButtonText</button>
                    </div>
                </div>
            }
        }               
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>